.form-preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(244, 248, 251, 0.7), rgba(244, 248, 251, 0.7));
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    display: inline-block;
    width: 54px;
    height: 54px;
    position: relative;
    border: 4px solid $color-blue-2;
    animation: loader 2s infinite ease;
  }

  &__inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: $color-blue-2;
    animation: loader-inner 2s infinite ease-in;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(180deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes loader-inner {
    0% {
      height: 0%;
    }

    25% {
      height: 0%;
    }

    50% {
      height: 100%;
    }

    75% {
      height: 100%;
    }

    100% {
      height: 0%;
    }
  }

  &.is-hide{
    display: none;
  }
}
