%h1,
%h2,
%h3,
%h4,
%h5 {
  font-family: $headings-font-family;
  letter-spacing: 0;
  color: $color-gray-1;
  margin: 0;
}

%h1 {
  font-weight: 700;

  @include media(sm) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @include media(md) {
    font-size: 64px;
    line-height: 64px;
    padding-top: 38px;
    padding-bottom: 39px;
  }

  @include media(lg) {
    font-size: 72px;
    line-height: 72px;
    padding-bottom: 56px;
    padding-top: 47px;
  }
}

%h2 {
  font-weight: 700;

  @include media(sm) {
    font-size: 24px;
    line-height: 24px;
  }

  @include media(md) {
    font-size: 48px;
    line-height: 48px;
  }
  
  @include media(xl) {
    padding-bottom: 0;
  }
}

%h3 {
  font-weight: 700;

  @include media(sm) {
    font-size: 18px;
    line-height: 20px;
    padding-top: 0;
    padding-bottom: 10px;
  }

  @include media(md) {
    font-size: 36px;
    line-height: 40px;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  @include media(lg) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

%h4 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;

  @include media(md) {
    font-size: 24px;
    line-height: 32.4px;
  }

  @include media(lg) {
    font-size: 28px;
    line-height: 40px;
  }

  @include media(xl) {
    font-size: 32px;
    line-height: 42.3px;
  }
}

%h5 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;

  /* @include media(md) {
    font-size: 24px;
    line-height: 32.4px;
  }

  @include media(lg) {
    font-size: 28px;
    line-height: 40px;
  }

  @include media(xl) {
    font-size: 32px;
    line-height: 42.3px;
  } */
}