/* Fonts generator */
@mixin font-face($font-name, $font-path, $font-weight: 400, $font-style: normal) {
	@font-face {
		font-family: $font-name;
		font-style: $font-style;
		font-weight: $font-weight;
		font-display: swap;
		src: url('#{$font-path}.woff2') format('woff2'),
			url('#{$font-path}.woff') format('woff'),
	}
}

@mixin font-face-woff($font-name, $font-path, $font-weight: 400, $font-style: normal) {
	@font-face {
		font-family: $font-name;
		font-style: $font-style;
		font-weight: $font-weight;
		font-display: swap;
		src: url('#{$font-path}.woff') format('woff');
	}
}

@mixin font-face-ttf($font-name, $font-path, $font-weight: 400, $font-style: normal) {
	@font-face {
		font-family: $font-name;
		font-style: $font-style;
		font-weight: $font-weight;
		font-display: swap;
		src: url('#{$font-path}.ttf') format('truetype');
	}
}

/* Inline-block */
@mixin inlineblock($value: top) {
	display: inline-block;
	vertical-align: $value;
}

/* Absolute centered */
@mixin center {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}

/* Clearfix */
@mixin clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}

/* Media queries max-width */
@mixin media-max($width: 1200px) {
	@if map_has_key($grid-breakpoints, $width) {
    $width: map_get($grid-breakpoints, $width);
  }

	@media (max-width: $width - 1) {
		@content;
	}
}

/* Media queries min-width */
@mixin media($width: 1200px) {
  @if map_has_key($grid-breakpoints, $width) {
    $width: map_get($grid-breakpoints, $width);
  }

	@media (min-width: $width) {
		@content;
	}
}

/* Media queries mix */
@mixin media-mix($min-width: 768px, $max-width: 1200px) {
	@media (min-width: $min-width) and (max-width: $max-width - 1) {
		@content;
	}
}

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function rem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}rem;
}

@mixin body-regular {
  color: $color-black;
  font-size: $font-size14;
  line-height: 1.25rem;
  letter-spacing: 0;
}

@mixin body-large-bold {
  color: $color-black;
  font-size: $font-size16;
  line-height: 1.25rem;
  letter-spacing: 0;
}

@mixin body-large {
  color: $color-black;
  font-size: $font-size16;
  line-height: 1.5rem;
  letter-spacing: 0;
  font-weight: $font-weight-300;
}

@mixin display-only-mobile {
  @include media-breakpoint-up(lg) {
      display: none !important;
  }
}

@mixin display-only-desktop {
  @include media-breakpoint-down(md) {
      display: none !important;
  }
}

@mixin scrollbars($size, $foreground-color, $background-color) {
	// For Google Chrome
	&::-webkit-scrollbar {
	  width:  $size;
	  height: $size;
	}

	&::-webkit-scrollbar-thumb {
	  background: $foreground-color;
	  height: $size * 2;
	}

	&::-webkit-scrollbar-track {
	  background: $background-color;
	}

	::-webkit-scrollbar-button {
		width: $size * 2;
		height: $size * 2;
		border-radius: 50%;
	}

	// For Internet Explorer
	& {
	  scrollbar-face-color: $foreground-color;
	  scrollbar-track-color: $background-color;
	}
}
