.bg-white{
  background: $color-white;
}

.color-black{
  color: $color-black;
}

// margin
.mb, .my {
  @for $i from 1 through 20 {
    @for $i from 0 through 1 {
      &-#{$i} {
        margin-bottom: rem(4 * $i) !important;
      }
    }

    &-#{$i + 1} {
      margin-bottom: rem(16 * $i * .5) !important;
    }

    &-0 {
      margin-bottom: 0 !important;
    }
  }

  @include media(sm) {
    @for $i from 0 through 1 {
      &-sm-#{$i} {
        margin-bottom: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-sm-#{$i + 1} {
        margin-bottom: rem(16 * $i * .5) !important;
      }
    }

    &-sm-0 {
      margin-bottom: 0 !important;
    }
  }

  @include media(md) {
    @for $i from 0 through 1 {
      &-md-#{$i} {
        margin-bottom: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-md-#{$i + 1} {
        margin-bottom: rem(16 * $i * .5) !important;
      }
    }

    &-md-0 {
      margin-bottom: 0 !important;
    }
  }

  @include media(lg) {
    @for $i from 0 through 1 {
      &-lg-#{$i} {
        margin-bottom: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-lg-#{$i + 1} {
        margin-bottom: rem(16 * $i * .5) !important;
      }
    }

    &-lg-0 {
      margin-bottom: 0 !important;
    }
  }

  @include media(xl) {
    @for $i from 0 through 1 {
      &-xl-#{$i} {
        margin-bottom: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-xl-#{$i + 1} {
        margin-bottom: rem(16 * $i * .5) !important;
      }
    }

    &-xl-0 {
      margin-bottom: 0 !important;
    }
  }
}

.mt, .my {
  @for $i from 0 through 1 {
    &-#{$i} {
      margin-top: rem(4 * $i) !important;
    }
  }

  @for $i from 1 through 20 {
    &-#{$i + 1} {
      margin-top: rem(16 * $i * .5) !important;
    }
  }

  @include media(sm) {
    @for $i from 0 through 1 {
      &-sm-#{$i} {
        margin-top: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-sm-#{$i + 1} {
        margin-top: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(md) {
    @for $i from 0 through 1 {
      &-md-#{$i} {
        margin-top: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-md-#{$i + 1} {
        margin-top: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(lg) {
    @for $i from 0 through 1 {
      &-lg-#{$i} {
        margin-top: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-lg-#{$i + 1} {
        margin-top: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(xl) {
    @for $i from 0 through 1 {
      &-xl-#{$i} {
        margin-top: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-xl-#{$i + 1} {
        margin-top: rem(16 * $i * .5) !important;
      }
    }
  }
}

.ml, .mx {
  @for $i from 0 through 1 {
    &-#{$i} {
      margin-left: rem(4 * $i) !important;
    }
  }

  @for $i from 1 through 20 {
    &-#{$i + 1} {
      margin-left: rem(16 * $i * .5) !important;
    }
  }

  @include media(sm) {
    @for $i from 0 through 1 {
      &-sm-#{$i} {
        margin-left: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-sm-#{$i + 1} {
        margin-left: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(md) {
    @for $i from 0 through 1 {
      &-md-#{$i} {
        margin-left: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-md-#{$i + 1} {
        margin-left: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(lg) {
    @for $i from 0 through 1 {
      &-lg-#{$i} {
        margin-left: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-lg-#{$i + 1} {
        margin-left: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(xl) {
    @for $i from 0 through 1 {
      &-xl-#{$i} {
        margin-left: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-xl-#{$i + 1} {
        margin-left: rem(16 * $i * .5) !important;
      }
    }
  }
}

.mr, .mx {
  @for $i from 0 through 1 {
    &-#{$i} {
      margin-right: rem(4 * $i) !important;
    }
  }

  @for $i from 1 through 20 {
    &-#{$i + 1} {
      margin-right: rem(16 * $i * .5) !important;
    }
  }

  @include media(sm) {
    @for $i from 0 through 1 {
      &-sm-#{$i} {
        margin-right: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-sm-#{$i + 1} {
        margin-right: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(md) {
    @for $i from 0 through 1 {
      &-md-#{$i} {
        margin-right: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-md-#{$i + 1} {
        margin-right: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(lg) {
    @for $i from 0 through 1 {
      &-lg-#{$i} {
        margin-right: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-lg-#{$i + 1} {
        margin-right: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(xl) {
    @for $i from 0 through 1 {
      &-xl-#{$i} {
        margin-right: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-xl-#{$i + 1} {
        margin-right: rem(16 * $i * .5) !important;
      }
    }
  }
}

// padding
.pb, .py {
  @for $i from 0 through 1 {
    &-#{$i} {
      padding-bottom: rem(4 * $i) !important;
    }
  }

  @for $i from 1 through 20 {
    &-#{$i + 1} {
      padding-bottom: rem(16 * $i * .5) !important;
    }
  }

  @include media(sm) {
    @for $i from 0 through 1 {
      &-sm-#{$i} {
        padding-bottom: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-sm-#{$i + 1} {
        padding-bottom: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(md) {
    @for $i from 0 through 1 {
      &-md-#{$i} {
        padding-bottom: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-md-#{$i + 1} {
        padding-bottom: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(lg) {
    @for $i from 0 through 1 {
      &-lg-#{$i} {
        padding-bottom: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-lg-#{$i + 1} {
        padding-bottom: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(xl) {
    @for $i from 0 through 1 {
      &-xl-#{$i} {
        padding-bottom: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-xl-#{$i + 1} {
        padding-bottom: rem(16 * $i * .5) !important;
      }
    }
  }
}

.pt, .py {
  @for $i from 0 through 1 {
    &-#{$i} {
      padding-top: rem(4 * $i) !important;
    }
  }

  @for $i from 1 through 20 {
    &-#{$i + 1} {
      padding-top: rem(16 * $i * .5) !important;
    }
  }

  @include media(sm) {
    @for $i from 0 through 1 {
      &-sm-#{$i} {
        padding-top: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-sm-#{$i + 1} {
        padding-top: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(md) {
    @for $i from 0 through 1 {
      &-md-#{$i} {
        padding-top: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-md-#{$i + 1} {
        padding-top: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(lg) {
    @for $i from 0 through 1 {
      &-lg-#{$i} {
        padding-top: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-lg-#{$i + 1} {
        padding-top: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(xl) {
    @for $i from 0 through 1 {
      &-xl-#{$i} {
        padding-top: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-xl-#{$i + 1} {
        padding-top: rem(16 * $i * .5) !important;
      }
    }
  }
}

.pl, .px {
  @for $i from 0 through 1 {
    &-#{$i} {
      padding-left: rem(4 * $i) !important;
    }
  }

  @for $i from 1 through 20 {
    &-#{$i + 1} {
      padding-left: rem(16 * $i * .5) !important;
    }
  }

  @include media(sm) {
    @for $i from 0 through 1 {
      &-sm-#{$i} {
        padding-left: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-sm-#{$i + 1} {
        padding-left: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(md) {
    @for $i from 0 through 1 {
      &-md-#{$i} {
        padding-left: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-md-#{$i + 1} {
        padding-left: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(lg) {
    @for $i from 0 through 1 {
      &-lg-#{$i} {
        padding-left: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-lg-#{$i + 1} {
        padding-left: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(xl) {
    @for $i from 0 through 1 {
      &-xl-#{$i} {
        padding-left: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-xl-#{$i + 1} {
        padding-left: rem(16 * $i * .5) !important;
      }
    }
  }
}

.pr, .px {
  @for $i from 0 through 1 {
    &-#{$i} {
      padding-right: rem(4 * $i) !important;
    }
  }

  @for $i from 1 through 20 {
    &-#{$i + 1} {
      padding-right: rem(16 * $i * .5) !important;
    }
  }

  @include media(sm) {
    @for $i from 0 through 1 {
      &-sm-#{$i} {
        padding-right: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-sm-#{$i + 1} {
        padding-right: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(md) {
    @for $i from 0 through 1 {
      &-md-#{$i} {
        padding-right: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-md-#{$i + 1} {
        padding-right: rem(16 * $i * .5) !important;
      }
    }
  }

  @include media(lg) {
    @for $i from 0 through 1 {
      &-lg-#{$i} {
        padding-right: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-lg-#{$i + 1} {
        padding-right: rem(16 * $i * .5) !important;
      }
    }
  }
  
  @include media(xl) {
    @for $i from 0 through 1 {
      &-xl-#{$i} {
        padding-right: rem(4 * $i) !important;
      }
    }

    @for $i from 1 through 20 {
      &-xl-#{$i + 1} {
        padding-right: rem(16 * $i * .5) !important;
      }
    }
  }
}
