/* Color */
$color-background-1:     #F4F8FB;

$color-white:            #FFFFFF;
$color-black:            #000000;

$color-gray-1:           #1D1D1D;
$color-gray-2:           #767676;
$color-gray-3:           #AEAEAE;
$color-gray-4:           #E8EBF0;

$color-blue-1:           #1B7BD4;
$color-blue-2:           #009DE0;
$color-blue-3:           #99D8F3;
$color-blue-4:           #F2FAFD;

$color-transparent:      transparent;

$themeColor: 'base';

//

$color-gray-1:     #333333;
$color-gray-2:     #E0E0E0;
$color-gray-3:     #AAAAAA;
$color-white:      #FFFFFF;

$color-pink:       #FD238A;
$color-raspberries:#FD2589;

$color-orange-1:   #FF8519;
$color-orange-2:   #FF742E;

$color-red:        #E43C31;
/* fonts */
$font-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font-nunitosans: 'NunitoSans', $font-sans-serif;
$font-inter: 'Inter', $font-sans-serif;
$font-myriad: 'MyriadPro', $font-sans-serif;

$font-base: $font-nunitosans;
$font-base-size: 18px;
$font-base-lineheight: 24px;

$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

//
$font-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font-ceraround: 'CeraRoundPro', $font-sans-serif;
$font-sourcesans: 'SourceSansPro', $font-sans-serif;

$font-base: $font-sourcesans;
$font-base-size: 18px;
$font-base-lineheight: 24px;

// spacers
$spacer: 1rem;
$spacers: (
    0: 0,
    1: ($spacer * (0.25)), //4px
    2: ($spacer * 0.5), //8px
    3: $spacer, //16px
    4: ($spacer * 1.5), //24px
    5: ($spacer * 3), //48px
    6: ($spacer * 2), //32px
    7: ($spacer * 2.5), //40px
    8: $spacer * 3.5, //56px
);

/* headings */
// $headings-font-family:        $font-base !default;
// $headings-font-weight:        $font-weight-400 !default;
// $headings-line-height:        1 !default;
//
$headings-font-family:        $font-ceraround!default;
$headings-font-weight:        $font-weight-700 !default;
$headings-line-height:        1 !default;
// transition
$transition: all 0.25s ease;

// hamburger
$hamburger-size: 40px;
$hamburger-line-height: 2px;
$hamburger-line-width: 32px;
$hamburger-line-color: $color-black;
$hamburger-space: 10px;
$hamburger-translateX: -50%;

//
$hamburger-size: 20px;
$hamburger-line-height: 2px;
$hamburger-line-width: 20px;
$hamburger-line-color: $color-gray-1;
$hamburger-space: 8px;
$hamburger-translateX: -50%;

// border-radius
$border-radius: 3px;


/* grid */
$grid-gutter-width: 16px;

$grid-breakpoints: (
    /* xs: 0,
    sm: 320px,
    md: 768px,
    lg: 1024px,
    xl: 1440px,
    xxl: 1920px */
    xs: 0,
    sm: 320px,
    md: 768px,
    lg: 1280px,
    xl: 1600px,
    xxl: 1920px
) !default;

/* container max-width */
$container-max-widths: (
    /* xs: 320px,
    sm: 700px,
    md: 990px,
    lg: 1300px,
    xl: 1400px,
    xxl: 1780px */
    xs: 0,
    sm: 320px,
    md: 768px,
    lg: 1280px,
    xl: 1600px,
    xxl: 1920px
) !default;
