include ../dropdown/dropdown
include ../menu/menu

mixin header(data)

  //- атрибуты
  - attr = data.attr || {'data-header': ''}

  header.header
    .header__wrapper-info
      ul.header__links
        li.header__links-item
          a(href="#").header__links-item-link О нас
        li.header__links-item
          a(href="#").header__links-item-link Блог
        li.header__links-item
          a(href="#").header__links-item-link Арендодателям
        li.header__links-item
          a(href="#").header__links-item-link Рекламодателям
      .header__info
        .header__info-time
          .header__info-time-clock 10:30 - 22:00
          +icon('arrow')
        .header__info-phone
          a(href="tel:88432270000").header__info-phone-link 8 843 227-00-00
        .header__info-way
          a(href="#").header__info-way-link Как добраться
        .header__info-mall-scheme
          a(href="#").header__info-mall-scheme-link Схема этажей
        .header__info-language En
    .header__wrapper-main
      .header__logo
        a(href="#")
          +img('/required/logo.svg')
      .header__wrapper-menu
        ul.header__menu
          li.header__menu-item
            a(href="#").header__menu-item-link События
          li.header__menu-item
            a(href="#").header__menu-item-link Акции
          li.header__menu-item
            a(href="#").header__menu-item-link Магазины
          li.header__menu-item
            a(href="#").header__menu-item-link Фуд-корт
          li.header__menu-item
            a(href="#").header__menu-item-link.header__menu-item-link--active Развлечения
          li.header__menu-item
            a(href="#").header__menu-item-link Кинотеатр IMAX
          li.header__menu-item
            a(href="#").header__menu-item-link Услуги
        .header__search
          form(action="").header__search-form.is-hidden
            label.header__search-form-box
              input(type="text" required).header__search-form-input
              .header__search-form-placeholder Что вы хотите найти? Например, 
                span события
          .header__search-btn
      +hamburger({})
    .header__entertainments.is-hidden
      ul.header__entertainments-list
        li.header__entertainments-list-item
          a(href="#").header__entertainments-list-item-link Форсаж
        li.header__entertainments-list-item
          a(href="#").header__entertainments-list-item-link Киномакс
        li.header__entertainments-list-item
          a(href="#").header__entertainments-list-item-link TeikaBoom
        li.header__entertainments-list-item
          a(href="#").header__entertainments-list-item-link Мегаленд     