.header {
  width: 100%;
  background: $color-white;
  height: auto;

  @include media(sm) {
    display: flex;
  }

  @include media(md) {
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 18px;
  }

  @include media(lg) {
    display: block;
    padding-right: 0;
  }

  &__wrapper-info,
  &__wrapper-main,
  &__wrapper-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper-info {
    padding-bottom: 0;
    transition: opacity 1s ease-in;

    @include media(sm) {
      padding-top: 0px;
      order: 2;
    }

    @include media(md) {
      padding-top: 27px;
      order: 1;
      margin-left: auto;
      z-index: 99;
    }

    @include media(lg) {
      padding-right: 38px;
      padding-left: 38px;
      padding-top: 23px;
    }

    @include media(xl) {
      padding-right: 80px;
      padding-left: 80px;
    }

    @include media(xxl) {
      padding-right: 100px;
      padding-left: 99px;
    }

    &.is-hidden {
      opacity: 0;
      visibility: hidden;
      height: 0;
      width: 0;
      margin: 0 0;
      padding: 0;
    }
  }

  &__wrapper-main {
    justify-content: flex-start;
    padding-top: 40px;
    padding-bottom: 23px;
    transition: opacity 1s ease-in;

    @include media(sm) {
      order: 1;
      padding-right: 16px;
      padding-left: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
      width: 100%;
      justify-content: space-between;
    }

    @include media(md) {
      order: 2;
      width: 100%;
      margin-top: -56px;
      padding-right: 10px;
      padding-left: 20px;
      padding-top: 20px;
      flex-direction: column;
      margin-right: auto;
    }

    @include media(lg) {
      padding-right: 41px;
      padding-left: 40px;
      padding-top: 35px;
      padding-bottom: 40px;
      flex-direction: row;
      margin: 0;
    }

    @include media(xl) {
      padding-right: 80px;
      padding-left: 80px;
    }

    @include media(xxl) {
      padding-right: 100px;
      padding-left: 100px;
    }

    & .hamburger {
      @include media(sm) {
        display: block;
      }

      @include media(md) {
        display: none;
      }
    }

    &.is-hidden {
      opacity: 0;
      visibility: hidden;
      height: 0;
      width: 0;
      margin: 0 0;
      padding: 0;
    }
  }

  &__wrapper-menu {
    width: 100%;

    @include media(md) {
      margin-top: 10px;
    }

    @include media(lg) {
      margin-top: 0;
    }
  }

  &__links {
    display: none;

    @include media(lg) {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 400;
    }
  }

  &__links-item {
    &:not(:last-child) {
      @include media(lg) {
        margin-right: 25px;
      }

      @include media(xxl) {
        margin-right: 40px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 400;

    img {
      @include media(xl) {
        margin-right: 15px;
      }
    }
  }

  &__info-time {
    .icon {
      width: 10px;
      height: 5px;
      margin-top: 10px;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  &__info-time-clock {
    display: flex;

    &:before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12' stroke='url(%23paint0_linear_5758_234)'/%3E%3Cpath d='M11.9995 5V13.0889L17.9995 18' stroke='url(%23paint1_linear_5758_234)' stroke-linecap='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_5758_234' x1='0.403807' y1='15.8965' x2='24.6595' y2='9.18623' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF742E'/%3E%3Cstop offset='1' stop-color='%23FD238A'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_5758_234' x1='12.0964' y1='13.2662' x2='18.2628' y2='12.4788' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF742E'/%3E%3Cstop offset='1' stop-color='%23FD238A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 25px;
      height: 25px;
      background-size: 25px 25px;
      display: block;

      @include media(md) {
        margin-right: 15px;
      }
    }
  }

  &__info-phone-link {
    @include media(md) {
      width: 16px;
      height: 25px;
    }

    @include media(xl) {
      width: auto;
      height: auto;
    }

    &:before {
      content: "";
      visibility: visible;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='25' viewBox='0 0 16 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.526062' y='0.5' width='14.975' height='24' rx='2.5' stroke='url(%23paint0_linear_5758_226)'/%3E%3Cpath d='M5.19189 22.0834H10.7832' stroke='url(%23paint1_linear_5758_226)' stroke-linecap='round'/%3E%3Cpath d='M0.0413818 19.5833H15.9751' stroke='url(%23paint2_linear_5758_226)'/%3E%3Cpath d='M0.026062 4.16669H16.0011' stroke='url(%23paint3_linear_5758_226)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_5758_226' x1='0.284095' y1='15.8965' x2='16.4641' y2='13.0362' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF742E'/%3E%3Cstop offset='1' stop-color='%23FD238A'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_5758_226' x1='5.28221' y1='22.7192' x2='7.00358' y2='20.0566' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF742E'/%3E%3Cstop offset='1' stop-color='%23FD238A'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_5758_226' x1='0.298747' y1='20.2192' x2='1.11333' y2='16.6285' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF742E'/%3E%3Cstop offset='1' stop-color='%23FD238A'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_5758_226' x1='0.284095' y1='4.80255' x2='1.09678' y2='1.21094' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF742E'/%3E%3Cstop offset='1' stop-color='%23FD238A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 16px;
      height: 25px;
      background-size: 16px 25px;
      display: block;

      @include media(md) {
        margin-right: 15px;
      }
    }
  }

  &__info-way-link {
    @include media(md) {
      width: 23px;
      height: 25px;
    }

    @include media(xl) {
      width: auto;
      height: auto;
    }

    &:before {
      content: "";
      visibility: visible;
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='27' viewBox='0 0 25 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.573 1.18832L1.43345 10.9537C1.27161 11.0251 1.27529 11.256 1.43932 11.3222L10.8849 15.1337C10.937 15.1547 10.9778 15.1967 10.9974 15.2493L14.8094 25.4881C14.8744 25.6627 15.1219 25.6614 15.185 25.4861L23.8419 1.43905C23.9015 1.27361 23.7339 1.11736 23.573 1.18832Z' stroke='url(%23paint0_linear_5758_223)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_5758_223' x1='1.3715' y1='16.8965' x2='23.9331' y2='11.1542' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF742E'/%3E%3Cstop offset='1' stop-color='%23FD238A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 23px;
      height: 25px;
      background-size: 23px 25px;
      display: block;

      @include media(md) {
        margin-right: 15px;
      }
    }
  }

  &__info-mall-scheme-link {
    @include media(md) {
      width: 28px;
      height: 25px;
    }

    @include media(xl) {
      width: auto;
      height: auto;
    }

    &:before {
      content: "";
      visibility: visible;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='27' viewBox='0 0 30 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 16.5C7.5 16.7761 7.72386 17 8 17C8.27614 17 8.5 16.7761 8.5 16.5H7.5ZM11 12.5C11 12.7761 11.2239 13 11.5 13C11.7761 13 12 12.7761 12 12.5H11ZM14.1464 4.64645C13.9512 4.84171 13.9512 5.15829 14.1464 5.35355C14.3417 5.54882 14.6583 5.54882 14.8536 5.35355L14.1464 4.64645ZM18.5 1H19V0.5H18.5V1ZM16 0.5C15.7239 0.5 15.5 0.723858 15.5 1C15.5 1.27614 15.7239 1.5 16 1.5V0.5ZM18 4C18 4.27614 18.2239 4.5 18.5 4.5C18.7761 4.5 19 4.27614 19 4H18ZM15.5 25.5H15V26H15.5V25.5ZM25.8536 15.8536C26.0488 15.6583 26.0488 15.3417 25.8536 15.1464C25.6583 14.9512 25.3417 14.9512 25.1464 15.1464L25.8536 15.8536ZM16 22.5C16 22.2239 15.7761 22 15.5 22C15.2239 22 15 22.2239 15 22.5H16ZM18 26C18.2761 26 18.5 25.7761 18.5 25.5C18.5 25.2239 18.2761 25 18 25V26ZM8.59261 25.3679L8.95738 25.7099L8.59261 25.3679ZM22.4074 10.6321L22.0426 10.2902L22.4074 10.6321ZM21.9074 4.13212L21.5426 3.79015L21.9074 4.13212ZM8.09261 18.8679L7.72784 18.5259L8.09261 18.8679ZM3 20H6.63354V19H3V20ZM8.45738 19.2099L22.2722 4.47409L21.5426 3.79015L7.72784 18.5259L8.45738 19.2099ZM23.3665 4H27V3H23.3665V4ZM28.5 5.5V8.00002H29.5V5.5H28.5ZM27 9.50002L23.8665 9.5L23.8665 10.5L27 10.5L27 9.50002ZM22.0426 10.2902L8.22784 25.0259L8.95738 25.7099L22.7722 10.9741L22.0426 10.2902ZM7.13353 25.5H3V26.5H7.13353V25.5ZM1.5 24V21.5H0.5V24H1.5ZM8.5 16.5V11.5H7.5V16.5H8.5ZM9 11H10.5V10H9V11ZM11 11.5V12.5H12V11.5H11ZM18.5 0.5H16V1.5H18.5V0.5ZM18 1V4H19V1H18ZM15.8536 25.8536L25.8536 15.8536L25.1464 15.1464L15.1464 25.1464L15.8536 25.8536ZM16 25.5V22.5H15V25.5H16ZM15.5 26H18V25H15.5V26ZM14.8536 5.35355L18.8536 1.35355L18.1464 0.646447L14.1464 4.64645L14.8536 5.35355ZM9.75 8.5C9.05964 8.5 8.5 7.94036 8.5 7.25H7.5C7.5 8.49264 8.50736 9.5 9.75 9.5V8.5ZM11 7.25C11 7.94036 10.4404 8.5 9.75 8.5V9.5C10.9926 9.5 12 8.49264 12 7.25H11ZM9.75 6C10.4404 6 11 6.55964 11 7.25H12C12 6.00736 10.9926 5 9.75 5V6ZM10.5 11C10.7761 11 11 11.2239 11 11.5H12C12 10.6716 11.3284 10 10.5 10V11ZM8.5 11.5C8.5 11.2239 8.72386 11 9 11V10C8.17157 10 7.5 10.6716 7.5 11.5H8.5ZM3 25.5C2.17157 25.5 1.5 24.8285 1.5 24H0.5C0.5 25.3807 1.61929 26.5 3 26.5V25.5ZM8.22784 25.0259C7.94427 25.3284 7.54815 25.5 7.13353 25.5V26.5C7.82456 26.5 8.48476 26.214 8.95738 25.7099L8.22784 25.0259ZM23.8665 9.5C23.1754 9.5 22.5152 9.78602 22.0426 10.2902L22.7722 10.9741C23.0557 10.6716 23.4519 10.5 23.8665 10.5L23.8665 9.5ZM28.5 8.00002C28.5 8.82845 27.8284 9.50003 27 9.50002L27 10.5C28.3807 10.5 29.5 9.38074 29.5 8.00002H28.5ZM27 4C27.8284 4 28.5 4.67157 28.5 5.5H29.5C29.5 4.11929 28.3807 3 27 3V4ZM22.2722 4.47409C22.5557 4.17161 22.9519 4 23.3665 4V3C22.6754 3 22.0152 3.28602 21.5426 3.79015L22.2722 4.47409ZM9.75 5C8.50736 5 7.5 6.00736 7.5 7.25H8.5C8.5 6.55964 9.05964 6 9.75 6V5ZM6.63354 20C7.32456 20 7.98476 19.714 8.45738 19.2099L7.72784 18.5259C7.44427 18.8284 7.04815 19 6.63354 19V20ZM3 19C1.61929 19 0.5 20.1193 0.5 21.5H1.5C1.5 20.6716 2.17157 20 3 20V19Z' fill='url(%23paint0_linear_5758_219)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_5758_219' x1='1.35535' y1='18.7172' x2='22.3864' y2='12.3172' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF742E'/%3E%3Cstop offset='1' stop-color='%23FD238A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 28px;
      height: 25px;
      background-size: 28px 25px;
      display: block;

      @include media(md) {
        margin-right: 15px;
      }
    }
  }

  &__info-language {
    cursor: pointer;

    @include media(sm) {
      margin-left: -70px;
      margin-top: -5px;
    }

    @include media(md) {
      margin-left: 0;
      margin-top: 0;
    }
  }

  &__info-time,
  &__info-phone,
  &__info-way,
  &__info-mall-scheme {
    @include media(sm) {
      display: none;
    }

    @include media(md) {
      display: flex;
      margin-right: 20px;
    }

    @include media(lg) {
      margin-right: 25px;
    }

    @include media(xxl) {
      margin-right: 40px;
    }
  }

  &__info-phone-link,
  &__info-way-link,
  &__info-mall-scheme-link {
    @include media(md) {
      visibility: hidden;
    }

    @include media(xl) {
      display: flex;
      visibility: visible;
    }
  }

  &__logo {
    flex-shrink: 0;

    @include media(xs) {
      img {
        width: 130px;
        height: 25px;
      }
    }

    @include media(md) {
      margin-right: auto;

      img {
        width: 200px;
        height: 39px;
      }
    }

    @include media(lg) {
      margin-right: 30px;

      img {
        width: 246px;
        height: 48px;
      }
    }

    @include media(xl) {
      margin-right: 38px;

      img {
        width: 287px;
        height: 56px;
      }
    }

    @include media(xxl) {
      margin-right: 70px;

      img {
        width: 328px;
        height: 64px;
      }
    }
  }

  &__menu {
    flex-grow: 1;
    transition: opacity 0.5s ease-in;

    @include media(sm) {
      display: none;
    }

    @include media(md) {
      margin-right: 19px;
      display: flex;
      justify-content: space-between;
    }

    @include media(lg) {
      margin-right: 28px;
    }

    @include media(xl) {
      margin-right: 35px;
    }

    @include media(xxl) {
      margin-right: 50px;
    }

    &.is-hidden {
      opacity: 0;
      visibility: hidden;
      height: 0;
      width: 0;
      margin: 0 0;
      flex-grow: 0;
      flex: none;
    }
  }

  &__menu-item {
    font-weight: 700;
    font-family: $font-ceraround;

    @include media(md) {
      font-size: 16px;
    }

    @include media(lg) {
      font-size: 20px;
    }

    @include media(xxl) {
      font-size: 24px;
    }
  }

  &__menu-item-link {
    &--active::after {
      content: "";
      display: block;
      height: 3px;
      background: linear-gradient(to right, $color-orange-1, $color-pink);
      border-radius: 3px;
      z-index: 99;

      @include media(md) {
        margin-top: 3px;
      }

      @include media(lg) {
        margin-top: 8px;
      }

      @include media(xl) {
        margin-top: 10px;
      }
    }
  }

  &__search {
    margin-top: -10px;
    flex-shrink: 0;

    @include media(sm) {
      display: none;
    }

    @include media(md) {
      display: flex;
    }

    &.is-open {
      flex-shrink: 1;
      width: 100%;
      border-bottom: 1px solid $color-gray-2;
    }
  }

  &__search-btn {
    width: 25px;
    height: 25px;

    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.6464 26.3536C25.8417 26.5488 26.1583 26.5488 26.3536 26.3536C26.5488 26.1583 26.5488 25.8417 26.3536 25.6464L25.6464 26.3536ZM17.6464 18.3536L25.6464 26.3536L26.3536 25.6464L18.3536 17.6464L17.6464 18.3536ZM11 20.5C5.75329 20.5 1.5 16.2467 1.5 11H0.5C0.5 16.799 5.20101 21.5 11 21.5V20.5ZM20.5 11C20.5 16.2467 16.2467 20.5 11 20.5V21.5C16.799 21.5 21.5 16.799 21.5 11H20.5ZM11 1.5C16.2467 1.5 20.5 5.75329 20.5 11H21.5C21.5 5.20101 16.799 0.5 11 0.5V1.5ZM11 0.5C5.20101 0.5 0.5 5.20101 0.5 11H1.5C1.5 5.75329 5.75329 1.5 11 1.5V0.5Z' fill='url(%23paint0_linear_1778_602)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1778_602' x1='1.40381' y1='16.8965' x2='25.6595' y2='10.1862' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF742E'/%3E%3Cstop offset='1' stop-color='%23FD238A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      width: 25px;
      height: 25px;
      background-size: 25px 25px;
      cursor: pointer;
      display: block;
      transition: all 0.2s ease-in;
    }

    &.is-open {
      margin-top: 5px;

      &::after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L19 19M19 1L1 19' stroke='url(%23paint0_linear_419_906)' stroke-linecap='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_419_906' x1='2' y1='12.5' x2='19' y2='11.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF8519'/%3E%3Cstop offset='1' stop-color='%23FD238A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        width: 25px;
        height: 25px;
        background-size: 18px 18px;
        cursor: pointer;
        display: block;
        transition: all 0.2s ease-in;
      }
    }
  }

  &__search-form {
    transition: opacity 0.5s ease-in;
    width: 100%;

    &.is-hidden {
      opacity: 0;
      visibility: hidden;
      height: 0;
      width: 0;
      margin: 0 0;
    }
  }

  &__search-form-box {
    display: block;
    position: relative;
  }

  &__search-form-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0;
    font-weight: 400;
    color: $color-gray-1;
    background-color: $color-white;
    border: 0;

    @include media(md) {
      font-size: 16px;
    }

    @include media(lg) {
      font-size: 18px;
    }
  }

  &__search-form-placeholder {
    display: none;
    width: 100%;
    height: 35px;
    line-height: 37px;
    position: absolute;
    top: 0;
    bottom: 0;
    color: $color-gray-1;
    cursor: text;
    user-select: none;

    @include media(md) {
      font-size: 16px;
    }

    @include media(lg) {
      font-size: 18px;
    }

    & span {
      color: $color-pink;
    }
  }

  &__search-form-input:invalid + &__search-form-placeholder {
    display: block;
  }

  &__entertainments {
    opacity: 1;
    z-index: 99;
    transition: opacity 0.3s ease-in;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: $color-white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

    @include media(sm) {
      padding-top: 31px;
      padding-bottom: 31px;
    }

    @include media(md) {
      padding-top: 42px;
      padding-bottom: 42px;
    }

    @include media(lg) {
      padding-top: 52px;
      padding-bottom: 42px;
    }

    &.is-hidden {
      opacity: 0;
      height: 0;
      width: 0;
      position: absolute;
      top: 0;
      left: 50%;
    }
  }

  &__entertainments-list {
    display: flex;
    justify-content: center;
    font-family: $font-ceraround;
    font-weight: 700;

    @include media(sm) {
      font-size: 14px;
    }

    @include media(md) {
      font-size: 16px;
    }

    @include media(lg) {
      font-size: 24px;
    }
  }

  &__entertainments-list-item {
    @include media(sm) {
      margin-right: 10px;
    }

    @include media(md) {
      margin-right: 40px;
    }

    @include media(lg) {
      margin-right: 80px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__entertainments-list-item-link {
    color: $color-pink;
  }
}
