.menu-header {
  &__item {
    padding-right: 20px;

    @include media(xxl) {
      padding-right: 0;
    }

    &:not(:last-child()) {
      margin-bottom: 16px;

      @include media(lg) {
        margin-bottom: 10px;
      }

      @include media(xl) {
        margin-bottom: 12px;
      }

      @include media(xxl) {
        margin-bottom: 16px;
      }
    }
  }

  &__item &__text {
    font-size: 14px;
    transition: 0.2s ease-in;
    color: $color-gray-2;

    @include media(lg) {
      font-size: 16px;
    }

    @include media(xl) {
      font-size: 18px;
    }

    &:hover {
      color: $color-blue-2;
    }
  }

  &__item--black &__text {
    color: $color-black;
  }

  
}
