.container {
  margin: 0 0;
  width: 100%;

  @include media(sm) {
    padding-left: 12px;
    padding-right: 12px;
  }

  @include media(md) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include media(lg) {
    padding-left: 41px;
    padding-right: 41px;
  }

  @include media(xl) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @include media(xxl) {
    padding-left: 178px;
    padding-right: 178px;
  }

  &--afterburner,
  &--kinomax,
  &--megaland,
  &--teilkaboom,
  &--follow,
  &--footer {
    margin: 0 auto;

    @include media(sm) {
      max-width: 700px;
    }

    @include media(md) {
      max-width: 1000px;
    }

    @include media(lg) {
      max-width: 1280px;
    }

    @include media(xl) {
      max-width: 1600px;
    }

    @include media(xxl) {
      max-width: 1920px;
    }
  }

  &--afterburner {
    @include media(sm) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @include media(md) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include media(lg) {
      padding-left: 191px;
      padding-right: 38px;
    }

    @include media(xl) {
      padding-left: 272px;
      padding-right: 82px;
    }

    @include media(xxl) {
      padding-left: 390px;
      padding-right: 229px;
    }
  }

  &--kinomax {
    @include media(sm) {
      padding-left: 16px;
      padding-right: 15px;
    }

    @include media(md) {
      padding-left: 21px;
      padding-right: 20px;
    }

    @include media(lg) {
      padding-left: 41px;
      padding-right: 163px;
    }

    @include media(xl) {
      padding-left: 76px;
      padding-right: 231px;
    }

    @include media(xxl) {
      padding-left: 241px;
      padding-right: 390px;
    }
  }

  &--megaland {
    @include media(sm) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @include media(md) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include media(lg) {
      padding-left: 219px;
      padding-right: 40px;
    }

    @include media(xl) {
      padding-left: 275px;
      padding-right: 80px;
    }

    @include media(xxl) {
      padding-left: 344px;
      padding-right: 201px;
    }
  }

  &--teilkaboom {
    @include media(sm) {
      padding-left: 15px;
      padding-right: 13px;
    }

    @include media(md) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include media(lg) {
      padding-left: 41px;
      padding-right: 89px;
    }

    @include media(xl) {
      padding-left: 80px;
      padding-right: 174px;
    }

    @include media(xxl) {
      padding-left: 245px;
      padding-right: 245px;
    }
  }
}
