.slider-line {
  display: flex;
  transition: transform .3s linear;
  padding: 5px;

  @include media(lg) {
    padding: 0 63px;
  }

  &__container {
    position: relative;
  }

  &__item {
    margin-right: 16px;
    min-width: 56px;
    cursor: pointer;

    @include media(md) {
      margin-right: 35px;
      min-width: 67px;
    }

    @include media(lg) {
      margin-right: 57px;
      min-width: 91.8px;
    }

    &:hover {
      color: $color-black;
    }
  }

  &__item.active &__item-text {
    color: $color-black;
  }

  &__item-text {
    font-size: 20px;
    line-height: 27px;
    color: #AEAEAE;

    @include media(md) {
      font-size: 24px;
      line-height: 32.4px;
    }
    
    @include media(lg) {
      font-size: 32px;
      line-height: 43.2px;
    }
  }

  &__top {
    content: "";
    width: 120vw;
    height: 8px;
    position: absolute;
    background-color: $color-white;
    top: 105%;
    left: -22px;

    @include media(md) {
      height: 10px;
    }

    @include media(lg) {
      height: 14px;
      top: 130%;
      left: -70px;
    }
  }

  &__bottom {
    content: "";
    width: 0%;
    height: 8px;
    position: absolute;
    background-color: $color-blue-2;
    transition: width .2s linear, transform .3s linear;
    top: 105%;
    left: 0px;

    @include media(md) {
      height: 10px;
    }

    @include media(lg) {
      height: 14px;
      top: 130%;
      left: 56px;
    }
  }
}