mixin slider-line(data)
  //- модификатор
  +modif('slider-line', data.mod, data.prefix)

  //- префикс
  +prefix('slider-line', data.prefix)

  - attr = data.attr || {'data-slider-line': ''}

  div(class=`slider-line${pr}__container`)
    div(class=`slider-line${pr}${mod}` class=data.class)&attributes(attr)
      if (data.list)
        each item, index in data.list
          - itemAttr = item.attr || {'data-slider-line-item': index}

          div(class=`slider-line${pr}__item` class=item.class)&attributes(itemAttr)
            p(class=`slider-line${pr}__item-text` class=item.title.class)!= item.title.text
      
    if (data.line)
      div(class=`slider-line${pr}__top` data-slider-line-top)
      div(class=`slider-line${pr}__bottom` data-slider-line-bottom)
