block variables
include ../helpers/mixins
include ../../components/header/header
include ../../components/footer/footer
include ../../components/hamburger/hamburger
include ../../components/menu/menu
include ../../components/forms/input/input
include ../../components/forms/textarea/textarea
include ../../components/forms/form-preloader/form-preloader
include ../../components/popup/popup
include ../../components/cookie/cookie


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, user-scalable=0, minimal-ui" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(http-equiv="Cache-Control" content="max-age=3600, must-revalidate")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

    //- favicon block start
    //- +favicon()
    //- favicon block end

    //- preload fonts and css files
    //- +preload()

    each file in htmlWebpackPlugin.files.css
      link(href=`${file}`, rel='stylesheet')

    block head

  body
    .page(class= pageClass id="page")
      +header({})

      main.main
        block content

      //- block footer
      +footer({})


    block scripts

    each file in htmlWebpackPlugin.files.js
      script(src=`${file}` defer)
