mixin tabs(data)

  //- префикс
  +prefix('tabs', data.prefix)

  //- модификатор
  +modif('tabs', data.mod, data.prefix)

  //- атрибуты
  - attr = data.attr || ''
  - prefix = pr

  div(class=`tabs${prefix}${mod}` data-tabs="" class=data.class)&attributes(attr)
    div(class=`tabs${prefix}__head` data-tabs-head="")&attributes(data.attrHead)
      each head in data.head
        -itemAttr = head.attr
        a(href="#" class=`tabs${prefix}__link` class= head.class id= head.id)&attributes(itemAttr)!= head.text

    if (data.map)
      div(class=`tabs${prefix}__map` class=data.map.class)
        +map(data.map)
    if (data.body)
      div(class=`tabs${prefix}__body` data-tabs-body="")&attributes(data.attrBody)
        each body in data.body
          div(class=`tabs${prefix}__item` class= body.class)
            div(class=`tabs${prefix}__text` class= body.text.class)!= body.text

