.tabs {
  position: relative;
  border-bottom: 0;

  &__head {
    display: flex;
    margin-bottom: 24px;
  }

  &--contacts &__head {
    margin-bottom: rem(60);
  }

  &--hide-head {
    display: none;
  }


  &__link {
    color: $color-gray-1;
    font-size: 18px;
    line-height: 24px;
    font-weight: $font-weight-400;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: rem(19) 30px;
    background-color: $color-white;
    border-radius: $border-radius;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &.active {
      box-shadow: 0px 0px 0px 1px $color-blue-2 inset;
      color: $color-blue-2;
    }
  }

  &__item {
    display: none;
    &.active {
      display: block;
    }
  }

  &__text {
    text-align: left;
  }
}
