.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination {
  display: inline-flex;
  padding: 30px 0;
  align-items: center;
  justify-content: center;
  position: relative;

  &__list {
    display: flex;
    min-height: rem(60);
    align-items: center;
  }

  &__item {
    padding: 0 rem(6);
    cursor: pointer;

    @include media(md) {
      padding: 0 16px;
    }

    a {
      color: $color-black;
      font-size: 16px;

      @include media(md) {
        font-size: 18px;
      }
    }
    &.is-hide {
      display: none;
    }
    &.is-active {
      a {
        color: $color-blue-2;
      }
    }
    &:hover {
      a {
        color: $color-blue-2;
      }
    }
  }

  .is-collapsed {
    padding: 0 8px;
    &.is-hide {
      display: none;
    }
    a {
      color: $color-black;
      pointer-events: none;
    }
  }

  &__prev {
    transition: 0.7s;
    background-image: svg-load(
      '../assets/images/svg/arrow-right.svg',
      fill=$color-black
    );
    transform: rotate(-180deg);
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 10px;
    &:hover {
      background-image: svg-load(
        '../assets/images/svg/arrow-right.svg',
        fill=$color-white
      );
      background-color: $color-blue-2;
      @include media(md) {
        transform: rotate(0deg);
        background-image: svg-load(
          '../assets/images/svg/arrow-left.svg',
          fill=$color-white
        );
      }
    }

    @include media(xl) {
      display: none;
    }

    @include media(md) {
      transform: rotate(0deg);
      background-image: svg-load(
        '../assets/images/svg/arrow-left.svg',
        fill=$color-black
      );
    }
  }

  &__next {
    transition: 0.7s;
    background-image: svg-load(
      '../assets/images/svg/arrow-right.svg',
      fill=$color-black
    );
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 10px;
    &:hover {
      background-image: svg-load(
        '../assets/images/svg/arrow-right.svg',
        fill=$color-white
      );

      background-color: $color-blue-2;
      @include media(md) {
        transform: rotate(180deg);
        background-image: svg-load(
          '../assets/images/svg/arrow-left.svg',
          fill=$color-white
        );
      }
    }

    @include media(xl) {
      display: none;
    }

    @include media(md) {
      transform: rotate(180deg);
      background-image: svg-load(
        '../assets/images/svg/arrow-left.svg',
        fill=$color-black
      );
    }
  }

  &__btn-next,
  &__btn-end,
  &__btn-prev,
  &__btn-start {
    min-width: rem(200);
    min-height: rem(60);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    border-radius: $border-radius;
    cursor: pointer;
    transition: 0.7s;
    text-transform: uppercase;
    font-weight: $font-weight-600;
    &:hover {
      color: $color-blue-2;
    }
  }

  &__btn-next {
    display: none;

    @include media(xl) {
      display: block;
      margin-left: 20px;
    }

    @include media(xxl) {
      margin-left: 80px;
    }
  }

  &__btn-prev {
    display: none;

    @include media(xl) {
      display: block;
      margin-right: 20px;
    }

    @include media(xxl) {
      margin-right: 80px;
    }
  }

  &__btn-end {
    position: absolute;
    font-size: rem(14);
    line-height: rem(17);
    font-weight: $font-weight-300;
    right: 0;
    min-width: rem(120);
    min-height: rem(35);
    bottom: rem(-30);

    @include media(md) {
      font-size: 18px;
      line-height: rem(1);
      font-weight: $font-weight-600;
      min-width: rem(180);
      min-height: rem(55);
      bottom: rem(-40);
    }

    @include media(lg) {
      min-width: rem(200);
      min-height: rem(60);
      position: static;
      font-size: 18px;
      line-height: rem(1);
      font-weight: $font-weight-600;
      margin-left: 30px;
    }
  }

  &__btn-start {
    position: absolute;
    font-size: rem(14);
    line-height: rem(17);
    font-weight: $font-weight-300;
    left: 0;
    min-width: rem(120);
    min-height: rem(35);
    bottom: rem(-30);

    @include media(md) {
      font-size: 18px;
      line-height: rem(1);
      font-weight: $font-weight-600;
      min-width: rem(180);
      min-height: rem(55);
      bottom: rem(-40);
    }

    @include media(lg) {
      min-width: rem(190);
      min-height: rem(60);
      position: static;
      font-size: 18px;
      line-height: rem(1);
      font-weight: $font-weight-600;
      margin-right: 30px;
    }
  }

  &__btn-wrapper {
    display: flex;
    transition: 0.5s;
    &.is-hide {
      visibility: hidden;
      opacity: 0;
    }
  }
}
