//- Pagination
mixin pagination(amount, prefix, attr)

  //- префикс
  +prefix('pagination', prefix)

  //- атрибуты
  - attr = attr || ''
  - paginationAmount = {'data-amount': amount} || ''

  //- amount - amount element
  //- EXAMPLE +pagination(45) => 1 2 3 4 5 ... 45

  div(class=`pagination-container`)
    nav(class=`pagination${pr}`)&attributes(attr, paginationAmount)

      .pagination__btn-wrapper.pagination__btn-wrapper--left.is-hide
        //- start btn
        button(class=`pagination${pr}__btn-start is-hide`) В начало

        //- prev btn
        button(class=`pagination${pr}__btn-prev is-hide`) Предыдущая

      //- prev arrow
      a(href="#" class=`pagination${pr}__prev`).icon-pagination-prev

      ul(class=`pagination${pr}__list`)
        - for (var index = 1; index <= amount; index++)
          //- active element
          if (index === 1)
            li(class=`pagination${pr}__item is-active`)
              a(href="#" class=`pagination${pr}__number`)= index
            li(class=`is-collapsed is-collapsed--first is-hide`)
              a ...

          //- ellipsis
          else if (index > 5 && index < amount)
            li(class=`pagination${pr}__item is-hide`)
              a(href="#" class=`pagination${pr}__number`)= index

          else if (index === amount)
            li(class=`is-collapsed is-collapsed--last`)
              a ...
            li(class=`pagination${pr}__item`)
              a(href="#" class=`pagination${pr}__number`)= index

          //- last show element
          else
            li(class=`pagination${pr}__item`)
              a(href="#" class=`pagination${pr}__number`)= index

      //- next arrow
      a(href="#" class=`pagination${pr}__next`).icon-pagination-next

      .pagination__btn-wrapper.pagination__btn-wrapper--right
        //- next btn
        button(class=`pagination${pr}__btn-next`) Следующая

        //- end btn
        button(class=`pagination${pr}__btn-end`) В конец
