.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: $font-ceraround;
  color: $color-gray-1;
  padding-top: 12px;
  padding-bottom: 40px;
  background-color: $color-white;

  @include media(md) {
    padding-top: 40px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;

    @include media(sm) {
      flex-direction: column;
    }

    @include media(md) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include media(lg) {
      flex-wrap: nowrap;
    }
  }

  &__block,
  &__socials {
    @include media(sm) {
      margin-top: 20px;
    }

    @include media(md) {
      margin-top: 0;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;

    @include media(md) {
      width: 50%;
    }

    @include media(lg) {
      width: auto;
    }
  }

  &__block-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media(md) {
      display: block;
    }

    .icon {
      display: block;
      width: 12px;
      height: 7px;
      cursor: pointer;
      transition: all 0.2s ease-in;

      @include media(md) {
        display: none;
      }

      &.is-inverted {
        transform: rotate(180deg);
      }
    }
  }

  &__block-title,
  &__socials-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 0px;

    @include media(md) {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 18px;
    }

    @include media(lg) {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }

  &__block-wrapper {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
    transition: opacity 0.2s ease-out;

    @include media(md) {
      display: flex;
      flex-direction: column;
      opacity: 1;
      visibility: visible;
      height: auto;
      width: auto;
      margin-top: 0;
    }

    &.is-open {
      display: flex;
      flex-direction: column;
      opacity: 1;
      visibility: visible;
      height: auto;
      width: auto;
      margin-top: 11px;

      @include media(md) {
        margin-top: 0;
      }
    }
  }

  &__block-item,
  &__block-link {
    font-size: 14px;
    line-height: 14px;

    @include media(md) {
      font-size: 16px;
      line-height: 16px;
    }

    @include media(lg) {
      font-size: 18px;
      line-height: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 12px;

      @include media(md) {
        margin-bottom: 19px;
      }

      @include media(lg) {
        margin-bottom: 10px;
      }
    }
  }

  &__block-item-contacts {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 14px;

    @include media(md) {
      margin-bottom: 19px;
      font-size: 16px;
      line-height: 16px;
    }

    @include media(lg) {
      margin-bottom: 9px;
      font-size: 18px;
      line-height: 23px;
    }

    &:first-child {
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 14px;

      @include media(md) {
        margin-bottom: 13px;
        font-size: 16px;
        line-height: 16px;
      }

      @include media(lg) {
        margin-bottom: 18px;
        font-size: 18px;
        line-height: 18px;
      }
    }
  }

  &__block-link-contacts {
    display: block;
    font-size: 14px;
    line-height: 14px;

    @include media(md) {
      font-size: 16px;
      line-height: 16px;
    }

    @include media(lg) {
      font-size: 18px;
      line-height: 18px;
    }

    &:nth-child(2) {
      margin-bottom: 13px;
      font-size: 12px;
      line-height: 12px;

      @include media(md) {
        margin-bottom: 21px;
        font-size: 14px;
        line-height: 14px;
      }

      @include media(lg) {
        margin-bottom: 18px;
        font-size: 16px;
        line-height: 16px;
      }
    }
  }

  &__wrapper-first {
    display: flex;

    @include media(sm) {
      width: 100%;
      flex-direction: column;
    }

    @include media(md) {
      flex-direction: row;
      width: 100%;
    }

    @include media(lg) {
      justify-content: space-between;
      width: 50%;
    }

    @include media(xl) {
      justify-content: space-between;
      width: 35%;
    }
  }

  &__wrapper-second {
    display: flex;

    @include media(sm) {
      flex-direction: column;
    }

    @include media(md) {
      justify-content: flex-start;
      width: 100%;
      margin-top: -150px;
    }

    @include media(lg) {
      flex-direction: column;
      justify-content: flex-start;
      width: 33%;
      margin-top: 0;
    }

    @include media(xl) {
      padding-left: 30px;
      margin-left: 70px;
      flex-direction: row;
      width: 50%;
      justify-content: space-between;
    }
  }

  &__socials {
    padding-bottom: 25px;
    border-bottom: 1px solid $color-gray-2;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;

    @include media(md) {
      margin-top: 74px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 0;
      border-bottom: none;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }

    @include media(lg) {
      margin-top: 37px;
      display: block;
    }

    @include media(xl) {
      width: 263px;
      margin-right: 67px;
      margin-top: 0;
    }

    @include media(xxl) {
      margin-right: 0px;
      width: 50%;
    }

    img {
      width: 40px;
      height: 40px;
      @include media(md) {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__socials-link {
    &:not(:last-child) {
      margin-right: 15px;

      @include media(md) {
        margin-right: 20px;
      }

      @include media(lg) {
        margin-right: 25px;
      }
    }
  }

  &__socials-title {
    margin-bottom: 13px;
    margin-right: 40px;

    @include media(md) {
      margin-bottom: 0;
    }

    @include media(lg) {
      margin-right: 0;
      margin-bottom: 13px;
    }

    @include media(xl) {
      margin-bottom: 15px;
    }

    @include media(xxl) {
      margin-bottom: 13px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 16px;

    @include media(md) {
      flex-direction: row;
      margin-top: 40px;
    }

    @include media(lg) {
      margin-top: 37px;
    }
  }

  &__info-confidentiality,
  &__info-development {
    font-family: $font-ceraround;
  }

  &__info-confidentiality {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include media(md) {
      flex-direction: row;
    }

    & .icon {
      width: 17px;
      height: 17px;
      margin-right: 8px;

      @include media(sm) {
        width: 18px;
        height: 18px;
      }

      @include media(md) {
        width: 18px;
        height: 18px;
      }

      @include media(lg) {
        width: 19px;
        height: 19px;
      }
    }
  }

  &__info-confidentiality-company {
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;

    @include media(md) {
      font-size: 16px;
      line-height: 16px;
      margin-right: 15px;
    }

    @include media(lg) {
      margin-right: 14px;
    }

    &:before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='21' viewBox='0 0 19 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.5 3.0077C4.83626 3.0077 1.05556 6.78841 1.05556 11.4521C1.05556 16.1159 4.83626 19.8966 9.5 19.8966C14.1637 19.8966 17.9444 16.1159 17.9444 11.4521C17.9444 6.78841 14.1637 3.0077 9.5 3.0077ZM0 11.4521C0 6.20544 4.25329 1.95215 9.5 1.95215C14.7467 1.95215 19 6.20544 19 11.4521C19 16.6989 14.7467 20.9521 9.5 20.9521C4.25329 20.9521 0 16.6989 0 11.4521Z' fill='%23333333'/%3E%3Cpath d='M9.49 16.1501C11.074 16.1501 12.316 15.3941 13.054 14.3321C13.162 14.1701 13.18 14.0621 13.18 13.9541C13.18 13.5941 12.892 13.3241 12.532 13.3241C12.388 13.3241 12.226 13.3601 12.046 13.5581C11.452 14.2961 10.642 14.8721 9.508 14.8721C7.69 14.8721 6.322 13.4501 6.322 11.5601C6.322 9.68815 7.708 8.26615 9.508 8.26615C10.642 8.26615 11.452 8.84215 12.046 9.58015C12.226 9.79615 12.388 9.83215 12.55 9.83215C12.892 9.83215 13.18 9.54415 13.18 9.20215C13.18 9.09415 13.162 8.98615 13.054 8.82415C12.334 7.74415 11.074 6.98815 9.49 6.98815C6.934 6.98815 4.9 9.00415 4.9 11.5601C4.9 14.1161 6.934 16.1501 9.49 16.1501Z' fill='%23333333'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 17px 17px;
      width: 17px;
      height: 17px;
      position: relative;
      display: block;
      margin-right: 8px;

      @include media(md) {
        background-size: 18px 18px;
        width: 18px;
        height: 18px;
        margin-right: 2px;
      }

      @include media(lg) {
        background-size: 19px 19px;
        width: 19px;
        height: 19px;
        margin-right: 8px;
      }
    }
  }

  &__info-confidentiality-text {
    font-size: 12px;
    line-height: 12px;
    margin-top: 8px;

    @include media(md) {
      margin-top: 0;
    }
  }

  &__info-development-text {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin-top: 14px;
    font-weight: 500;

    @include media(md) {
      text-align: right;
      margin-top: 0;
    }

    a {
      color: $color-pink;
    }
  }
}
