mixin footer(data)
  .container.container--footer
    footer.footer(data-footer)
      .footer__menu
        .footer__wrapper-first
          .footer__block
            .footer__block-title-wrapper(data-footer-title)
              .footer__block-title Контакты
              +icon('arrow')
            .footer__block-wrapper
              .footer__block-item-contacts г. Казань, ул. Павлюхина, д. 91
              a(href="#").footer__block-link-contacts Как добраться
              .footer__block-item-contacts Время работы: 10:00 - 22:00
              a(href="tel:88432270000").footer__block-link-contacts 8 843 227-00-00
          .footer__block
            .footer__block-title-wrapper(data-footer-title)
              .footer__block-title KazanMall
              +icon('arrow')
            .footer__block-wrapper
              a(href="#").footer__block-link События
              a(href="#").footer__block-link Акции
              a(href="#").footer__block-link Магазины
              a(href="#").footer__block-link Еда
              a(href="#").footer__block-link Развлечения
              a(href="#").footer__block-link Услуги
              a(href="#").footer__block-link Кинотеатр
              a(href="#").footer__block-link О нас
              a(href="#").footer__block-link Блог
        .footer__wrapper-second
          .footer__block
            .footer__block-title-wrapper(data-footer-title)
              .footer__block-title Сотрудничество
              +icon('arrow')
            .footer__block-wrapper
              a(href="#").footer__block-link Личный кабинет
              a(href="#").footer__block-link Арендаторам
              a(href="#").footer__block-link Рекламодателям
          .footer__socials
            .footer__socials-title Мы в социальных сетях
            a(href="#", target="_blank").footer__socials-link
              +img('required/instagram.svg')
            a(href="#", target="_blank").footer__socials-link
              +img('required/facebook.svg')
            a(href="#", target="_blank").footer__socials-link
              +img('required/Vkontakte.svg')
      .footer__info
        .footer__info-confidentiality
          .footer__info-confidentiality-company 2020 KazanMall
          a(href="#").footer__info-confidentiality-text Политика конфидентциальности
        .footer__info-development
          .footer__info-development-text Разработка 
            a(href="#") Progressive Media
