.menu-footer {
  &__item{
    padding-right: 20px;

    @include media(xxl) {
      padding-right: 0;
    }

    &:not(:last-child()){
      margin-bottom: 16px;

      @include media(md) {
        margin-bottom: 24px;
      }


      @include media(lg) {
        margin-bottom: 10px;
      }

      @include media(xl) {
        margin-bottom: 12px;
      }

      @include media(xxl) {
        margin-bottom: 16px;
      }
    }
  }

  &__item &__text {
    font-size: 14px;
    transition: 0.2s ease-in;
    color: $color-black;

    @include media(lg) {
      font-size: 16px;
    }

    &:hover {
      color: $color-blue-2;
    }
  }

  &__item--uppercase &__text {
    text-transform: uppercase;
  }

  &__item--large &__text {
    font-size: 18px;
  }

  &__item--white &__text {
    color: $color-white;
  }
}
