form {
  input.error,
  textarea.error {
    border-bottom-color: $color-red !important;
  }

  label.error {
    color: $color-red;
    font-size: 10px;
    line-height: 32px;
    margin-top: 50px;
    display: block;
    position: absolute;

    @include media(md) {
      font-size: 12px;
      margin-top: 70px;
    }
  }
}
