mixin nested-slider(data)
  //- модификатор
  +modif('slider', data.mod, data.prefix)

  //- префикс
  +prefix('slider', data.prefix)

  //- атрибуты
  - attr = data.attr || {'data-slider-nested': ''}

  div(class=`slider${pr}__container`)
    div(class=`slider${pr}${mod} swiper-container` class=data.class )&attributes(attr)
      div(class=`slider${pr}__wrapper swiper-wrapper` data-slider-wrapper)
        each item in data.list
          div(class=`slider-${data.prefix}__slide swiper-slide` class=item.class)&attributes(item.attr)
            +slider(item.sliderInner)


