@import '../../../node_modules/swiper/scss/functions';
@import '../../../node_modules/swiper/components/core/core';
@import '../../../node_modules/swiper/css/swiper';

.swiper {
  &-pagination {
    &-current {
      font-size: 20px;
      color: $color-blue-2;

      @include media(md) {
        font-size: 30px;
      }
    }

    &-total {
      font-size: rem(14);

      @include media(md) {
        font-size: 18px;
      }
    }

    &-bullet {
      display: block;
      cursor: pointer;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      margin: 0 4px;

      &-active {
        background: $color-blue-2;
      }
    }
  }

  &-button-disabled {
    opacity: 1 !important;
    cursor: pointer !important;
    pointer-events: visible !important;
  }
}

.slider {
  &__container {
    width: 100%;
  }

  &__images {
    width: 100%;
  }

  &--reverse &__slide {
    flex-wrap: wrap;
    width: 80%;
    margin-right: 20px;

    @include media(md) {
      width: 37.4%;
    }
  }

  &--news &__slide {
    width: 85%;
    margin-right: 20px;

    @include media(md) {
      width: 33%;
    }

    @include media(lg) {
      width: 24.3%;
      margin-right: 10px;
    }

    @include media(xl) {
      margin-right: rem(29);
      width: 23.8%;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &--partners &__slide,
  &--clients &__slide {
    width: 67%;
    margin-right: 8px;

    @include media(md) {
      width: 42%;
    }

    @include media(lg) {
      width: 24%;
      &:not(:nth-child(4n)){
        margin-right: 8px;
      }

      &:nth-child(4n){
        margin-right: 0;
      }
    }

    @include media(xl) {
      width: 49.4%;
    }
  }

  &--clients &__wrapper,
  &--partners &__wrapper {
    // justify-content: center;
    flex-wrap: nowrap;

    @include media(lg) {
      flex-wrap: wrap;
    }
  }

  &--reverse-2 &__slide {
    margin-bottom: 14px;
    display: flex;
    flex-wrap: nowrap;
    color: $color-black;

    @include media(md) {
      margin-bottom: 0;
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      width: 40%;
    }

    @include media(lg) {
      width: auto;
      max-width: 25%;
      flex: 0 0 25%;
    }

    @include media(xl) {
      margin-right: rem(4);
      padding: 0 rem(8);
    }

    &:hover {
      @include media(md) {
        color: $color-blue-2;
      }
    }
  }

  &--reverse &__text {
    font-size: 16px;
    line-height: rem(19);
    margin-bottom: rem(36);

    @include media(lg) {
      margin-bottom: rem(34);
      font-size: 18px;
      line-height: rem(24.3);
    }
  }


  &--reverse &__images {
    margin-bottom: 14px;
    img{
      width: 100%;
    }
  }

  &--reverse-2 &__images {
    order: 1;
    width: auto;

    @include media(md) {
      margin-bottom: rem(19);
      width: 100%;
    }

    img {
      max-width: 56px;

      @include media(md) {
        max-width: 100%;
      }
    }
  }

  &--reverse-2 &__inner {
    order: 2;
  }

  &--reverse-2 &__title {
    padding-left: rem(15);
    font-size: rem(20);
    line-height: rem(27);
    font-weight: 400;
    transition: color .3s ease-in;

    @include media(md) {
      font-size: rem(24);
      line-height: rem(32.4);
    }

    @include media(xl) {
      padding-left: rem(30);
    }

    @include media(xxl) {
      padding-left: rem(30);
      font-size: rem(32);
      line-height: rem(43.2);
    }
  }

  &--reverse-2 &__wrapper {
    display: block;

    @include media(md) {
      display: flex;
    }
  }
}
