.slider-block {
  &__container {
    position: relative;
  }

  &__pagination {
    position: absolute;
    top: 104.5%;
    right: 75px;
    width: auto;
    left: auto;

    @include media(md) {
      top: 102.5%;
      right: 95px;
    }

    @include media(lg) {
      top: 220px;
      right: 90px;
    }
  }

  &__images {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__slide {

    display: flex;
    flex-direction: column-reverse;

    @include media(md) {
      display: block;
    }
  }

  &__title {
    // min-height: rem(132);
    font-size: 42px;
    line-height: 50.4px;
    letter-spacing: -3px;
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    flex-wrap: wrap;
    font-weight: 400;

    @include media(md) {
      font-size: 70px; //Поставил 70, т.к. длинный заголовок наезжает на текст (было 80)
      line-height: 86px;
      letter-spacing: -3%;
      height: 192px;
      font-weight: 300;
    }

    @include media(lg) {
      padding-bottom: 30px;
      align-items: center;
      letter-spacing: 0;
      font-size: 90px;
      line-height: 120px;
      height: 270px;
      letter-spacing: -3.2px;
    }

    @include media(xl) {
      height: 283px;
      font-size: 100px;
      line-height: 1;
      padding-left: 8px;
      letter-spacing: -4px;
      font-weight: 400;
    }

    @include media(xxl) {
      height: 283px;
      font-size: 140px;
      line-height: 126px;
      padding-left: 8px;
      letter-spacing: -4px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 18.9px;
    font-weight: 400;

    @include media(lg) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__button--next {
    position: absolute;
    top: 104.5%;
    width: auto;
    right: 2px;
    z-index: 1;
    cursor: pointer;
    height: 64px;

    @include media(md) {
      top: 103%;
      right: -4px;
    }

    @include media(lg) {
      top: 220px;
      right: 5px;
    }

    &:after {
      transition: .7s;
      content: '';
      background-image: svg-load('../assets/images/svg/arrow-left.svg',
          fill=$color-black);
      transform: rotate(180deg);
      background-position: center;
      background-repeat: no-repeat;
      height: 50px;
      width: 50px;
      position: absolute;
      border-radius: 100%;
      top: 50%;
      left: 50%;
      margin-top: -25px;
      margin-left: -25px;
    }

    &:hover {
      &:after {
        @include media(lg) {
          background-image: svg-load('../assets/images/svg/arrow-left.svg',
              fill=$color-white);
          background-color: $color-blue-2;
        }
      }
    }
  }

  &__button-timer-circle {
    r: 24;

    @include media(lg) {
      r: 31;
    }
  }

  &__button--prev {
    position: absolute;
    top: 104.5%;
    right: 138px;
    left: auto;
    z-index: 1;
    cursor: pointer;
    height: 64px;

    @include media(md) {
      top: 103%;
      right: 189px;
    }

    @include media(lg) {
      top: 220px;
      right: 170px;
    }

    &:after {
      transition: .7s;
      content: '';
      background-image: svg-load('../assets/images/svg/arrow-left.svg',
          fill=$color-black);
      background-position: center;
      background-repeat: no-repeat;
      height: 50px;
      width: 50px;
      position: absolute;
      border-radius: 100%;
      top: 50%;
      left: 50%;
      margin-top: -25px;
      margin-left: -25px;
    }

    &:hover {
      &:after {
        @include media(lg) {
          background-image: svg-load('../assets/images/svg/arrow-left.svg',
              fill=$color-white);
          background-color: $color-blue-2;
        }
      }
    }
  }
}
