.slider-inline {
  &--reverse-2 {
    overflow: visible;
    @include media(xl) {
      overflow: hidden;
      clip-path: inset(0px -5vw 0 0px);
      margin-left: rem(65);
    }
  }

  &__container {
    position: relative;
  }

  &--commerce {
    overflow: visible;
    clip-path: inset(0px -5vw 0 0px);
  }

  &__slide {
    margin-right: 16px;
    display: flex;
    flex-direction: column;

    width: 80%;

    @include media(lg) {
      width: 66%;
      margin-right: rem(54);
    }

    &:first-child {
      @include media(lg) {
        margin-left: 15.7vw;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &--contacts &__slide {
    width: 100%;

    &:first-child {
      margin: 0;
      margin-right: rem(54);
    }
  }

  &__images {
    margin-bottom: 10px;
  }

  &--reverse {
    clip-path: inset(0px -13vw 0 0px);
    overflow: visible;
  }
  
  &--commerce &__slide {
    width: 97%;
    margin-right: 35px;
  }

  &__images {
    margin-bottom: 10px;
  }

  &--reverse &__inner,
  &--reverse-2 &__inner,
  &--commerce &__inner,
  &--contacts &__inner {
    order: 1;
  }

  &--reverse &__images,
  &--reverse-2 &__images,
  &--commerce &__images,
  &--contacts &__images {
    order: 0;
  }

  &__pagination {
    position: absolute;
    top: rem(220);
    right: 90px;
    width: auto;
    left: auto;
  }

  &__title {
    font-size: rem(140);
    line-height: rem(126);
    height: rem(300);
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
    flex-wrap: wrap;
    padding-left: 0;
  }

  &__text {
    font-size: 12px;
    line-height: rem(16.2);
    color: #8C8C8C;
    opacity: 1;
    transition: opacity .2s ease-in;

    @include media(lg) {
      opacity: 0;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &--contacts &__text {
    width: 67%;

    @include media(xl) {
      width: 100%;
    }
  }

  &__slide.swiper-slide-active &__text {
    opacity: 1;
  }

  &--reverse-2 &__slide {
    margin-right: 20px;
    width: 95%;

    @include media(lg) {
      width: 85.8%;
      margin-right: rem(54);
    }
    
    &:first-child() {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__counter {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 12px;
    line-height: rem(21);
    align-items: flex-end;

    @include media(md) {
      right: rem(60);
      font-size: 18px;
      line-height: 16px;
    }

    @include media(lg) {
      right: 80px;
    }

    @include media(xl) {
      top: 98.6%;
      right: rem(387);
    }
  }

  &--reverse-2 ~ &__counter {
    @include media(lg) {
      top: 98.9%;
      right: rem(279);
    }
  }

  &__counter-current {
    margin-right: rem(7);
    color: #009DE0;
    font-size: 18px;
    line-height: rem(24.3);

    @include media(md) {
      font-size: 30px;
      line-height: rem(23);
    }
  }

  &__counter-amount {
    margin-left: 3px;
    font-size: 12px;
    line-height: rem(21);

    @include media(md) {
      font-size: 18px;
      line-height: 16px;
    }
  }

  &--commerce ~ &__counter {
    @include media(lg) {
      right: 50px;
      top: 105%;
    }

    @include media(xl) {
      top: 98.6%;
      right: 138px;
    }
  }

  &__button,
  &__button {
    display: none;
    position: absolute;
    right: 10px;
    left: unset;
    top: 100%;
    border-radius: 56px;
    transition: background-color .2s ease-in, background .2s ease-in;

    @include media(lg) {
      display: block;
    }

    @include media(xl) {
      right: rem(306);
    }
  }

  &--contacts ~ &__button {
    top: 101%;
    right: 4px;
  }

  &--reverse-2 ~ &__button {
    right: rem(198);
  }
  
  &--commerce ~ &__button {
    @include media(lg) {
      top: 108.4%;
      right: -10px;
    }

    @include media(xl) {
      right: 57px;
      top: 100%;
    }
  }

  &__button--next {
    position: absolute;
    width: auto;
    z-index: 1;
    cursor: pointer;
    height: rem(44);
    width: rem(44);
    background-image: svg-load('../assets/images/svg/arrow-left.svg', fill=$color-black);
    transform: rotate(180deg);
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      background-image: svg-load('../assets/images/svg/arrow-left.svg', fill=$color-white);
      background-color: #009DE0;
    }

    &:after {
      display: none;
    }

    @include media(lg) {
      top: auto;
      bottom: rem(-21);
    }

    @include media(xl) {
      top: 100.9%;
      bottom: auto;
    }

    @include media(xxl) {
      top: 100.2%;
      bottom: auto;
    }
  }

  &__button--prev {
    margin-top: 0;
    top: 95.4%;
    right: rem(150);
    position: absolute;
    z-index: 1;
    cursor: pointer;
    height: rem(44);
    width: rem(44);
    background-image: svg-load('../assets/images/svg/arrow-left.svg', fill=$color-black);
    background-size: 18px 16px;
    background-position: center;
    background-repeat: no-repeat;

    @include media(lg) {
      top: auto;
      bottom: rem(-20);
    }

    @include media(xl) {
      top: 97.4%;
      bottom: auto;
      right: rem(467);
    }

    &:after {
      display: none;
    }

    &:hover {
      background-image: svg-load('../assets/images/svg/arrow-left.svg', fill=$color-white);
      background-color: #009DE0;
    }
  }

  &--contacts ~ &__button--prev {
    top: 96%;
    right: rem(164);
    @include media(lg) {
      top: 93%;
    }

    @include media(xl) {
      top: 96%;
    }
  }

  &--reverse-2 ~ &__button--prev {
    right: rem(360);
  }

  &--commerce ~ &__button--prev {
    @include media(lg) {
      top: 102.6%;
      right: 111px;
    }

    @include media(xl) {
      top: 97.2%;
      right: 218px;
    }
  }

  &--contacts ~ &__counter {
    right: 0;
    @include media(lg) {
      right: rem(85);
    }
  }
}
