.slider-header {
  overflow: visible;

  &__container {
    margin-right: rem(-60);
  }

  &__title-container {
    // width: rem(700);

    // @include media(xl) {
    //   width: rem(800);
    // }
  }

  &__title {
    padding-left: 56px;
    font-size: 80px;
    font-weight: $font-weight-300;
    line-height: rem(77);
    letter-spacing: rem(-2.5);
    margin-left: 8px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    cursor: pointer;
    color: #aeaeae;
    transition: .2s ease-in;

    &::before{
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background: $color-blue-2;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    &:hover{
      color: $color-black;
    }
  }

  &--service &__title {
    font-size: 42px;
    line-height: 52px;
    width: 70%;

    @include media(lg) {
      width: 57%;
    }

    @include media(xl) {
      width: 85%;
      font-size: rem(60);
      line-height: rem(72);
      letter-spacing: rem(0.7);
    }

    @include media(xxl) {
      width: 65%;
    }
  }

  &--commerce &__title {
    font-size: 42px;
    line-height: 52px;
    width: 70%;

    @include media(lg) {
      width: 57%;
    }

    @include media(xl) {
      width: 85%;
      font-size: rem(60);
      line-height: rem(72);
      letter-spacing: rem(0.7);
    }

    @include media(xxl) {
      width: 66%;
    }
  }

  &--commerce-2 &__title {
    font-size: 42px;
    line-height: 52px;

    @include media(xl) {
      font-size: rem(60);
      line-height: rem(72);
      letter-spacing: rem(0.7);
    }
  }

  &__title-span {
    padding-left: rem(180);
    flex: 0 0 100%;

    @include media(xl) {
      padding-left: rem(321);
    }
  }

  &--service &__title-span {
    padding-left: 0;
    text-align: right;
  }

  &--commerce &__title-span {
    padding-left: 0;
    text-align: right;

    @include media(xl) {
      padding-left: 0;
    }
  }

  &--commerce-2 &__title-span {
    @include media(lg) {
      padding-left: 40px;
    }
    
    @include media(xl) {
      padding-left: 139px;
    }
  }

  .swiper-slide-active .slider-header__title {
    color: $color-black;
    &:before {
      background: $color-blue-2;
    }
  }

  &__slide {
    width: 80%;

    @include media(xl) {
      width: 57.5%;
    }
  }

  &--service &__slide {
    width: 60%;

    @include media(xl) {
      width: 51%;
    }
  }

  &--commerce &__slide {
    width: 60%;

    @include media(xl) {
      width: 40.4%;
    }
  }

  &--commerce-2 &__slide {
    @include media(lg) {
      width: 50%;

      &:nth-child(even) {
        width: 70%;
      }
    }

    @include media(xl) {
      width: 42.1%;

      &:nth-child(even) {
        width: 60%;
      }
    }
  }
}
