.slider-vertical-scroll {

  @include media(lg) {
    height: rem(500);
  }

  @include media(xl) {
    height: rem(600);
  }

  &__container {
    width: 100%;

    @include media(xl) {
      width: calc(100% + 61px);
    }
  }

  &__images {
    text-align: center;

    @include media(xl) {
      text-align: left;
    }
  }

  &__title {
    font-size: 18px;
    line-height: rem(24.3);
    margin-bottom: rem(14);
    font-weight: 600;

    @include media(md) {
      margin-bottom: rem(24);
      font-size: rem(32);
      line-height: rem(43.2);
      font-weight: 400;
    }

    @include media(lg) {
      font-weight: 600;
      font-size: rem(32);
      line-height: rem(42);
      margin-bottom: 30px;
      letter-spacing: rem(0.4);
    }

    @include media(xl) {
      font-size: rem(42);
      line-height: rem(52);
      margin-bottom: 30px;
    }

    @include media(xxl) {
      font-size: rem(48);
      line-height: rem(58);
      margin-bottom: rem(60);
    }
  }

  &__text {
    font-size: rem(14);
    line-height: rem(18.9);

    @include media(md) {
      font-size: 18px;
      line-height: 24px;
    }

    @include media(xl) {
      font-size: 16px;
      line-height: rem(22);
    }

    @include media(xxl) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__menu {
    position: relative;

    .main-page__number-stat {
      margin-right: rem(5);
    }

    @include media(xl) {
      margin-bottom: 0;
      padding-left: 0;
      display: block;

      .main-page__number-stat {
        margin-right: 0;
      }
    }
  }

  &__wrapper {
    display: block;

    @include media(lg) {
      display: flex;
    }
  }

  &__slide {
    margin-bottom: 56px;

    @include media(md) {
      margin-bottom: 60px;
    }

    @include media(lg) {
      margin-bottom: 0;
    }

    // &:nth-child(n + 3) {
    //   display: none;

    //   @include media(lg) {
    //     display: block;
    //   }
    // }
  }
}
