.slider-menu {
  &__container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
  }

  &__button--next {
    position: absolute;
    bottom: rem(180);
    left: calc(33% + 50px);
    z-index: 1;
    height: 56px;
    width: auto;
    right: auto;
    top: auto;

    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 28C6 40.1503 15.8497 50 28 50C40.1503 50 50 40.1503 50 28C50 15.8497 40.1503 6 28 6' stroke='%23009DE0' stroke-width='1.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.5 36.831L37 29.331V28.2705L29.5 20.7705L28.4395 21.831L34.6585 28.0515H19V29.5515H34.66L28.438 35.7705L29.4985 36.831H29.5Z' fill='%23009DE0'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      height: 56px;
      width: 56px;
    }
  }

  &__button--prev {
    position: absolute;
    bottom: rem(180);
    left: 32%;
    z-index: 1;
    height: 56px;
    width: auto;
    right: auto;
    top: auto;

    &:after {
      content: '';
      background-image: svg-load('../assets/images/svg/arrow-left.svg', fill=$color-black);
      background-position: center;
      background-repeat: no-repeat;
      height: 56px;
      width: 56px;
    }
  }

  &__pagination {
    flex: 0 0 40%;
    position: relative;
    width: auto;
    bottom: 0;
    text-align: left;

    @include media(xl) {
      flex: 0 0 33%;
    }
  }

  &__pagination-bullet {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: $color-transparent;
    border-radius: 0;
    height: auto;
    width: auto;
    margin-bottom: rem(4.5);
    padding: 18px 8px 18px 30px;
    opacity: 1;
    text-transform: uppercase;
    font-size: 16px;
    line-height: rem(21.6);

    @include media(xl) {
      font-size: 18px;
    }

    &.active {
      font-weight: 900;
      background-color: $color-white;
    }

    &:hover {
      font-weight: 900;
    }
  }

  &--contacts &__pagination-bullet {
    padding-left: 0;

    &.active {
      background-color: inherit;
    }
  }

  &__images {
    margin-bottom: rem(60);
  }

  &__title{
    padding-left: 4px;
    font-size: 24px;
    line-height: rem(32.4);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__text{
    padding-left: 4px;
    margin-bottom: 90px;
    font-size: 16px;
    line-height: rem(19.2);

    @include media(xl) {
      margin-bottom: 0;
    }
  }

  &__img{
    height: rem(400);
    object-fit: cover;
    width: 100%;
    border-radius: $border-radius;
  }

  &__button-info{
    padding: rem(19) rem(22);
    position: absolute;
    bottom: 18px;
    right: 90px;
  }

  &__slide {
    padding: rem(17) 0 rem(17) rem(14);
  }
}
