.cookie {
  background: $color-background-1;
  width: calc(100% - 30px);
  padding: 0 10px;
  position: fixed;
  margin-bottom: rem(15);
  margin-left: rem(15);
  bottom: 0;
  border: rem(1) solid $color-blue-2;
  border-radius: 3px;
  opacity: 1;
  transition: .5s ease-in;
  visibility: visible;
  z-index: 99;

  @include media(md) {
    width: rem(300);
  }

  @include media(lg) {
    padding: 0 20px;
    width: rem(400);
  }

  @include media(xl) {
    padding: 0 20px;
    width: rem(500);
  }

  &__text {
    font-size: 16px;
    font-weight: $font-weight-400;
    line-height: rem(22);
    padding-top: rem(42);
    padding-bottom: rem(32);
    position: relative;
    z-index: 1;

    @include media(lg) {
      font-size: 18px;
      line-height: rem(24.3);
    }
  }

  &__btn {
    padding-bottom: rem(27);
    position: relative;
    z-index: 1;
    max-width: rem(150);
  }

  &__img-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 0;
  }

  &__close-btn {
    position: absolute;
    right: 20px;
    top: 16px;
    width: 24px;
    height: 24px;
    z-index: 2;
    cursor: pointer;

    &:before,
    &:after {
      position: absolute;
      left: rem(15);
      content: ' ';
      height: 24px;
      width: 2px;
      background-color: #333;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &.is-hide {
    opacity: 0;
    visibility: hidden;
  }
}
