mixin cookie(data)
    div(class=`cookie is-hide` data-cookie)
        div(class=`cookie__container`)
            div(class=`cookie__close-btn` data-cookie-btn)
            div(class=`cookie__text`)!= data.text.text
            div(class=`cookie__btn`)
                div(class=data.btn.class data-cookie-btn)!= data.btn.text
            img(class=`cookie__img-container` src=`${data.img.src}`)  