mixin select(data)
  //- модификатор
  +modif('select', data.mod, data.prefix)

  //- префикс
  +prefix('select', data.prefix) 

  //- атрибуты
  - attr = data.attr || ''
  - type = data.type || 'text'

  div(class=`select${pr}${mod}`)
    div(class=`select${pr}__container`)
      select(class=`select${pr}__item`)&attributes(attr)!=data.text
        each option in data.option
          option(class=`select${pr}__option`)&attributes(option.attr)!=option.text
