.select {
  &__item {
    font-size: rem(28);
    line-height: rem(37.8);
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: rem(6) rem(22) rem(17);
  }

  &__container {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      right: rem(22);
      top: rem(16);
      width: rem(10);
      height: rem(10);
      border-bottom: 1px solid $color-black;
      border-right: 1px solid $color-black;
      transform: rotate(45deg);
    }
  }

  &__option {
    padding: rem(18) rem(20);
  }
}