.subscription {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(92.19deg, $color-orange-2 1.63%, $color-pink 97.93%);
  border-radius: 15px;
  align-items: center;

  @include media(sm) {
    height: 290px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 32px;
    padding-bottom: 34px;
    flex-direction: column;
    text-align: left;
  }

  @include media(md) {
    height: 381px;
    padding-top: 39px;
    padding-bottom: 38px;
    text-align: center;
  }

  @include media(lg) {
    height: 316px;
    padding-left: 48px;
    padding-right: 47px;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
  }

  @include media(xl) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @include media(xxl) {
    padding-left: 98px;
    padding-right: 99px;
  }

  &__title {
    font-family: $font-ceraround;
    font-weight: 700;
    color: $color-white;

    @include media(sm) {
      width: 100%;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 15px;
    }

    @include media(md) {
      font-size: 64px;
      line-height: 64px;
      margin-bottom: 0;
    }

    @include media(lg) {
      width: 50%;
      font-size: 72px;
      line-height: 72px;
    }

    @include media(xl) {
      width: 100%;
    }
  }

  &__form {
    @include media(sm) {
      width: 100%;
    }

    @include media(md) {
      width: unset;
      flex-shrink: 0;
    }
  }

  &__form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form-thanks {
    display: block;
    font-family: $font-ceraround;
    color: $color-gray-1;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    transition: opacity 0.2s ease-in;

    @include media(md) {
      font-size: 18px;
      line-height: 24px;
    }

    @include media(lg) {
      font-size: 20px;
      line-height: 20px;
    }

    &.is-hidden {
      opacity: 0;
      visibility: hidden;
      height: 0;
      width: 0;
      margin: 0 0;
      padding: 0;
    }
  }

  &__form-label {
    display: block;
    position: absolute;
    margin-top: -50px;
    font-size: 12px;
    line-height: 20px;
    color: $color-pink;
    transition: opacity 0.2s ease-in;

    @include media(lg) {
      font-size: 14px;
      line-height: 32px;
      margin-top: -60px;
    }

    &.is-hidden {
      opacity: 0;
      visibility: hidden;
      height: 0;
      width: 0;
      margin: 0 0;
      padding: 0;
    }
  }

  &__form-wrapper-input {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $color-white;
    border-radius: 15px;
    flex-direction: column;

    @include media(sm) {
      width: 100%;
      height: 82px;
    }

    @include media(md) {
      width: 471px;
      height: 100px;
      margin-right: 15px;
    }

    @include media(lg) {
      height: 120px;
    }
  }

  &__form-input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid $color-gray-2;
    color: $color-gray-1;
    transition: opacity 0.2s ease-in;

    @include media(sm) {
      margin-top: 35px;
      margin-bottom: 28px;
      padding-bottom: 6px;
      font-size: 14px;
      line-height: 16px;
    }

    @include media(md) {
      margin-top: 39px;
      margin-bottom: 31px;
      font-size: 18px;
      line-height: 32px;
    }

    @include media(lg) {
      margin-top: 50px;
      margin-bottom: 41px;
      font-size: 24px;
    }

    &.is-hidden {
      opacity: 0;
      visibility: hidden;
      height: 0;
      width: 0;
      margin: 0 0;
      padding: 0;
    }

    &::placeholder {
      font-family: $font-sourcesans;
      color: $color-gray-1;
      opacity: 1;

      @include media(sm) {
        font-size: 12px;
        line-height: 16px;
      }

      @include media(md) {
        font-size: 16px;
        line-height: 32px;
      }

      @include media(lg) {
        font-size: 18px;
      }
    }
  }

  &__form-wrapper-checkbox {
    display: flex;
    align-items: center;
    margin-top: 15px;

    @include media(sm) {
      margin-left: 5px;
    }

    @include media(md) {
      margin-left: 0;
    }
  }

  &__form-checkbox {
    opacity: 0;
    margin-right: -20px;
    z-index: 99;
    cursor: pointer;

    @include media(sm) {
      width: 15px;
      height: 15px;
    }

    @include media(md) {
      width: 20px;
      height: 20px;
    }
  }

  &__form-checkbox:checked + &__form-checkbox-text,
  &__form-checkbox:not(:checked) + &__form-checkbox-text {
    display: inline-block;
    position: relative;

    @include media(sm) {
      padding-left: 23px;
    }

    @include media(md) {
      padding-left: 28px;
    }
  }

  &__form-checkbox:checked + &__form-checkbox-text,
  &__form-checkbox:not(:checked) + &__form-checkbox-text {
    &:before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      border: 2px solid $color-white;
      border-radius: 2px;
      transition: opacity 0.2s ease-in;

      @include media(sm) {
        width: 15px;
        height: 15px;
      }

      @include media(md) {
        width: 20px;
        height: 20px;
      }
    }

    &:after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      transition: opacity 0.2s ease-in;
      background-color: $color-white;
      border: none;
      border-radius: 2px;
      left: 0;
      top: 0;

      @include media(sm) {
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4L6 9L14 1' stroke='url(%23paint0_linear_6085_780)' stroke-width='2' stroke-linecap='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_6085_780' x1='1.20998' y1='6.08688' x2='12.5055' y2='1.00897' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF742E'/%3E%3Cstop offset='1' stop-color='%23FD238A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        width: 15px;
        height: 15px;
        background-size: auto;
      }

      @include media(md) {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4L6 9L14 1' stroke='url(%23paint0_linear_6085_780)' stroke-width='2' stroke-linecap='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_6085_780' x1='1.20998' y1='6.08688' x2='12.5055' y2='1.00897' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF742E'/%3E%3Cstop offset='1' stop-color='%23FD238A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        width: 20px;
        height: 20px;
      }
    }
  }

  &__form-checkbox:checked + &__form-checkbox-text {
    &:after {
      opacity: 1;
    }
  }

  &__form-checkbox:not(:checked) + &__form-checkbox-text {
    &:after {
      opacity: 0;
    }
  }

  &__form-checkbox-text,
  &__form-checkbox-link {
    color: $color-white;

    @include media(sm) {
      font-size: 12px;
      line-height: 16px;
    }

    @include media(md) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__form-checkbox-text {
    margin-right: 5px;
  }

  &__form-checkbox-link {
    text-decoration: underline;
  }

  &__button-wrapper {
    margin: 0 auto;
    margin-top: 15px;
    font-size: 14px;
    line-height: 14px;
    width: 256px;

    &--mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $color-white;
      border-radius: 32px;
      height: 34px;

      @include media(sm) {
        display: flex;
      }

      @include media(md) {
        display: none;
      }
    }
  }
}
