mixin subscription(data)

  //- атрибуты
  - attr = data.attr || {'data-subscription': ''}

  .subscription&attributes(attr)
    .subscription__title Не пропустите все самое интересное!
    form(data-subscription-form).subscription__form
      .subscription__form-wrapper
        .subscription__form-wrapper-input
          .subscription__form-thanks.is-hidden(data-subscription-thanks) Спасибо! Подписка успешно оформлена
          label.subscription__form-label.is-hidden Ваша электронная почта 
          input(data-subscription-input aria-required="true" type="text" name="email" placeholder="Ваша электронная почта").subscription__form-input
        button(data-subscription-btn).btn.btn--subscription
      .subscription__form-wrapper-checkbox
        input(type="checkbox" id="id_1" data-subscription-checkbox).subscription__form-checkbox
        label(for="id_1").subscription__form-checkbox-text Согласен с
        a.subscription__form-checkbox-link(href="#") Политикой конфиденциальности
      .subscription__button-wrapper.subscription__button-wrapper--mobile
        button(data-subscription-btn).btn.btn--subscription-wide Подписаться на новости