*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  transition: --verticalpercent 1s ease-in;
}

body {
  font-family: $font-base;
  font-size: $font-base-size;
  font-weight: $font-weight-400;
  line-height: $font-base-lineheight;
  color: $color-black;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  content-visibility: auto;
  contain-intrinsic-size: 1000px;
  -webkit-font-smoothing: antialiased;

  &.loaded {
    content-visibility: visible;
  }

  &.overflow {
    overflow: hidden;
  }
}

p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;

  & li {
    position: relative;
    padding: 0;
    margin: 0;
  }
}

img,
svg {
  max-width: 100%;
}

img {
  height: auto;
  width: auto;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

button {
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  background: $color-transparent;
  color: inherit;
  font-weight: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select {
  border-bottom: 1px solid $color-black;
  display: inline-block;
  font: inherit;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

a,
button,
h2,
input,
textarea,
select {
  outline: none;
  box-shadow: none;

  .form-group & {
    outline: none;
    box-shadow: none;
  }

  &:focus {
    outline: none;
    box-shadow: none;

    .form-group & {
      outline: none;
      box-shadow: none;
    }
  }
}

.btn:focus,
.btn.focus {
  box-shadow: none;
}
