@import '../../../node_modules/bootstrap-4-grid/scss/breakpoints/mixins/breakpoints';

[class*="col-"] {
    padding-right: $grid-gutter-width/2;
    padding-left: $grid-gutter-width/2;
}

.row {
    margin-right: -($grid-gutter-width/2);
    margin-left: -($grid-gutter-width/2);

    &--xs {
      margin-right: -($grid-gutter-width/4);
      margin-left: -($grid-gutter-width/4);

      [class*="col-"] {
        padding-right: $grid-gutter-width/4;
        padding-left: $grid-gutter-width/4;
      }
    }
}
