.icon {
  position: relative;
  height: 24px;
  width: 24px;

  &--sm {
    height: 10px;
    width: 10px;
  }

  &--md {
    height: 16px;
    width: 16px;
  }

  &--lg {
    height: rem(32);
    width: rem(32);
  }

  &--xl {
    height: rem(27);
    width: rem(27);

    @include media(lg) {
      height: rem(40);
      width: rem(40);
    }

    @include media(xl) {
      height: rem(45);
      width: rem(45);
    }
  }

  &.news {
    width: rem(453);
    height: rem(449.32);

    &--2 {
      width: rem(453);
      height: rem(427);
    }
  }

  &.warning {
    width: 56px;
    height: 56px;
  }

  &.rectangle--sm {
    height: rem(6);
    width: rem(6);

    @include media(md) {
      height: 10px;
      width: 10px;
    }
  }

  &.fb-mob,
  &.vk-mob,
  &.inst-mob {
    fill: $color-blue-2;
    transition: 0.2s ease-in;

    &:hover {
      fill: $color-blue-1;
    }
  }

  &.service {
    width: rem(200);
    height: rem(200);

    @include media(md) {
      width: rem(400);
      height: rem(400);
    }

    @include media(lg) {
      width: rem(500);
      height: rem(480);
    }

    @include media(xl) {
      width: rem(607);
      height: rem(577);
    }
  }

  &.service-vim {
    width: rem(200);
    height: rem(300);

    @include media(xl) {
      width: rem(692);
      height: rem(815);
    }
  }

  &.service-vim.commerce {
    width: rem(400);
    height: rem(500);

    @include media(xl) {
      width: 590px;
      height: 690px;
    }
  }

  &.metrology {
    width: 200px;
    height: 200px;

    @include media(xl) {
      width: rem(537);
      height: rem(532);
    }
  }

  &.file-icon {
    width: 20px;
    height: 20px;

    @include media(md) {
      width: 35px;
      height: 37px;
    }

    @include media(lg) {
      width: 44px;
      height: 54px;
    }
  }

  &.file-icon.added {
    color: $color-black;
    width: 20px;
    height: 20px;

    @include media(md) {
      width: 35px;
      height: 37px;
    }

    @include media(lg) {
      width: 60px;
      height: 47px;
    }
  }

  &.benefit {
    width: rem(112);
    height: rem(112);
    max-width: unset;
  }

  &.about-1 {
    width: 514px;
    height: 453px;

    &.norg {
      width: 457px;
      height: 403px;
    }
  }

  &.gear {
    width: 80px;
    height: 80px;

    @include media(md) {
      width: 110px;
      height: 110px;
    }

    @include media(lg) {
      width: 147px;
      height: 147px;
    }

    &.second {
      width: 120px;
      height: 120px;

      @include media(md) {
        width: 180px;
        height: 180px;
      }

      @include media(lg) {
        width: 240px;
        height: 240px;
      }
    }
  }

  &.gear-big {
    width: 300px;
    height: 300px;

    @include media(md) {
      width: 406px;
      height: 406px;
    }

    @include media(lg) {
      width: 541px;
      height: 541px;
    }
  }

  &.logo.about {
    width: 150px;
    height: 30px;

    @include media(md) {
      width: 257px;
      height: 54px;
    }

    @include media(xl) {
      width: 343px;
      height: 72px;
    }
  }

  &.saw-blade,
  &.tassel,
  &.bottle {
    width: 40px;
    height: 40px;

    @include media(md) {
      width: 48px;
      height: 48px;
    }

    @include media(lg) {
      width: 56px;
      height: 56px;
    }
  }

  &.vending {
    @include media(lg) {
      width: 500px;
      height: 503px;
    }
    
    @include media(xl) {
      width: 918px;
      height: 911px;
    }
  }
}
