h1,
.h1 {
  @extend %h1;
}

h2,
.h2 {
  @extend %h2;
  &__point{
    position: relative;
    padding-left: rem(35);
    letter-spacing: rem(0.3);
    font-weight: 400;

    @include media(md) {
      padding-left: 56px;
    }

    @include media(lg) {
      letter-spacing: unset;
      padding-left: rem(54);
    }

    &::before{
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background: $color-blue-2;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
}

h3,
.h3 {
  @extend %h3;
  &__point{
    position: relative;
    padding-left: 40px;
    &::before{
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background: $color-blue-2;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
}

h4,
.h4 {
  @extend %h4;
}


.small {
  font-size: rem(14);
  line-height: 18px;
}

.default {
  font-size: 18px;
  line-height: 24px;
  &--uppercase{
    text-transform: uppercase;
  }
}

.caption {
  font-size: 8px;
  line-height: rem(9.6);

  @include media(md) {
    font-size: 16px;
    line-height: 20px;
  }

  @include media(lg) {
   font-size: rem(14);
   line-height: rem(14);
  }
}

.large {
  font-size: rem(14);
  line-height: rem(18.9);

  @include media(md) {
    font-size: rem(28);
    line-height: rem(38);
  }

  @include media(xl) {
    font-size: rem(32);
    line-height: rem(43.2);
  }
}

a {
  color: $color-gray-1;
  text-decoration: none;
}

a[href^='tel:'] ,
a[href^='mailto:']{
	white-space: nowrap;
}

b, strong, .bold {
	font-weight: $font-weight-700;
}

.regular {
  font-weight: $font-weight-400;
}

.semibold {
  font-weight: $font-weight-600;
}

.text-underline {
  text-decoration: underline;
  text-underline-position: under;
}

.text-uppercase {
  text-transform: uppercase;
}

.white-space {
  white-space: pre;
}
