.menu-main-icon {
  &:not(:last-child) {
    margin-bottom: rem(48);

    @include media(md) {
      margin-bottom: 40px;
    }
  }

  // &__inner {
  //   @include media(md) {
  //     display: block;
  //   }
  // }

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(13);
    }


    &.color-black{
      a{
        color: $color-black;
      }
    }

    @include media(lg) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &:not(.color-black){
        a:hover{
          color: $color-blue-1;
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
  }

  &__icon {
    flex-shrink: 0;
    width: 20px;
    margin-right: 20px;
    display: none;

    @include media(lg) {
      display: flex;
    }

    & .icon {
      width: rem(26);
      height: rem(26);
    }
  }

  &__text {
    font-size: 12px;
    line-height: rem(16.2);

    @include media(md) {
      font-size: 18px;
      line-height: rem(24.3);
    }

    @include media(lg) {
      font-size: 16px;
      line-height: rem(21.6);
    }
  }
}
