mixin menu(data)
  //- модификатор
  +modif('menu', data.mod)

  //- префикс
  +prefix('menu', data.prefix)

  //- атрибуты
  - attr = data.attr || ''

  nav(class=`menu${pr}${mod}`)&attributes(attr)
    +nav(data, pr, mod)

//- вложенное меню
mixin nav(data, pr, mod)
  if (mod != '')
    - mod = `-${mod}`

  if (data.title)
    div(class=`menu${pr}__title`)!= data.title

  div(class=`menu${pr}__list${mod}` class=data.classList)
    ul(class=`menu${pr}__inner${mod}`)
      each item in data.list
        if (item.list)
          - link = `menu${pr}__link--drop`
        else
          - link = ''

        li(class=`menu${pr}__item${mod}` class=item.class)
          if (item.title)
            a(class=`menu${pr}__title${mod}`)= item.title

          if (item.text || item.img || item.icon)
            a(href= item.href class=`menu${pr}__link${mod}` class= link)&attributes(item.attr)
              if (item.icon)
                div(class=`menu${pr}__icon${mod}`)
                  +icon(item.icon, item.iconClass)

              if (item.img)
                div(class=`menu${pr}__img${mod} load`)
                  +img(item.img)

              if (item.text)
                span(class=`menu${pr}__text${mod}`)!= item.text

          if (item.list)
            div(class=`menu${pr}__nav${mod}`)
              if (item.back)
                a(class=`menu${pr}__back` data-menu-back)!= item.text
              +nav(item, pr, item.mod)
