.input-news {
  padding-top: 16px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-size: 16px;
  line-height: rem(22);
  font-weight: 400;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: $color-white;

  &::placeholder {
    color: $color-black;
    opacity: 0.2;
  }

  &__container {
    position: relative;
  }

  &__button {
    content: '';
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 24px;
    transform: translate(0, -50%);
    width: rem(45);
    height: rem(45);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 44 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 35C27.3888 35 35 27.3888 35 18C35 8.61116 27.3888 1 18 1C8.61116 1 1 8.61116 1 18C1 27.3888 8.61116 35 18 35Z' stroke='%23C3C6C9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M43 44L30 31' stroke='%23C3C6C9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    @include media(md) {
      background-image: url("data:image/svg+xml,%3Csvg width='44' height='45' viewBox='0 0 44 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 35C27.3888 35 35 27.3888 35 18C35 8.61116 27.3888 1 18 1C8.61116 1 1 8.61116 1 18C1 27.3888 8.61116 35 18 35Z' stroke='%23C3C6C9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M43 44L30 31' stroke='%23C3C6C9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      &:hover{
        background-image: url("data:image/svg+xml,%3Csvg width='44' height='45' viewBox='0 0 44 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 35C27.3888 35 35 27.3888 35 18C35 8.61116 27.3888 1 18 1C8.61116 1 1 8.61116 1 18C1 27.3888 8.61116 35 18 35Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M43 44L30 31' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
  }

  @include media(md) {
    font-size: rem(32);
    line-height: rem(44);
    background-color: inherit;
    padding-top: 24px;
    padding-bottom: 20px;
  }
}
