.input {
  width: 100%;
  position: relative;
  z-index: 1;
  background: $color-transparent;
  font-weight: $font-weight-400;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  padding-left: 20px;

  @include media(md) {
    
  }

  &::placeholder {
    color: $color-black;
    opacity: 0.2;
  }

  &__container {
    position: relative;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset !important;
  }
}
