.input-form {
  font-size: rem(14);
  line-height: rem(18.9);
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: rem(3) rem(20) rem(10);

  @include media(md) {
    padding: rem(6) rem(22) rem(17);
    font-size: rem(28);
    line-height: rem(37.9);
  }

  @include media(lg) {
    font-size: rem(28);
    line-height: rem(37.8);
    padding: rem(6) rem(22) rem(17);
  }

  &::placeholder {
    color: $color-black;
    opacity: 0.2;
  }

  &--file {
    user-select: none;
    cursor: default;

    padding: 16px 60px 7px 41px;

    @include media(md) {
      padding: 12px 70px 13px 49px;
    }

    @include media(lg) {
      padding: 16px 60px 17px;
      padding-left: 54px;
    }
  }
}
