.input-subscription {
  padding-top: rem(9.5);
  padding-bottom: rem(5.5);
  padding-left: 20px;
  font-size: rem(14);
  line-height: rem(18.9);
  font-weight: 400;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;

  @include media(md) {
    padding-bottom: 16px;
    font-size: rem(28);
    line-height: rem(37.8);
  }

  @include media(lg) {
    padding-top: rem(1);
    padding-left: rem(19);
    font-size: 40px;
    line-height: rem(54);
  }

  &::placeholder {
    color: $color-black;
    opacity: 0.2;
  }

  &__container {
    position: relative;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset !important;
  }
}
