.input-header {
  padding-top: 16px;
  padding-bottom: 12px;
  padding-left: 45px;
  font-size: 14px;
  line-height: 18.9px;
  font-weight: 400;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: $color-white;

  @include media(md) {
    padding-left: 50px;
  }

  @include media(lg) {
    font-size: 22px;
    line-height: 34px;
    background-color: inherit;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 80px;
  }

  @include media(xl) {
    font-size: 28px;
    line-height: 38px;
    background-color: inherit;
    padding-top: 16px;
    padding-bottom: 12px;
    padding-left: 80px;
  }

  @include media(xxl) {
    font-size: 32px;
    line-height: 44px;
    background-color: inherit;
    padding-top: 24px;
    padding-bottom: 20px;
    padding-left: 100px;
  }

  &::placeholder {
    color: $color-black;
    opacity: 0.2;
  }

  &__container {
    position: relative;
  }

  &__button {
    content: '';
    position: absolute;
    cursor: pointer;
    top: 50%;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1773 17.3546C14.1412 17.3546 17.3546 14.1412 17.3546 10.1773C17.3546 6.21338 14.1412 3 10.1773 3C6.21338 3 3 6.21338 3 10.1773C3 14.1412 6.21338 17.3546 10.1773 17.3546Z' stroke='%23AEAEAE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.7326 21.1545L15.2441 15.666' stroke='%23AEAEAE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transform: translate(0, -50%);
    background-repeat: no-repeat;
    background-position: center;
    left: 11px;
    width: 24px;
    height: 24px;

    @include media(lg) {
      width: 30px;
      height: 30px;
      left: 15px;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 44 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 35C27.3888 35 35 27.3888 35 18C35 8.61116 27.3888 1 18 1C8.61116 1 1 8.61116 1 18C1 27.3888 8.61116 35 18 35Z' stroke='%23C3C6C9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M43 44L30 31' stroke='%23C3C6C9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 44 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 35C27.3888 35 35 27.3888 35 18C35 8.61116 27.3888 1 18 1C8.61116 1 1 8.61116 1 18C1 27.3888 8.61116 35 18 35Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M43 44L30 31' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }

    @include media(xl) {
      width: 37px;
      height: 37px;
      left: 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 44 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 35C27.3888 35 35 27.3888 35 18C35 8.61116 27.3888 1 18 1C8.61116 1 1 8.61116 1 18C1 27.3888 8.61116 35 18 35Z' stroke='%23C3C6C9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M43 44L30 31' stroke='%23C3C6C9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 44 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 35C27.3888 35 35 27.3888 35 18C35 8.61116 27.3888 1 18 1C8.61116 1 1 8.61116 1 18C1 27.3888 8.61116 35 18 35Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M43 44L30 31' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }

    @include media(xxl) {
      width: 45px;
      height: 45px;
      left: 24px;
      background-image: url("data:image/svg+xml,%3Csvg width='44' height='45' viewBox='0 0 44 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 35C27.3888 35 35 27.3888 35 18C35 8.61116 27.3888 1 18 1C8.61116 1 1 8.61116 1 18C1 27.3888 8.61116 35 18 35Z' stroke='%23C3C6C9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M43 44L30 31' stroke='%23C3C6C9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='44' height='45' viewBox='0 0 44 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 35C27.3888 35 35 27.3888 35 18C35 8.61116 27.3888 1 18 1C8.61116 1 1 8.61116 1 18C1 27.3888 8.61116 35 18 35Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M43 44L30 31' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }

  }
}
