.input-map {
  padding: 10px rem(21);
  width: 100%;
  font-size: rem(14);
  line-height: rem(18.9);
  border: none;
  background-color: $color-white;

  &::placeholder {
    color: $color-black;
    opacity: 0.2;
  }

  &__container {
    position: relative;
  }

  &__button {
    content: "";
    position: absolute;
    top: 50%;
    right: rem(17);
    transform: translate(0, -50%);
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.4095 12.9553L9.34332 8.7407C10.2595 7.83005 10.763 6.63925 10.763 5.375C10.763 4.07305 10.2294 2.84845 9.25985 1.92805C8.29033 1.00765 7.00198 0.5 5.63152 0.5C4.26106 0.5 2.97202 1.007 2.00319 1.92805C1.03436 2.8491 0.5 4.07305 0.5 5.375C0.5 6.67695 1.03368 7.90155 2.00319 8.82195C2.97271 9.74235 4.26106 10.25 5.63152 10.25C6.81245 10.25 7.93181 9.87365 8.83906 9.18075L12.9053 13.3947C12.973 13.4649 13.0647 13.5 13.1578 13.5C13.2405 13.5 13.3233 13.472 13.389 13.4148C13.5286 13.2933 13.5375 13.0879 13.4102 12.9559L13.4095 12.9553ZM1.18352 5.375C1.18352 3.0454 3.17865 1.15 5.63084 1.15C8.08302 1.15 10.0782 3.0454 10.0782 5.375C10.0782 7.7046 8.08302 9.6 5.63084 9.6C3.17865 9.6 1.18352 7.7046 1.18352 5.375Z' fill='%23AEAEAE'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__wrap {
    margin-left: rem(-21);
  }
}
