mixin input(data)
  //- модификатор
  +modif('input', data.mod, data.prefix)

  //- префикс
  +prefix('input', data.prefix) 

  //- атрибуты
  - attr = data.attr || ''
  - type = data.type || 'text'

  div(class=`input${pr}__wrap`)
    div(class=`input${pr}${mod}__container`)
      input(
        type=`${type}`
        class=`input${pr}`
        class=typeof data.class === "undefined" ? "" : data.class
        value=typeof data.value === "undefined" ? "" : data.value
        name=typeof data.name === "undefined" ? data.type: data.name
        placeholder=typeof data.placeholder === "undefined" ? "" : data.placeholder
        aria-required="true"
      )&attributes(attr)

      if (data.btn)
        - btnAttr = data.btn.attr
        button(class=`input${pr}__button` class=data.btn.class)&attributes(btnAttr)!= data.btn.text
