.input-apply {
  padding: 3px 20px 10px;
  font-size: 18px;
  line-height: rem(28);
  font-weight: 400;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;

  @include media(md) {
    font-size: rem(28);
    line-height: rem(37.8);
    padding: 3px 20px 16px;
  }

  &::placeholder {
    color: $color-black;
    opacity: 0.2;
  }

  &__container {
    position: relative;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset !important;
  }
}
