extends template/layout
include ../components/breadcrumbs/breadcrumbs
include ../components/subscription/subscription

block variables
  - var title = 'Развлечения'

block content
  .entertainments
    .container
      +breadcrumbs({
        list: [
          {
            text: 'KazanMall',
            href: '#'
          },
          {
            text: 'Развлечения',
          }
        ]
      })

      .entertainments__header
        h1.entertainments__title.entertainments__title--1 Развлечения
        ul.entertainments__menu
          li.entertainments__menu-item
            a(href='#').entertainments__menu-item-link Форсаж
          li.entertainments__menu-item
            a(href='#').entertainments__menu-item-link Киномакс
          li.entertainments__menu-item
            a(href='#').entertainments__menu-item-link TeikaBoom
          li.entertainments__menu-item
            a(href='#').entertainments__menu-item-link Мегаленд

    .container.container--afterburner
      .entertainments__afterburner
        h2.entertainments__afterburner-title.entertainments__title--2 Форсаж
        .row.entertainments__wrapper-upper
          .col-12.col-md-6.order-2.order-md-1.entertainments__image
            .entertainments__afterburner-image-upper
              +img('example/entertainments/afterburner/afterburner-1.png')
            .entertainments__afterburner-image-hexagon
              +img('example/entertainments/afterburner/afterburner-hexagon.png')
          .col-12.col-md-6.order-1.order-md-2.entertainments__afterburner-info
            .entertainments__info-logo
              +img('example/entertainments/afterburner/afterburner-logo.png')
            .entertainments__info-text-wrapper
              h3.entertainments__title.entertainments__title--3 Картинг
              .entertainments__info-worktime
                .entertainments__info-worktime-item Пн-Чт: 10:00 - 22:00
                .entertainments__info-worktime-item Пт-Сб: 10:00 - 23:00
                .entertainments__info-worktime-item Вс: 10:00 - 21:00
            p.entertainments__afterburner-info-text
              | Драйв и дух соревнования – вот, что вас 
              | ждет на наших трассах. Мы устраиваем 
              | чемпионаты, в которых команды могут 
              | побороться за настоящие призы.
            .entertainments__info-floor 1 этаж
            .entertainments__button-wrapper.entertainments__button-wrapper--afterburner
              a(href='#').btn.btn--entertainments Принять участие в гонке
        .row.entertainments__wrapper-bottom
          .col-12.col-md-6
            .entertainments__button-wrapper.entertainments__button-wrapper--mobile.entertainments__button-wrapper--afterburner
              a(href='#').btn.btn--entertainments Принять участие в гонке
            .entertainments__afterburner-points
              .entertainments__points-item Возможность проведения соревнований различного уровня, от региональных до корпоративных.
              .entertainments__points-item.entertainments__points-item--reverse 4 различных вида картов, для любых возрастов.
          .col-12.col-md-6.entertainments__afterburner-image-bottom
            +img('example/entertainments/afterburner/afterburner-2.png')

    .container.container--kinomax
      .entertainments__kinomax
        h2.entertainments__kinomax-title.entertainments__title--2 Киномакс
        .row.entertainments__wrapper-upper
          .col-12.col-md-6.col-lg-5.entertainments__kinomax-info
            .entertainments__info-logo
              +img('example/entertainments/kinomax/kinomax-logo.png')
            .entertainments__info-text-wrapper
              h3.entertainments__title.entertainments__title--3 Кинотеатр
              .entertainments__info-worktime
                .entertainments__info-worktime-item Пн-Вс: 10:00 - 02:00
            p.entertainments__kinomax-info-text
              | Современные технологии, комфортные залы, 
              | богатый репертуар, IMAX с 10-ти метровым 
              | экраном и возможность заказа еды 
              | из ресторана прямо в зал позволят всем 
              | любителям кино насладиться сеанасом 
              | и отлично провести время.
            .entertainments__info-floor 5 этаж
            .entertainments__button-wrapper.entertainments__button-wrapper--kinomax
              a(href='#').btn.btn--entertainments Посмотреть все сеансы
          .col-12.col-md-6.col-lg-7.entertainments__image
            .entertainments__kinomax-image-upper
              +img('example/entertainments/kinomax/kinomax-1.png')
            .entertainments__kinomax-image-hexagon
              +img('example/entertainments/kinomax/kinomax-hexagon.png')
        .row.entertainments__wrapper-bottom
          .col-12.col-md-6.entertainments__kinomax-image-bottom
            +img('example/entertainments/kinomax/kinomax-2.png')
          .col-12.col-md-6
            .entertainments__kinomax-points
              .entertainments__points-item 9 кинозалов IMAX на 236 мест.
              .entertainments__points-item Кинотеатр Imax самый крупный в Казани: высота экрана 10 м в высоту.
              .entertainments__points-item Все форматы показов гарантируют полное погружение в сюжет.
              .entertainments__points-item Заказ еды из ресторана прямо в кинотеатр. 
            .entertainments__button-wrapper.entertainments__button-wrapper--mobile.entertainments__button-wrapper--kinomax
              a(href='#').btn.btn--entertainments Посмотреть все сеансы

    .container.container--megaland
      .entertainments__megaland
        h2.entertainments__megaland-title.entertainments__title--2 Мегаленд
        .row.entertainments__wrapper-upper
          .col-12.col-md-6.order-2.order-md-1.entertainments__image
            .entertainments__megaland-image-upper
              +img('example/entertainments/megaland/megaland-1.png')
            .entertainments__megaland-image-upper--square
              +img('example/entertainments/megaland/megaland-1-square.png')
            .entertainments__megaland-image-hexagon
              +img('example/entertainments/megaland/megaland-hexagon.png')
          .col-12.col-md-6.order-1.order-md-2.entertainments__megaland-info
            .entertainments__info-wrapper
              .entertainments__info-logo
                +img('example/entertainments/megaland/megaland-logo.png')
              .entertainments__info-text-wrapper.entertainments__info-text-wrapper--large
                h3.entertainments__title.entertainments__title--3 Веревочный экстрим-парк для детей и взрослых
                .entertainments__info-worktime.entertainments__info-worktime--large
                  .entertainments__info-worktime-item Пн-Чт: 10:00 - 22:00
                  .entertainments__info-worktime-item Пт-Сб: 10:00 - 23:00
                  .entertainments__info-worktime-item Вс: 10:00 - 21:00
            p.entertainments__megaland-info-text
              | Если вы любите активно проводить время, вам 
              | понравится в веревочном развлекательном  
              | экстрим-парке Мегалэнд.
            .entertainments__info-floor 5 этаж
            .entertainments__button-wrapper.entertainments__button-wrapper--megaland
              a(href='#').btn.btn--entertainments Подробнее о парке
        .row.entertainments__wrapper-bottom
          .col-12.col-md-6
            .entertainments__megaland-points
              .entertainments__points-item Мегаленд – это аттракционы, веревочный экстрим парк, батуты, лабиринты,  кафетерий и собственный детский сад.
              .entertainments__points-item Высота веревочного парка равна трехэтажному дому.
              .entertainments__points-item В веревочном парке все участники снаряжены альпинистским снаряжением и находятся под чутким присмотром специалистов парка, что гарантирует безопасность всем участникам.
            .entertainments__button-wrapper.entertainments__button-wrapper--mobile.entertainments__button-wrapper--megaland
              a(href='#').btn.btn--entertainments Подробнее о парке
          .col-12.col-md-6.entertainments__megaland-image-bottom
            +img('example/entertainments/megaland/megaland-2.png')

    .container.container--teilkaboom
      .entertainments__teilkaboom
        h2.entertainments__teilkaboom-title.entertainments__title--2 TeilkaBoom
        .row.entertainments__wrapper-upper
          .col-12.col-md-6.col-lg-5.entertainments__teilkaboom-info
            .entertainments__info-logo
              +img('example/entertainments/teilkaboom/teilkaboom-logo.png')
            .entertainments__info-text-wrapper
              h3.entertainments__title.entertainments__title--3 Семейный активити парк
              .entertainments__info-worktime
                .entertainments__info-worktime-item Пн-Пт: 10:00 - 22:00
                .entertainments__info-worktime-item Сб-Вс: 10:00 - 23:00
            p.entertainments__teilkaboom-info-text
              | Команда TeikaBoom постарались, чтобы
              | в  современных и больших активити парках 
              | с оригинальными интерьерами, огромной 
              | игровой зоной, аттракционами, домиками 
              | для проведения праздников, атмосферными 
              | ресторанами и кафе было комфортно всем 
              | и каждому, и взрослым и детям!
            .entertainments__info-floor 5 этаж
            .entertainments__button-wrapper.entertainments__button-wrapper--teilkaboom
              a(href='#').btn.btn--entertainments Подробнее о парке
          .col-12.col-md-6.col-lg-7.entertainments__image
            .entertainments__teilkaboom-image-upper
              +img('example/entertainments/teilkaboom/teilkaboom-1.png')
            .entertainments__teilkaboom-image-hexagon
              +img('example/entertainments/teilkaboom/teilkaboom-hexagon.png')
        .row.entertainments__wrapper-bottom
          .col-12.col-md-6.entertainments__teilkaboom-image-bottom
            +img('example/entertainments/teilkaboom/teilkaboom-2.png')
          .col-12.col-md-6
            .entertainments__teilkaboom-points
              .entertainments__points-item 30 аттракционов и игровых зон.
              .entertainments__points-item Организация детских праздников под ключ.
              .entertainments__points-item Разнотематические мастер-классы для детей разных возрастов.
            .entertainments__button-wrapper.entertainments__button-wrapper--mobile.entertainments__button-wrapper--teilkaboom
              a(href='#').btn.btn--entertainments Подробнее о парке
  .container.container--follow
    +subscription({})


              