extends template/layout

block variables
  - var title = 'Список страниц'

block content
  .container

    h1 Список страниц

    ol
      for item in pages
        li.pb-4
          a.large(href=item.href)= item.text
