.entertainments {
  &__title {
    &--1 {
      margin-left: 20px;
      z-index: 1;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='85' height='84' viewBox='0 0 85 84' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.5332 84C31.2185 84.0007 29.9565 83.4855 29.0215 82.5663L1.48029 55.4636C0.851244 54.8436 0.399083 54.0686 0.17006 53.2177C-0.058962 52.3669 -0.0566245 51.4708 0.176834 50.6211L10.4434 13.6047C10.6735 12.7719 11.1187 12.0134 11.7347 11.4047C12.3508 10.796 13.1163 10.3582 13.9551 10.1349L51.3719 0.16779C52.2135 -0.0553573 53.0991 -0.055938 53.941 0.166105C54.7829 0.388148 55.5518 0.825109 56.1717 1.4337L83.5289 28.4296C84.154 29.0473 84.6032 29.8188 84.8308 30.6654C85.0585 31.5121 85.0563 32.4036 84.8247 33.2492L74.6654 70.3953C74.4342 71.2304 73.988 71.9912 73.3708 72.6024C72.7536 73.2136 71.9868 73.654 71.1461 73.8803L33.8136 83.8322C33.3962 83.9446 32.9656 84.001 32.5332 84ZM52.6294 2.28781C52.3963 2.28767 52.1642 2.31845 51.9393 2.37932L14.5685 12.3388C14.1168 12.4597 13.7046 12.6956 13.3725 13.0232C13.0404 13.3509 12.7999 13.7589 12.6747 14.2072L2.40037 51.2312C2.26851 51.6857 2.26081 52.1669 2.37805 52.6253C2.4953 53.0837 2.73326 53.5028 3.06743 53.8393L30.67 80.942C31.0044 81.2685 31.4185 81.5027 31.8715 81.6217C32.3246 81.7408 32.801 81.7404 33.2539 81.6207L70.5403 71.6841C70.9935 71.5611 71.4066 71.3227 71.7388 70.9924C72.0709 70.662 72.3106 70.2512 72.4342 69.8004L82.5781 32.6468C82.7016 32.1917 82.7021 31.7124 82.5796 31.2571C82.4571 30.8018 82.2159 30.3868 81.8804 30.0539L54.5232 3.0504C54.0159 2.56057 53.3364 2.28697 52.6294 2.28781Z' fill='url(%23paint0_linear_1694_155)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1694_155' x1='1.37294' y1='53.4123' x2='83.702' y2='30.3649' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF742E'/%3E%3Cstop offset='1' stop-color='%23FD238A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center; 
        display: block;
        z-index: -1;
  
        @include media(sm) {
          width: 40px;
          height: 40px;
          background-size: 40px 40px;
          left: -8px;
        }
  
        @include media(md) {
          width: 77px;
          height: 77px;
          background-size: 77px 77px;
          left: -20px;
        }
  
        @include media(lg) {
          width: 85px;
          height: 84px;
          background-size: 85px 84px;
        }
      }
    }

    &--2 {
      text-align: center;

      @include media(sm) {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 20px;
      }

      @include media(md) {
        margin-top: 52px;
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 40px;
      }

      @include media(lg) {
        margin-top: 60px;
        font-size: 48px;
        line-height: 48px;
      }

      @include media(xxl) {
        margin-bottom: 30px;
      }
    }

    &--3 {
      @include media(sm) {
        font-size: 16px;
        line-height: 20px;
      }

      @include media(md) {
        font-size: 30px;
        line-height: 40px;
      }

      @include media(lg) {
        font-size: 36px;
      }
    }
  }

  &__menu {
    display: flex;
    font-family: $font-ceraround;
  }

  &__menu-item {
    @include media(sm) {
      font-size: 14px;
    }
    
    @include media(md) {
      font-size: 18px;
    }

    @include media(lg) {
      font-size: 20px;
    }

    &:not(:last-child) {
      @include media(sm) {
        margin-right: 10px;
      }

      @include media(md) {
        margin-right: 31px;
      }
    }
  }

  &__menu-item-link {
    color: $color-pink;
  }

  &__afterburner-title {
    @include media(md) {
      padding-left: 5px;
    }

    @include media(lg) {
      padding-right: 120px;
      padding-left: 0;
    }

    @include media(xl) {
      padding-right: 185px;
    }

    @include media(xxl) {
      padding-right: 100px;
    }
  }

  &__kinomax-title {
    @include media(lg) {
      padding-left: 100px;
    }

    @include media(xl) {
      padding-left: 150px;
    }

    @include media(xxl) {
      padding-left: 140px;
    }
  }

  &__megaland-title {
    @include media(lg) {
      padding-right: 190px;
    }

    @include media(xl) {
      padding-right: 190px;
    }

    @include media(xxl) {
      padding-right: 290px;
    }
  }

  &__teilkaboom-title {
    @include media(lg) {
      padding-left: 50px;
    }

    @include media(xl) {
      padding-left: 240px;
    }

    @include media(xxl) {
      padding-right: 30px;
    }
  }

  &__button-wrapper {
    display: flex;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(74.54deg, $color-orange-2 9.16%, $color-pink 90.97%);
    padding: 2px;

    @include media(sm) {
      display: none;
      height: 36px;
    }

    @include media(md) {
      display: block;
      height: 44px;
    }

    &--mobile {
      @include media(sm) {
        margin-top: 20px;
        display: block;
      }

      @include media(md) {
        margin-top: 0;
        display: none;
      }
    }

    &--afterburner {
      @include media(sm) {
        width: 294px;
      }
  
      @include media(md) {
        width: 334px;
      }
    }

    &--kinomax {
      @include media(sm) {
        width: 294px;
      }
  
      @include media(md) {
        width: 322px;
      }
    }

    &--megaland,
    &--teilkaboom {
      @include media(sm) {
        width: 294px;
      }
  
      @include media(md) {
        width: 281px;
      }
    }
  }

  &__afterburner,
  &__kinomax,
  &__megaland,
  &__teilkaboom {
    color: $color-gray-1;
  }

  &__teilkaboom {
    padding-bottom: 50px;
  }

  &__image {
    @include media(md) {
      margin-top: 40px;
    }

    @include media(lg) {
      margin-top: 50px;
    }
  }

  &__afterburner-image-upper,
  &__kinomax-image-upper,
  &__megaland-image-upper,
  &__megaland-image-upper--square,
  &__teilkaboom-image-upper,
  &__teilkaboom-image-bottom {
    display: flex;

    &:after {
      background-color: $color-white;
      border-radius: 50%;
      color: $color-gray-1;
      font-family: $font-ceraround;
      font-weight: 500;
      text-align: center;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      @include media(sm) {
        width: 25px;
        height: 25px;
        top: 10px;
        right: 35px;
        font-size: 12px;
        line-height: 12px;
      }

      @include media(md) {
        width: 40px;
        height: 40px;
        top: 15px;
        right: 55px;
        font-size: 18px;
        line-height: 18px;
      }

      @include media(lg) {
        top: 20px;
        right: 60px;
      }

      @include media(xl) {
        right: 65px;
      }

      @include media(xxl) {
        right: 60px;
      }
    }
  }

  &__afterburner-image-upper {
    &:after {
      content: '6+';      
    }

    @include media(sm) {
      max-width: 486px;
    }

    @include media(md) {
      min-width: 353px;
    }

    @include media(lg) {
      width: 517px;
      height: 421px;
      max-width: unset;
      min-width: unset;
    }
    
    @include media(xl) {
      width: 580px;
      height: 472px;
    }
  }

  &__kinomax-image-upper {
    &:after {
      content: '3+';
    }

    @include media(sm) {
      max-width: 486px;
    }

    @include media(md) {
      min-width: 353px;
    }

    @include media(lg) {
      width: 555px;
      height: 347px;
      margin-left: 50px;
      max-width: unset;
      min-width: unset;
    }
    
    @include media(xl) {
      width: 705px;
      height: 442px;
      margin-left: 40px;
    }
  }

  &__megaland-image-upper {
    &:after {
      content: '6+';
    }

    &--square {
      &:after {
        content: '6+';      
      }

      @include media(sm) {
        max-width: 486px;
      }

      @include media(md) {
        min-width: 354px;
      }

      @include media(lg) {
        width: 437px;
        height: 387px;
        max-width: unset;
        min-width: unset;
      }

      @include media(xl) {
        width: 560px;
        height: 508px;
        display: flex;
      }

      @include media(xxl) {
        display: none;
      }
    }

    @include media(sm) {
      display: none;
    }
    
    @include media(xxl) {
      width: 683px;
      height: 508px;
      margin-left: 0;
      margin-right: auto;
      display: flex;
    }
  }

  &__teilkaboom-image-upper {
    &:after {
      content: '0+';
    }

    @include media(sm) {
      max-width: 486px;
      display: none;
    }

    @include media(md) {
      min-width: 354px;
      display: flex;
    }

    @include media(lg) {
      width: 593px;
      height: 369px;
      max-width: unset;
      min-width: unset;
      margin-right: 0;
      margin-left: auto;
    }

    @include media(xl) {
      width: 762px;
      height: 474px;
    }
    
    @include media(xxl) {
      width: 850px;
      height: 529px;
    }
  }

  &__afterburner-image-hexagon,
  &__kinomax-image-hexagon,
  &__megaland-image-hexagon,
  &__teilkaboom-image-hexagon {
    position: absolute;

    @include media(sm) {
      display: none;
    }

    @include media(md) {
      display: block;
    }
  }

  &__afterburner-image-hexagon {
    @include media(md) {
      width: 206px;
      height: 117px;
      top: 260px;
      left: 5px;
    }
    
    @include media(lg) {
      width: 263px;
      height: 226px;
      top: 310px;
      left: -143px;
    }

    @include media(xl) {
      width: 333px;
      height: 286px;
      top: 330px;
      left: -184px;
    }

    @include media(xxl) {
      width: 363px;
      height: 311px;
      left: -203px;
    }
  }

  &__kinomax-image-hexagon {
    @include media(md) {
      width: 206px;
      height: 176px;
      bottom: 60px;
      right: 10px;
    }
    
    @include media(lg) {
      width: 306px;
      height: 263px;
      bottom: -10px;
      right: -105px;
    }

    @include media(xl) {
      width: 362px;
      height: 311px;
      bottom: -140px;
      right: -130px;
    }

    @include media(xxl) {
      bottom: -115px;
      right: -170px;
    }
  }

  &__megaland-image-hexagon {
    @include media(md) {
      width: 206px;
      height: 177px;
      top: 280px;
      left: 10px;
    }
    
    @include media(lg) {
      width: 269px;
      height: 231px;
      top: 315px;
      left: -170px;
    }

    @include media(xl) {
      width: 306px;
      height: 263px;
      top: 370px;
      left: -190px;
    }

    @include media(xxl) {
      width: 347px;
      height: 298px;
      top: 370px;
      left: -160px;
    }
  }

  &__teilkaboom-image-hexagon {
    @include media(md) {
      width: 206px;
      height: 177px;
      top: 194px;
      right: 10px;
    }
    
    @include media(lg) {
      width: 298px;
      height: 256px;
      bottom: 80px;
      right: -40px;
      top: unset;
    }

    @include media(xl) {
      width: 347px;
      height: 298px;
      bottom: -145px;
      right: -90px;
    }

    @include media(xxl) {
      width: 347px;
      height: 298px;
      bottom: -97px;
      right: -160px;
    }
  }

  &__afterburner-info {
    @include media(md) {
      padding-left: 12px;
    }

    @include media(lg) {
      padding-left: 92px;
    }

    @include media(xl) {
      padding-left: 89px;
    }

    @include media(xxl) {
      padding-left: 71px;
    }
  }

  &__kinomax-info {
    @include media(xl) {
      padding-right: 24px;
    }
  }

  &__megaland-info {
    @include media(md) {
      padding-left: 11px;
      margin-top: 0;
    }

    @include media(lg) {
      padding-left: 21px;
    }

    @include media(xl) {
      padding-left: 55px;
    }

    @include media(xxl) {
      padding-left: 112px;
    }
  }

  &__teilkaboom-info {
    @include media(xl) {
      padding-right: 80px;
    }
  }

  &__info-logo {
    flex-shrink: 0;

    img {
      @include media(sm) {
        width: 90px;
        height: 79px;
        float: left;
        margin-right: 18px;
      }

      @include media(md) {
        width: 120px;
        height: 104px;
        float: none;
        margin-right: 0;
      }

      @include media(lg) {
        width: 150px;
        height: 130px;
      }
    }
  }

  &__info-wrapper {
    @include media(sm) {
      display: flex;
      align-items: center;
    }

    @include media(md) {
      display: block;
    }
  }

  &__info-text-wrapper {
    @include media(sm) {
      height: 79px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include media(md) {
      height: unset;
      display: block;
    }

    &--large {
      @include media(sm) {
        height: auto;
      }

      @include media(md) {
        height: unset;
      }
    }
  }

  &__info-worktime {
    font-family: $font-ceraround;
    font-weight: 700;
    
    @include media(sm) {
      font-size: 12px;
      line-height: 12px;

      &--large {
        font-size: 14px;
        line-height: 16px;
      }
    }

    @include media(md) {
      font-size: 20px;
      line-height: 24px;
    }

    @include media(lg) {
      font-size: 24px;
    }
  }

  &__info-worktime-item {
    &:not(:last-child) {
      @include media(sm) {
        margin-bottom: 6px;
      }

      @include media(md) {
        margin-bottom: 8px;
      }

      @include media(lg) {
        margin-bottom: 9px;
      }

      @include media(xl) {
        margin-bottom: 12px;
      }
    }
  }

  &__afterburner-info-text,
  &__kinomax-info-text,
  &__megaland-info-text,
  &__teilkaboom-info-text,
  &__afterburner-points,
  &__kinomax-points,
  &__megaland-points,
  &__teilkaboom-points {
    @include media(sm) {
      font-size: 12px;
      line-height: 16px;
    }

    @include media(md) {
      font-size: 18px;
      line-height: 24px;
    }

    @include media(lg) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__afterburner-info-text,
  &__kinomax-info-text,
  &__megaland-info-text,
  &__teilkaboom-info-text {
    @include media(sm) {
      margin-top: 18px;
    }

    @include media(md) {
      margin-top: 12px;
    }

    @include media(lg) {
      margin-top: 15px;
    }
  }

  &__afterburner-info-text {
    @include media(md) {
      width: 100%;
    }

    @include media(xl) {
      width: 80%;
    }
  }

  &__kinomax-info-text {
    @include media(xl) {
      width: 100%;
    }
  }

  &__info-floor {
    color: $color-raspberries;

    @include media(sm) {
      margin-top: 15px;
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 14px;
    }

    @include media(md) {
      margin-top: 17px;
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 18px;
    }

    @include media(lg) {
      margin-top: 21px;
      margin-bottom: 30px;
    }
  }

  &__wrapper-bottom {
    @include media(md) {
      margin-top: 40px;
    }

    @include media(lg) {
      margin-top: 50px;
    }

    @include media(xl) {
      margin-top: 40px;
    }
  }

  &__afterburner-points {
    width: 100%;
    @include media(sm) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      margin-top: 15px;
    }

    @include media(lg) {
      display: block;
      padding-left: 83px;
      margin-top: -38px;
    }

    @include media(xl) {
      padding-left: 165px;
      margin-top: 2px;
    }

    @include media(xxl) {
      padding-left: 145px;
    }
  }

  &__kinomax-points {
    @include media(sm) {
      margin-top: 15px;
    }

    @include media(md) {
      margin-top: -35px;
    }

    @include media(lg) {
      margin-left: -10px;
      margin-top: 0px;
      width: 90%;
    }

    @include media(xl) {
      margin-left: -70px;
      margin-top: 2px;
    }

    @include media(xxl) {
      margin-left: -38px;
      margin-top: 6px;
    }
  }

  &__megaland-points {
    @include media(sm) {
      margin-top: 15px;
    }

    @include media(md) {
      margin-top: -29px;
    }

    @include media(lg) {
      margin-top: 0;
    }

    @include media(xl) {
      padding-left: 111px;
      margin-top: 29px;
    }

    @include media(xxl) {
      padding-left: 191px;
      margin-top: 23px;
    }
  }

  &__teilkaboom-points {
    @include media(sm) {
      margin-top: 15px;
    }

    @include media(md) {
      margin-top: -82px;
    }

    @include media(lg) {
      margin-top: -110px;
      margin-left: -70px;
      width: 80%;
    }

    @include media(xl) {
      margin-left: -115px;
      margin-top: -33px;
      width: 70%;
    }

    @include media(xxl) {
      margin-left: -70px;
      margin-top: 12px;
    }
  }

  &__points-item {
    display: flex;
    width: 100%;

    &--reverse {
      @include media(sm) {
        margin-bottom: 13px;
      }

      @include media(lg) {
        margin-bottom: 0;
      }
    }

    &:not(:last-child) {
      @include media(sm) {
        margin-bottom: 13px;
      }

      @include media(lg) {
        margin-bottom: 30px;
      }

      @include media(xl) {
        margin-bottom: 30px;
      }
    }

    &:before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='19' fill='url(%23paint0_linear_2349_21600)' stroke='url(%23paint1_linear_2349_21600)' stroke-width='2'/%3E%3Cpath d='M10 18.9763L17.3842 26L30 14' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2349_21600' x1='20' y1='0' x2='20' y2='40' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF8519'/%3E%3Cstop offset='1' stop-color='%23FD238A'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_2349_21600' x1='20' y1='0' x2='20' y2='40' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF8519'/%3E%3Cstop offset='1' stop-color='%23FD238A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center; 
      display: block;
      flex-shrink: 0;

      @include media(sm) {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }

      @include media(lg) {
        width: 40px;
        height: 40px;
        margin-right: 30px;
      }
    }
  }

  &__afterburner-image-bottom {
    img {
      @include media(sm) {
        display: none;
      }

      @include media(md) {
        min-width: 354px;
        min-height: 193px;
        // margin-top: 2px;
        margin-left: 0;
        display: block;
        
      }

      @include media(lg) {
        width: 480px;
        height: 262px;
        // margin-top: 38px;
        margin-left: 29px;
      }

      @include media(xl) {
        width: 522px;
        height: 285px;
        // margin-top: 0;
        margin-left: 80px;
      }

      @include media(xxl) {
        width: 580px;
        height: 317px;
        margin-left: 65px;
      }
    }
  }

  &__kinomax-image-bottom {
    img {
      @include media(sm) {
        display: none;
      }

      @include media(md) {
        min-width: 353px;
        min-height: 301px;
        display: block;
      }

      @include media(lg) {
        width: 474px;
        height: 406px;
      }

      @include media(xxl) {
        width: 560px;
        height: 479px;
        margin-top: 0;
      }
    }
  }

  &__megaland-image-bottom {
    img {
      @include media(sm) {
        display: none;
      }

      @include media(md) {
        min-width: 354px;
        min-height: 236px;
        display: block;
      }

      @include media(lg) {
        width: 489px;
        height: 326px;
        margin-top: 38px;
        margin-left: auto;
        margin-right: 0;
      }

      @include media(xl) {
        width: 568px;
        height: 378px;
        margin-top: 49px;
      }

      @include media(xxl) {
        width: 580px;
        height: 386px;
      }
    }
  }

  &__teilkaboom-image-bottom {
    &:after {
      @include media(sm) {
        content: '0+';
      }
  
      @include media(md) {
        content: '';
        width: 0;
        height: 0;
      }
    }
    
    @include media(sm) {
      max-width: 486px;
      min-width: 300px;
    }

    @include media(md) {
      min-width: 354px;
    }

    @include media(lg) {
      margin-top: -20px;
      width: 427px;
      height: 287px;
      max-width: unset;
      min-width: unset;
    }

    @include media(xl) {
      width: 486px;
      height: 326px;
      margin-top: 0;
    }

    @include media(xxl) {
      width: 559px;
      height: 375px;
    }
  }
}