mixin form-custom(data)
  //- модификатор
  +modif('form-custom', data.mod, data.prefix)

  //- префикс
  +prefix('form-custom', data.prefix)

  //- атрибуты
  - attr = data.attr || ''
  - pref = pr

  form(class=`form-custom${pref}${mod}` class=data.class data-validate)&attributes(attr)
    div(class=`form-custom${pref}__inner` class=data.innerClass)
      each item in data.list
        div(class=`form-custom__item${pref}` class=item.class)
          if (item.input)
            +input(item.input)
          
          if (item.select)
            +select(item.select)

          if (item.selectCustom)
            +select-custom(item.selectCustom)

          if (item.textarea)
            +textarea(item.textarea)

          if (item.file)
            +file(item.file)

    if (data.footer)
      div(class=`form-custom${pref}__footer` class=data.footer.class)
        if (data.footer.text)
          p(class=`form-custom${pref}__footer-text`)!=data.footer.text
        
        if (data.footer.btn)
          each item in data.footer.btn
            if (item.href)
              a(href=item.href class=`form-custom${pref}__button` class=item.class)!=item.text

            else
              button(class=`form-custom${pref}__button` class=item.class)&attributes(item.attr)!=item.text

    if (data.bg)
      div(class=`form-custom${pref}__img`)
        +img(data.bg.img, data.bg.class)
    +form-preloader()