.form-custom {
  position: relative;
  background-color: $color-white;
  border-radius: rem(10);
  padding: rem(20);

  @include media(md) {
    padding: rem(40) rem(20);
  }

  @include media(lg) {
    padding: rem(108) rem(72) rem(124);
  }

  @include media(xl) {
    padding: rem(110) rem(300) rem(151);
  }

  &__inner {
    z-index: 1;
    
    @include media(xl) {
      width: 74.2%;
    }
  }

  &__item {
    margin-bottom: rem(24);

    @include media(lg) {
      margin-bottom: rem(55);

      &:last-child {
        margin-bottom: rem(55);
      }
    }

    @include media(xl) {
      margin-bottom: rem(69);

      &:last-child {
        margin-bottom: rem(55);
      }
    }

    &.sm {
      margin-bottom: 16px;

      @include media(md) {
        margin-bottom: 27px;
      }

      @include media(lg) {
        margin-bottom: 53px;
      }
    }

    &.md {
      margin-bottom: 25px;

      @include media(lg) {
        margin-bottom: 62px;
      }
    }
  }

  &__footer {
    z-index: 1;

    @include media(lg) {
      display: flex;
      padding: 0 rem(2);
      justify-content: space-between;
    }

    @include media(xl) {
      width: 74.2%;
    }
  }

  &__footer-text {
    margin-bottom: rem(36);
    font-size: rem(8);
    line-height: rem(9.6);

    @include media(md) {
      margin-bottom: rem(46);
      font-size: rem(16);
      line-height: rem(19.2);
    }

    @include media(lg) {
      max-width: 60%;
    }

    @include media(xxl) {
      margin-bottom: 0;
      max-width: 45%;
    }
  }

  &__img {
    position: absolute;
    top: rem(-70);
    right: rem(-157);
    display: none;
    z-index: 0;

    @include media(lg) {
      display: block;
    }
  }
}