.select-custom {
  position: relative;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    right: rem(6);
    top: rem(6);
    width: rem(10);
    height: rem(10);
    border-bottom: 1px solid $color-black;
    border-right: 1px solid $color-black;
    transform: rotate(45deg);

    @include media(lg) {
      right: rem(22);
      top: rem(16);
    }
  }

  &__inner {
    font-size: rem(28);
    line-height: rem(37.8);
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__current {
    position: relative;
    font-size: rem(14);
    line-height: rem(18.9);
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: rem(3) rem(20) rem(10);
    color: rgba(0, 0, 0, 0.2);
    pointer-events: none;

    @include media(md) {
      font-size: rem(28);
      line-height: rem(37.9);
    }

    @include media(lg) {
      padding: rem(6) rem(22) rem(17);
      font-size: rem(28);
      line-height: rem(37.8);
    }

    &.selected {
      color: $color-black;
      border-color: $color-black;
    }

    &:hover {
      border-color: $color-black;
    }

    &::placeholder {
      color: $color-black;
      opacity: 0.2;
    }
  }

  &__container {
    width: 100%;
    position: absolute;
    display: none;
    top: 125%;
    left: 0;
    z-index: 10;
    border: 1px solid #C4C4C4;
    background-color: $color-white;

    &::after {
      content: "";
      position: absolute;
      top: rem(-5.4);
      right: rem(6);
      width: rem(10);
      height: rem(10);
      background-color: $color-white;
      border-bottom: 1px solid #C4C4C4;
      border-right: 1px solid #C4C4C4;
      transform: rotate(-135deg);
      z-index: 11;

      @include media(lg) {
        top: rem(-11);
        right: rem(16);
        width: rem(20);
        height: rem(20);
      }
    }
  }

  &__container.open {
    display: block;
  }

  &__option {
    padding: rem(6) rem(10);
    font-size: rem(14);
    line-height: rem(18.9);
    transition: color .2s ease-in;

    @include media(lg) {
      padding: rem(18) rem(20);
      font-size: rem(24);
      line-height: rem(28.8);
    }

    @include media(xl) {
      padding: rem(18) rem(20);
      font-size: rem(28);
      line-height: rem(37.8);
    }

    &:hover {
      color: $color-blue-2;
    }
  }
}