mixin select-custom(data)
  //- модификатор
  +modif('select-custom', data.mod, data.prefix)

  //- префикс
  +prefix('select-custom', data.prefix) 

  //- атрибуты
  - attr = data.attr || {'data-select-custom': ''}
  - type = data.type || 'text'

  div(class=`select-custom${pr}${mod}`)&attributes(attr)
    - inputAttr = data.input.attr
    input(class=`select-custom${pr}__current` data-select-current)&attributes(inputAttr)
    div(class=`select-custom${pr}__container` data-select-container)
      div(class=`select-custom${pr}__inner`)
        each option in data.option
          - optionAttr = option.attr || {'data-select-custom-option': ''}
          div(class=`select-custom${pr}__option`)&attributes(optionAttr)!=option.text
