@import url('../../node_modules/dropzone/dist/dropzone.css');

.file {
  position: relative;
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: 100%;
  padding: 17px 20px 14px;
  border: 1px dashed #E6E6E6;

  @include media(md) {
    padding: 23px 20px 22px;
  }

  @include media(lg) {
    padding: 47px 40px 46px;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  &__label {
    position: relative;
    width: 100%;
    font-size: 14px;
    line-height: 18.9px;
    color: rgba(5, 5, 5, 0.2);

    @include media(md) {
      font-size: 24px;
      line-height: 32.4px;
    }

    @include media(lg) {
      font-size: rem(28);
      line-height: rem(37.8);
    }
  }

  &__btn {
    min-width: rem(160);
    margin-top: rem(16);

    @include media(sm) {
      margin-top: 0;
    }

    &:first-child {
      @include media(sm) {
        margin-right: rem(24);
        margin-top: 0;
      }
    }

    &:last-child {
      @include media(sm) {
        margin-left: rem(24);
      }
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
  }

  &__item-delete {
    content: "";
    top: 15px;
    right: 25px;
    width: 16px;
    height: 16px;
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Crect y='15.0859' width='21.3333' height='1.33333' transform='rotate(-45 0 15.0859)' fill='black'/%3E%3Crect x='15.0859' y='16.0273' width='21.3333' height='1.33333' transform='rotate(-135 15.0859 16.0273)' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;

    @include media(md) {
      width: 20px;
      height: 20px;
      top: 35px;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Crect y='15.0859' width='21.3333' height='1.33333' transform='rotate(-45 0 15.0859)' fill='black'/%3E%3Crect x='15.0859' y='16.0273' width='21.3333' height='1.33333' transform='rotate(-135 15.0859 16.0273)' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    @include media(lg) {
      top: 39px;
      right: 21px;
    }
  }

  &__content {
    position: relative;
    width: 100%;
    margin: rem(-8) 0;

    @include media(md) {
      padding: rem(13) 0;
    }

    @include media(lg) {
      padding: rem(13) 0 8px;
    }

    .error{
      line-height: 150%;
    }
  }

  &__icon {
    position: absolute;
    top: -2px;
    right: -6px;

    @include media(lg) {
      top: -9px;
      right: -1px;
    }
  }

  &__icon--added {
    position: absolute;
    top: 14px;
    left: 15px;

    @include media(md) {
      top: 13px;
      left: 10px;
    }

    @include media(lg) {
      top: 11px;
      left: -1px;
    }
  }

  .error{
    padding-left: 0;
  }
}
