mixin file(data)
  //- модификатор
  +modif('file', data.mod, data.prefix)

  //- префикс
  +prefix('file', data.prefix)

  //- атрибуты
  - attr = data.attr || {'data-file': ''}

  div(class=`file${pr}__upload` data-file-upload)

  label(class=`file${pr}${mod}` data-file-label)
    input(class=`file${pr}__input` type=`file` name=`filearea`)&attributes(attr)
    div(class=`file${pr}__label`)
      span= data.label
      if (data.btn)
        span.btn(class=`file${pr}__btn` class=data.btn.class)!= data.btn.text

      if (data.icon)
        div(class=`file${pr}__icon`)
          +icon(data.icon)
