.breadcrumbs {
  display: flex;

  &__item {
    font-family: $font-ceraround;
    font-weight: 700;
    display: flex;
    align-items: center;

    @include media(sm) {
      margin-right: 8px;
      font-size: 12px;
      line-height: 12px;
    }

    @include media(md) {
      font-size: 14px;
      line-height: 14px;
    }

    @include media(lg) {
      margin-right: 10px;
      font-size: 20px;
      line-height: 20px;
    }

    &:not(:first-child) {
      font-weight: 400;
      
      &:before {
        content: '/';
        font-family: $font-ceraround;
        font-weight: 700;

        @include media(sm) {
          margin-right: 8px;
        }

        @include media(lg) {
          margin-right: 9px;
        }
      }
    }
  }

  &__text {
    color: $color-gray-3;
  }

  &__link {
    color: $color-gray-1;
  }
}
