mixin form-subscription()
  .position-relative
    form(data-validate).row.form-subscription
      .col-12.col-lg-7.pl-0
        .form-subscription__input
          +input({
            prefix: 'apply',
            type: 'email',
            name: 'email',
            label: 'Электронная почта',
            placeholder: 'Электронная почта',
            labelFocus: true,
            attr: {
              'required': ''
            }
          })
        .caption Нажимая &laquo;Подписаться&raquo;, я&nbsp;подтвеждаю, что согласен с&nbsp;#[a.form-subscription__link(href="#") условиями обработки персональных данных]
      .col-12.col-lg-5.form-subscription__button-wrapper
        button.btn.btn--width-sm.btn--secondary ПОДПИСАТЬСЯ
      +form-preloader()
    +img('example/background-2.png', 'form-subscription__background-image')

