.form-subscription {
  background: $color-white;
  padding: rem(23) rem(21) 20px;
  border-radius: 10px;
  margin: 0;

  @include media(md) {
    padding: rem(48) rem(21);
  }

  @include media(lg) {
    border-radius: 3px;
    padding: rem(108) rem(72) rem(124);
  }

  &__button-wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-top: rem(37);

    @include media(md) {
      padding-top: rem(44);
    }

    @include media(lg) {
      padding-top: rem(19);
      padding-left: rem(32);
      display: flex;
      align-items: center;
    }
  }

  .input {
    font-size: 40px;
  }

  &__background-image {
    display: none;
    position: absolute;
    right: 0;
    bottom: rem(-50);

    @include media(lg) {
      display: block;
      right: -200px;
      width: 400px;
    }

    @include media(xl) {
      right: -300px;
      width: 600px;
      bottom: rem(-85);
    }

    @include media(xxl) {
      right: -250px;
    }
  }

  &__input {
    margin-bottom: rem(23);

    @include media(lg) {
      margin-bottom: rem(27);
    }
  }

  &__input ~ .caption {
    font-size: 16px;
    line-height: 24px;
  }

  &__link {
    transition: 0.2s ease-in;
    @include media(lg) {
      text-decoration: underline;
      text-underline-position: from-font;
    }
    &:hover {
      color: $color-blue-1;
    }
  }
}
