// .slider-header {
//   &__container {
//     margin-right: rem(-60);
//   }

//   &__title-container {
//     // width: rem(700);

//     // @include media(xl) {
//     //   width: rem(800);
//     // }
//   }

//   &__title {
//     font-size: 80px;
//     font-weight: $font-weight-400;
//     line-height: rem(96);
//     letter-spacing: rem(-3);
//     margin-left: 8px;
//     display: flex;
//     align-items: flex-end;
//     flex-wrap: wrap;
//     cursor: pointer;
//     color: #aeaeae;
//     &:before {
//       background: #aeaeae;
//     }
//   }

//   .swiper-slide-active .slider-header__title {
//     color: $color-black;
//     &:before {
//       background: $color-blue-2;
//     }
//   }

//   &__slide {
//     width: 33.5%;
//     margin-right: rem(440);
//   }
// }
