mixin nested-header-slider(data)
  //- модификатор
  +modif('slider', data.mod, data.prefix)

  //- префикс
  +prefix('slider', data.prefix)

  //- атрибуты
  - attr = data.attr || {'data-slider-nested-header': ''}

  div(class=`slider${pr}__container`)
    div(class=`slider${pr}${mod} swiper-container` class=data.class )&attributes(attr)
      div(class=`slider${pr}__wrapper swiper-wrapper` data-slider-wrapper)
        each item in data.list
          div(class=`slider${pr}__slide swiper-slide` class=item.class)&attributes(item.attr)
            +headerContent(data, item)

mixin headerContent(data, item)
    div(class=`slider${pr}__title-container row align-items-center`)
      div(class=`slider${pr}__title` class=item.title.class)!= item.title.text




