mixin city-list(data)

  //- префикс
  +prefix('city-list', data.prefix)

  //- модификатор
  +modif('city-list', data.mod, data.prefix)

  //- атрибуты
  - attr = data.attr || ''
  - prefix = pr

  div(class=`city-list${prefix}${mod}` data-city-list="" class=data.class)&attributes(attr)
    div(class=`city-list${prefix}__container` city-list-tabs-head="")
      div(class=`city-list${prefix}__img-wrapper`)
        each item in data.list 
          div(data-cityImg="")
            +img(item.img, `city-list${prefix}__img`)
      div(class=`city-list${prefix}__item-wrapper`)
        form(data-search-city-form).city-list__city-find-input
          +input({
            prefix: 'contacts',
            type: 'text',
            name: 'city',
            placeholder: 'Найти город',
            attr: {
              'data-search-city-input': ''
            },
            btn: {
              attr: {
                'type': 'submit'
              }
            }
          })
        each item in data.list
          div(class=`city-list${prefix}__item` data-city=item.text.name class=item.class)
            a(href='#' class=`city-list${prefix}__text` class=item.text.class)
              h4(class=`city-list${prefix}__city-name`)!=item.text.name
              div(class=`city-list${prefix}__city-about`)!=item.text.about
        div(class=`city-list__not-found is-hide`) Ничего не найдено

