.city-list {
  padding-top: 0;
  padding-bottom: 0;

  &__container {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    @include media(lg) {
      flex-direction: row;
    }

    &--active {
      .city-list__text {
        background-color: $color-white;
      }

      .city-list__img {
        opacity: 1;
        visibility: visible;
      }

      .city-list__city-about {
        opacity: 1;
        transform: translateX(0);
      }
    }

    &:after {
      content: '';
      display: flex;
      align-items: center;
      background-image: svg-load('../assets/images/svg/arrow-right-2.svg');
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 24px;
      position: absolute;
      right: rem(15);

      @include media(md) {
        right: rem(55);
      }
    }
  }

  & [data-cityimg] {
    position: absolute;
    top: 150px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 2s linear;

    img {
      @include media(lg) {
        height: auto;
        width: rem(355);
      }

      @include media(xl) {
        height: rem(480);
        width: rem(385);
      }
    }

  }

  & .visibleImg {
    position: sticky;
    display: block;
    visibility: visible;
    opacity: 1;
    top: 150px;
    transition: 1.8s all;
  }

  &__text {
    padding: 0 10px;
    display: flex;
    height: rem(60);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.7s all;
    position: relative;
    color: $color-black;

    &:hover {
      background-color: $color-white;
    }

    @include media(md) {
      height: rem(110);
      padding: 0 40px;
    }
  }

  &__city-name {
    @include media(xl) {
      width: auto;
    }
  }

  &__city-about {
    opacity: 1;
    transition: 0.7s all;
    display: none;

    @include media(xl) {
      display: block;
      padding-right: 90px;
      transform: translateX(50px);
      opacity: 0;
    }
  }

  &__city-find-input {
    margin-bottom: 20px;

    @include media(lg) {
      margin-bottom: 50px;
    }

    input {
      font-size: 24px;

      @include media(md) {
        font-size: rem(32);
      }
    }
  }

  &__not-found {
    display: flex;
    justify-content: center;
    color: $color-gray-2;
    font-size: 24px;

    @include media(md) {
      font-size: rem(32);
    }

    &.is-hide {
      display: none;
    }
  }

  &__img-wrapper {
    width: 0;
    display: none;
    position: relative;

    @include media(lg) {
      display: block;
      width: 30%;
    }

    @include media(xxl) {
      width: 25%;
    }
  }

  &__item-wrapper {
    width: 100%;

    @include media(lg) {
      width: 70%;
      margin-left: 50px;
    }

    @include media(xxl) {
      margin-left: 50px;
      width: 75%;
    }
  }
}
