mixin card(data)
  //- префикс
  +prefix('card', data.prefix)

  //- модификатор
  +modif('card', data.mod, data.prefix)

  //- атрибуты
  - attr = data.attr || {'data-card': ''}

  div(class=`card${pr}${mod}` class= data.cardClass)&attributes(attr)
    if (data.hrefFull)
      a(href=data.hrefFull class=`card${pr}__container` class=data.containerClass)
        +cardInner(data, pr)

    else
      div(class=`card${pr}__container` class=data.containerClass)
        +cardInner(data, pr)

//- внутренний контент карточки
mixin cardInner(data, pr)
  //- Инпут
  if (data.checkbox)
    +checkbox(data.checkbox)

  //- Иконка
  if (data.icon)
    div(class=`card${pr}__icon`)
      +icon(data.icon)

  //- Картинка
  if (data.img || data.picture)
    if (data.hrefFull)
      div(class=`card${pr}__images` class=data.imgClass)
        if (data.img)
          if (data.img.list)
            each image in data.img.list
              +img(image)

          else
            +img(data.img)

        if (data.picture)
          +picture(data.picture)
    
    if (data.imgStatic)
      div(class=`card${pr}__images` class=data.imgClass)
        if (data.img)
          if (data.img.list)
            each image in data.img.list
              +img(image)

          else
            +img(data.img)

        if (data.picture)
          +picture(data.picture)

        if (data.socials)
          div(class=`card${pr}__socials`)
            p(class=`card${pr}__share`)!=data.socials.text
            div(class=`card${pr}__socials-inner`)
              each item in data.socials.list
                div(class=`card${pr}__socials-item`)
                  +icon(item.name)


    else
      a(href=data.href class=`card${pr}__images` class=data.imgClass)
        if (data.img)
          +img(data.img)

        if (data.picture)
          +picture(data.picture)

  if (data.video)
    div(class=`card${pr}__images` data-video-container class=data.video.containerClass)
      +video(data.video)

      if (data.video.btnPlay)
        button(class=`card${pr}__play` data-video-play)


  div(class=`card${pr}__inner` class=data.innerClass)
    if (data.date)
      div(class=`card${pr}__date`)!= data.date

    //- Заголовок
    if (data.title)
      if (data.hrefFull)
        div(class=`card${pr}__title` class=data.title.class)!= data.title.text

      else
        a(href=data.href class=`card${pr}__title` class=data.title.class)!= data.title.text

    //- подзаголовок
    if (data.subtitle)
      if (data.hrefFull)
        div(class=`card${pr}__subtitle` class=data.subtitle.class)!= data.subtitle.text

      else
        a(href=data.href class=`card${pr}__subtitle` class=data.subtitle.class)!= data.subtitle.text

    //- артикул
    if (data.articul)
      div(class=`card${pr}__articul` class=data.articul.class)!= data.articul.text

    //- Текст
    if (data.text)
      h4.div(class=`card${pr}__text` class=data.text.class)!= data.text.text

    if (data.subtext)
      div(class=`card${pr}__subtext` class=data.subtext.class)!= data.subtext.text

    //- Цена
    if (data.price)
      div(class=`card${pr}__price`)
        div(class=`card${pr}__price-current`)= data.price

        //- Старая цена
        if (data.priceOld)
          div(class=`card${pr}__price-old`)= data.priceOld

    //- Кнопки
    if (data.btn)
      div(class=`card${pr}__buttons` class=data.btn.class)
        each item in data.btn.list
          div(class=`card${pr}__button` class=item.class)
            //- кнопка в виде ссылки
            if (data.hrefFull)
                div(class=`btn card${pr}__btn` class=item.btnClass)&attributes(item.attr)
                  span!= item.text

                  if (item.icon)
                    +icon(item.icon)

            else
              if (item.href)
                a(href=item.href class=`btn card${pr}__btn` class=item.btnClass)&attributes(item.attr)
                  span!= item.text

                  if (item.icon)
                    +icon(item.icon)
              else
                button(class=`btn card${pr}__btn` class=item.btnClass)&attributes(item.attr)
                  span!= item.text

                  if (item.icon)
                    +icon(item.icon)

    //- Cтатус
    if (data.badge)
      div(class=`card${pr}__badge` class=data.badge.class)= data.badge.text

    //- Избранное
    if (data.favorite)
      button(class=`card${pr}__favorite`)
        +icon({name: 'heart'})
