.card-news {
  &__inner {
    padding: 0px 8px;

    @include media(lg) {
      padding: 20px 8px 8px;
    }

    @include media(xl) {
      padding: 0 30px rem(58);
    }

    @include media(xl) {
      padding: rem(58) rem(14);
    }
  }

  &__date {
    margin-bottom: 20px;
    font-size: rem(14);
    line-height: rem(18.9);
    font-weight: 400;
    color: $color-gray-3;

    @include media(md) {
      margin-bottom: rem(32);
      font-size: 16px;
      line-height: rem(19.2);
    }
  }

  &__text {
    color: $color-gray-1;

    @include media(xl) {
      max-width: rem(600);
    }

    &:not(:last-child) {
      margin-bottom: 16px;

      @include media(md) {
        margin-bottom: rem(60);
      }

      @include media(lg) {
        margin-bottom: 80px;
      }

      @include media(xl) {
        margin-bottom: rem(192);
      }
    }
  }

  &__subtext {
    font-size: 12px;
    line-height: rem(16.2);

    @include media(md) {
      font-size: 18px;
      line-height: 24px;
    }

    @include media(xl) {
      max-width: rem(730);
    }

    &--mb {
      margin-bottom: 10px;

      @include media(lg) {
        margin-bottom: rem(19);
      }
    }

    a {
      transition: 0.2s ease-in;
      &:hover{
        color: $color-blue-1;
      }
    }
  }

  &__socials {
    margin-top: 16px;
    padding: 18px 0;
    position: relative;
    display: flex;

    @include media(lg) {
      margin-top: rem(34);
    }

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: rem(106);
      height: rem(2);
      background-color: $color-blue-2;
    }
  }

  &__socials-item{
    cursor: pointer;
  }

  &__images {
    @include media(md) {
      text-align: center;
    }

    @include media(xl) {
      text-align: unset;
    }
  }

  &__share {
    margin-right: rem(26);
    font-size: rem(14);
    line-height: rem(18.9);
    color: $color-gray-1;
    font-family: $font-inter;
    padding-top: 3px;

    @include media(md) {
      font-size: 18px;
      line-height: 24px;
      padding-top: 0px;
    }
  }

  &__socials-inner {
    display: flex;
  }

  &__socials-item {
    margin-right: rem(23);

    &:last-child() {
      margin-right: 0;
    }
  }
}


