mixin banner(data)
  //- модификатор
  +modif('banner', data.mod, data.prefix)

  //- префикс
  +prefix('banner', data.prefix)

  //- атрибуты
  - attr = data.attr || ''
  - pref = pr || ''

  div(class=`banner${pref}${mod}` class= data.class)&attributes(attr)
    //- если баннер разбит на колонки
    if (data.grid)
      each item in data.grid
        div(class=`banner${pref}__item` class= item.class)
          //- если колонка баннера разбита на колонки
          if (item.grid)
            each itemInner in item.grid
              div(class=`banner${pref}__item-inner`)
                +bannerInner(itemInner, pref)
          else
            +bannerInner(item, pref)
    else
      +bannerInner(data, pref)

//- внутренний контент баннера
mixin bannerInner(data, prefix)
  //- Картинка
  if (data.img || data.picture)
    if (data.href)
      a(class=`banner${prefix}__link` href=data.href)
        div(class=`banner${prefix}__images`)
          if (data.img)
            +img(data.img.url, `banner${prefix}__img`)

          if (data.picture)
            +picture(data.picture)
    else
      div(class=`banner${prefix}__images`)
        if (data.img)
          +img(data.img.url, `banner${prefix}__img`)

        if (data.picture)
          +picture(data.picture)

  if (data.title || data.text || data.btn)
    div(class=`banner${prefix}__inner` class= data.innerClass)
      //- Заголовок
      if (data.title)
        if (data.title.type == 'h1')
          h1(class=`banner${prefix}__title` class=data.title.class)!= data.title.text
        else if (data.title.type == 'h2')
          h2(class=`banner${prefix}__title` class=data.title.class)!= data.title.text
        else if (data.title.type == 'h3')
          h3(class=`banner${prefix}__title` class=data.title.class)!= data.title.text
        else
          div(class=`banner${prefix}__title` class=data.title.class)!= data.title.text

      //- Текст
      if (data.text)
        if (data.text.href)
          a(href=data.text.href class=`banner${prefix}__text` class=data.text.class)!= data.text.text
        else
          div(class=`banner${prefix}__text` class=data.text.class)!= data.text.text

      //- Кнопки
      if (data.btn)
        div(class=`banner${prefix}__btn` class=data.btn.class)
          each item in data.btn.list
            div(class=`banner${prefix}__btn-item` class=item.class)
              a(href=item.href class=item.btnClass)&attributes(item.attr).btn= item.text
