.banner {
  position: relative;
  max-width: rem(1600);
  margin: 0 auto;
  width: 100%;

  &--max {
    min-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    @include media(md) {
      display: block;
    }
  }

  &--vacancy {
    min-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    @include media(md) {
      display: block;
    }
  }

  &__images {
    display: block;
    position: relative;

    & img,
    & picture {
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem(32) 16px;

    @include media(md) {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &--max &__inner {
    justify-content: flex-start;
    max-width: rem(950);
    padding: 0;
    padding-bottom: 20px;
    position: absolute;
    padding-right: 200px;
    padding-left: 20px;
    padding-top: 28px;
    height: 100%;

    @include media(md) {
      justify-content: center;
      padding: 90px 151px;
      padding-top: 80px;
      padding-left: 50px;
      padding-right: 350px;
    }

    @include media(lg) {
      padding: 90px 151px;
      padding-top: 40px;
      padding-left: 50px;
      padding-right: 250px;
    }

    @include media(xl) {
      padding: 90px 151px;
      padding-top: 40px;
    }

    @include media(xxl) {
      padding: 90px 151px;
    }
  }

  &--vacancy &__inner {
    justify-content: flex-start;
    max-width: rem(950);
    padding: 28px 20px 20px;
    position: absolute;
    height: 100%;

    @include media(md) {
      justify-content: center;
      padding: 63px 151px 90px;
      padding-top: 40px;
      padding-left: 50px;
      padding-right: 350px;
    }

    @include media(lg) {
      padding: 63px 151px 90px;
      padding-left: 50px;
      padding-right: 250px;
    }

    @include media(xl) {
      padding: 63px 151px 90px;
    }

    @include media(xxl) {
      padding: 63px 151px 90px;
    }
  }

  &__title {
    margin-bottom: 0;

    @include media(md) {
      color: $color-white;
    }
  }

  &--dark &__title {
    @include media(md) {
      color: $color-black;
    }
  }

  &--max &__title {
    font-weight: 300;
    color: #131313;
    font-size: 16px;
    margin-bottom: 10px;

    @include media(md) {
      font-size: rem(22);
      line-height: 135%;
      margin-bottom: 30px;
    }

    @include media(lg) {
      font-size: 36px;
      line-height: 1;
      margin-bottom: 40px;
    }

    @include media(xl) {
      margin-bottom: rem(69);
      font-size: rem(44);
      line-height: rem(60);
    }
  }

  &--vacancy &__title {
    font-weight: 300;
    color: #131313;
    font-size: 22px;
    line-height: 29.7px;
    margin-bottom: 28px;

    @include media(md) {
      font-size: rem(32);
      line-height: 43.2px;
      margin-bottom: 36px;
    }

    @include media(xl) {
      margin-bottom: rem(69);
      font-size: rem(44);
      line-height: rem(60);
    }
  }

  &--max &__images {
    img {
      border-radius: 3px;
      max-height: 450px;
      object-fit: cover;
      @include media(md) {
        height: auto;
      }
    }
  }

  &--vacancy &__images {
    img {
      border-radius: 3px;
      max-height: 458px;
      object-fit: cover;

      @include media(md) {
        height: auto;
        max-height: none;
        min-height: 320px;
      }

      @include media(lg) {
        height: auto;
        max-height: 458px;
        min-height: auto;
      }
    }
  }

  &__text {
    font-size: 16px;
    line-height: 24px;

    @include media(md) {
      color: $color-white;
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &--dark &__text {
    @include media(md) {
      color: $color-black;
    }
  }

  &__btn {
    & .btn {
      width: 100%;

      @include media(md) {
        width: auto;
      }
    }
  }
}
