.banner-block {
  width: 100%;

  @include media(xl) {
    flex-wrap: nowrap;
  }

  &__item {
    margin-bottom: 8px;
    width: 100%;


    @include media(xl) {
      width: calc(50% - 4px);
      &:first-child(){
        margin-right: 8px;
      }
    }
  }

  &__images {
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    border-radius: 3px;

    @include media(md) {
      height: rem(146);
    }

    @include media(lg) {
      height: rem(220);
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__img {
    width: rem(86);

    @include media(md) {
      width: rem(150);
    }

    @include media(lg) {
      width: rem(180);
      filter: grayscale(100%);
      opacity: 0.5;
      transition: 1s all;
    }

    @include media(xl) {
      width: auto;
    }
  }

  &--colored &__img {
    filter: none;
    opacity: 1;
    transition: none;
  }

  &__images:hover &__img {
    filter: grayscale(0%);
    opacity: 1;
  }

  &__title {
    font-size: 24px;
    font-weight: $font-weight-700;
    line-height: rem(32);

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__text {
    display: block;
    font-size: 16px;
    line-height: 24px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__inner {
    padding-right: 16px;
    padding-left: 16px;

    @include media(md) {
      padding-left: 0;
    }

    @include media(xl) {
      margin-right: calc((100vw - 1440px + 32px) / 2);
      padding-left: 0;
      max-width: calc(100% / 12 * 11);
    }

    @include media(xxl) {
      margin-right: calc((1600px - 1440px) / 2 + 24px);
    }
  }

  &__item:first-child &__inner {
    padding-left: 16px;

    @include media(xl) {
      padding-left: 0;
      margin-left: calc((100vw - 1440px + 32px) / 2);
      margin-right: 0;
    }

    @include media(xxl) {
      padding-left: 0;
      margin-left: calc((1600px - 1440px) / 2 + 24px);
    }
  }

  &__btn-item {
    width: 100%;

    @include media(md) {
      width: auto;
    }

    &:not(:last-child) {
      margin-bottom: 16px;

      @include media(md) {
        margin-bottom: 0;
      }
    }

    & .btn {
      @include media-max(md) {
        width: 100%;
      }
    }
  }
}
