.map {
  height: 100%;
  width: 100%;
  border-radius: $border-radius;

  [class*='ymaps-2'][class*='-ground-pane'] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
  }

  [class*="copyrights-pane"] {
    display: none !important;
  }

  &__button {
    padding: rem(5) 10px;
    background-color: $color-white;
    border-radius: $border-radius;
    font-size: 12px;
    width: 90px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);

    @include media(md) {
      font-size: 18px;
      width: rem(200);
    }

    &--active {
      border: 1px solid #009DE0;
      color: #009DE0;
    }
  }

  &__container {
    position: relative;
    width: 100%;
  }

  &__zoom-text {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: rem(20);
    line-height: rem(30);
    text-align: center;
    color: $color-white;

    @include media(xl) {
      font-size: rem(30);
    }
  }

  &__zoom {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: opacity .3s ease-in, background-color .3s ease-in;
  }

  &__zoom.active {
    opacity: 1;
    background-color: rgba(0,0,0,0.3);
  }

  &__zoom.active &__zoom-text {
    opacity: 1;
  }
}
