mixin map(data)
	//- модификатор
	+modif('map', data.mod)

	//- префикс
	+prefix('map', data.prefix)

	//- атрибуты
	- attr = data.attr || {'data-map': ''}
	div(class=`map${pr}__container`)
		div(class=`map${pr}${mod}` id= data.id)&attributes(attr)
		if (!data.zoom)
			div(class=`map${pr}__zoom` data-map-zoom)
				p(class=`map${pr}__zoom-text`) Что бы изменить масштаб нажмите правой кнопкой мыши на карту
