mixin brand-card(data)
  //- модификатор
  +modif('brand-card', data.mod, data.prefix)

  //- префикс
  +prefix('brand-card', data.prefix)

  //- атрибуты
  - attr = data.attr || ''
  - pref = pr

  a(class=`brand-card${pref}${mod}` class=data.class href='#')&attributes(attr)
    div(class=`brand-card${pref}__wrapper`)
        div(class=`brand-card${pref}__front front`)
            +img(data.img, `brand-card${pref}__img`)
        div(class=`brand-card${pref}__back back`)
            div(class=`brand-card${pref}__title`)!= data.title
            div(class=`brand-card${pref}__text`)!= data.text
            div(class=`brand-card${pref}__button-wrapper`)
              div(class=`brand-card${pref}__detail-text`).big Подробнее
              div(class=`brand-card${pref}__detail-button`)
