.brand-card {
  justify-content: space-between;
  display: flex;
  width: 100%;
  color: $color-black;

  &__wrapper {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 430px;
    perspective: rem(1000);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;

    &:hover {
      .back {
        opacity: 1;
      }
    }

    @include media(xl) {
      height: 350px;
    }

    @include media(xxl) {
      height: 430px;
    }
  }

  &__front,
  &__back {
    position: absolute;
  }

  &__back {
    background: $color-white;
    height: 100%;
    padding-top: 36px;

    @include media(lg) {
      opacity: 0;
      transition: all 1s;
    }
  }

  &__front {
    z-index: 2;
    top: 30px;
    left: 40px;

    @include media(lg) {
      z-index: 0;
      display: block;
      top: auto;
      left: auto;
    }

    img {
      max-width: 60%;
      min-width: 60%;
      height: auto;

      @include media(md) {
        max-width: 100%;
        min-width: 100%;
        height: auto;
      }
    }
  }

  &__title {
    height: 20%;
    padding-bottom: 20px;
    padding: 0 40px;
    font-size: rem(32);
    line-height: rem(43);
    opacity: 0;

    @include media(lg) {
      opacity: 1;
    }
  }

  &__text {
    height: 55%;
    padding: 0 40px;
    font-size: 16px;
    padding-top: 0;

    @include media(md) {
      height: 50%;
      font-size: 18px;
      padding-top: 50px;
    }

    @include media(lg) {
      padding-top: 0;
    }

    @include media(xl) {
      font-size: 16px;
    }

    @include media(xxl) {
      font-size: 18px;
    }
  }

  &__button-wrapper {
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.06);

    @include media(md) {
      height: 30%;
    }
  }

  &__detail-text {
    padding-left: 40px;
    color: $color-blue-2;
  }

  &__detail-button {
    margin-right: 40px;
    width: 56px;
    height: 56px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='56' height='57' viewBox='0 0 56 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 28.3428C1 43.2545 13.0883 55.3428 28 55.3428C42.9117 55.3428 55 43.2545 55 28.3428C55 13.4311 42.9117 1.34277 28 1.34277' stroke='%23009DE0' stroke-width='1.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 40.1171L40 30.1171V28.7031L30 18.7031L28.586 20.1171L36.878 28.4111H16V30.4111H36.88L28.584 38.7031L29.998 40.1171H30Z' fill='%23009DE0'/%3E%3C/svg%3E%0A");
  }
}
