mixin slider-split(data)
  //- модификатор
  +modif('slider-split', data.mod, data.prefix)

  //- префикс
  +prefix('slider-split', data.prefix)

  - attr = data.attr || {'slider-split': ''}

  div(class=`slider-split${pr}${mod}`)&attributes(attr)
    .row
      if (data.left)
        div(class=data.left.class)
          div(class=`slider-split${pr}__links`)
            if (data.left.list)
              each link, index in data.left.list
                - linkAttr = link.attr || {'slider-split-link': index}
                div(class=`slider-split${pr}__links-item` class=link.class)&attributes(linkAttr)!= link.text
      
      if (data.right)
        div(class=data.right.class)
          if(data.right.list)
            each item, index in data.right.list
              -bodyAttr = item.attr || {'slider-split-body': index}
              div(class=`slider-split${pr}__body` class=item.class)&attributes(bodyAttr)
                if (item.image)
                  div(class=`slider-split${pr}__image`)
                    +img(item.image.img, item.image.class)
                
                div(class=`slider-split${pr}__inner`)
                  if (item.inner.image)
                    div(class=`slider-split${pr}__inner-top`)
                      div(class=`slider-split${pr}__inner-image`)
                        +img(item.inner.image, item.inner.imageClass)
                      
                      if (item.inner.text)
                        div(class=`slider-split${pr}__inner-top__text`)!= item.inner.text

                  if (item.inner.bottom)
                    div(class=`slider-split${pr}__inner-bottom`)
                      - bottom = item.inner.bottom
                      if (bottom.title)
                        div(class=`slider-split${pr}__inner-bottom__title` class=bottom.title.class)!= bottom.title.text
                      
                      if (bottom.text)
                        each item in bottom.text
                          div(class=`slider-split${pr}__inner-bottom__text` class=item.class)!=item.text
                      
                      if (bottom.point)
                        each item in bottom.point
                          div(class=`slider-split${pr}__inner-bottom__point` class=item.class)!=item.text




