.slider-split {
  &__links {
    display: none;

    @include media(lg) {
      display: block;
    }

    @include media(xxl) {
      padding-right: 160px;
    }
  }

  &__links-item {
    padding: 21px 30px; 
    display: block;
    font-size: rem(18);
    line-height: rem(21.6);
    text-transform: uppercase;
    transition: background-color .3s ease-in, font-weight .3s ease-in;
    color: $color-black;
    cursor: pointer;

    &:hover {
      font-weight: 700;
      background-color: $color-white;
    }

    &.active {
      font-weight: 700;
      background-color: $color-white;
    }
  }

  &__body {
    margin-bottom: rem(55);
    transition: opacity .2s ease-in;

    @include media(md) {
      margin-bottom: 73px;
    }

    @include media(lg) {
      padding-left: rem(5);
      margin-bottom: 0;
      display: none;
      opacity: 0;
    }

    @include media(xl) {
      padding-left: 60px;
    }

    @include media(xxl) {
      padding-left: 5px;
    }

    &:last-child() {
      margin-bottom: 0;
    }
  
    &.active {
      display: block;
    }

    &.show {
      opacity: 1;
    }
  }

  &__inner {
    max-width: rem(750);
  }

  &__image {
    margin-bottom: 24px;
  }

  &__inner-top {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
  }

  &__inner-top__text {
    font-size: 20px;
    line-height: 27px;

    @include media(md) {
      font-size: 24px;
      line-height: 32.4px;
    }

    @include media(lg) {
      font-size: 32px;
      line-height: 43.2px;
    }
  }

  &__inner-image {
    max-width: 40%;
    margin-right: 15px;

    @include media(md) {
      max-width: unset;
    }

    @include media(lg) {
      max-width: unset;
      margin-right: 31px;
    }
  }

  &__inner-bottom__title {
    max-width: 540px;
    font-size: 18px;
    line-height: 24.3px;
    margin-bottom: 24px;

    @include media(md) {
      margin-bottom: 32px;
      line-height: 27px;
    }

    @include media(lg) {
      margin-bottom: 22px;
      font-size: 28px;
      line-height: 37.8px;
    }
  }

  &__inner-bottom {
    max-width: 700px;
  }

  &__inner-bottom__text {
    font-size: 14px;
    line-height: 16.8px;
    margin-bottom: 20px;

    @include media(md) {
      line-height: 18.9px;
    }

    @include media(lg) {
      font-size: 18px;
      line-height: 24.3px;  
    }
  }

  &__inner-bottom__point {
    margin-bottom: 20px;
    padding-left: 28px;
    font-size: 14px;
    line-height: 16.8px;
    position: relative;
    max-width: 570px;

    @include media(md) {
      line-height: 18.9px;
    }

    @include media(lg) {
      padding-left: 28px;
      font-size: 18px;
      line-height: 24.3px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      top: 50%;
      left: 0;
      background-color: $color-blue-2;
      transform: translateY(-50%);
    }
  }
}