.btn {
  position: relative;
  cursor: pointer;
  height: 44px;
  display: flex;
  align-items: center;
  color: $color-gray-1;
  justify-content: center;
  font-family: $font-ceraround;
  font-weight: 700;
  transition: all 0.2s linear;

  @include media(sm) {
    font-size: 14px;
    line-height: 14px;
  }

  @include media(md) {
    font-size: 18px;
    line-height: 18px;
  }

  &--entertainments {
    background-color: $color-white;
    height: 100%;
    width: 100%;
    border-radius: 32px;

    &:after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='27' height='14' viewBox='0 0 27 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 7H1M25 7L18.8723 13M25 7L18.8723 1' stroke='%23333333' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 12px;
      width: 24px;
      height: 12px;
      display: block;
      margin-left: 15px;
    }

    &:hover {
      background-color: transparent;
      color: $color-white;

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='27' height='14' viewBox='0 0 27 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 7H1M25 7L19.1277 13M25 7L19.1277 1' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &--subscription {
    background-image: url("data:image/svg+xml,%3Csvg width='51' height='44' viewBox='0 0 51 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.6'%3E%3Cpath d='M35.3374 1H15.719C14.2956 1 12.9794 1.75645 12.2628 2.98635L2.33372 20.0285C1.60728 21.2753 1.60873 22.8168 2.33752 24.0623L12.2604 41.0201C12.9779 42.2464 14.292 43 15.7127 43H35.3719C36.7972 43 38.1149 42.2415 38.8308 41.0089L48.6781 24.0542C49.399 22.8131 49.3996 21.2808 48.6797 20.0391L38.7979 2.99381C38.0825 1.7597 36.7639 1 35.3374 1Z' stroke='white' stroke-width='2'/%3E%3Cpath d='M37 22H13M37 22L31 28M37 22L31 16' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    width: 51px;
    height: 44px;
    background-size: 51px 44px;

    @include media(sm) {
      display: none;
    }

    @include media(md) {
      display: block;
    }

    &.active {
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 1;
        transition: opacity 0.3s;
      }

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='51' height='44' viewBox='0 0 51 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.3374 1H15.719C14.2956 1 12.9794 1.75645 12.2628 2.98635L2.33372 20.0285C1.60728 21.2753 1.60873 22.8168 2.33752 24.0623L12.2604 41.0201C12.9779 42.2464 14.292 43 15.7127 43H35.3719C36.7972 43 38.1149 42.2415 38.8308 41.0089L48.6781 24.0542C49.399 22.8131 49.3996 21.2808 48.6797 20.0391L38.7979 2.99381C38.0825 1.7597 36.7639 1 35.3374 1Z' stroke='white' stroke-width='2'/%3E%3Cpath d='M37 22H13M37 22L31 28M37 22L31 16' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E ");
        opacity: 1;
      }

      &:after {
        background-image: url("data:image/svg+xml,%3Csvg width='51' height='44' viewBox='0 0 51 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.719 0H35.3374C37.1205 0 38.7687 0.949622 39.6631 2.49226L49.5448 19.5375C50.4447 21.0897 50.4439 23.005 49.5428 24.5565L39.6955 41.5112C38.8007 43.0519 37.1536 44 35.3719 44H15.7127C13.9368 44 12.2942 43.058 11.3973 41.5252L1.47442 24.5673C0.563435 23.0105 0.561619 21.0836 1.46967 19.5251L11.3988 2.48294C12.2945 0.945557 13.9397 0 15.719 0Z' fill='white'/%3E%3Cpath d='M37 22H13M37 22L31 28M37 22L31 16' stroke='url(%23paint0_linear_459_44)' stroke-width='2' stroke-linecap='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_459_44' x1='15.5' y1='14.5' x2='34' y2='27.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF742E'/%3E%3Cstop offset='1' stop-color='%23FD238A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        opacity: 0;
      }

      &:hover {
        &:before {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }

  &--subscription-wide {
    color: $color-white;
    height: 36px;

    &:after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='27' height='14' viewBox='0 0 27 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 7H1M25 7L18.8723 13M25 7L18.8723 1' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 12px;
      width: 24px;
      height: 12px;
      display: block;
      margin-left: 15px;
    }
  }
}
