.form-feedback {
  background: $color-white;
  border-radius: $border-radius;
  padding: 20px 20px;

  @include media(md) {
    padding: rem(60) rem(60);
  }

  @include media(lg) {
    padding-left: 50px;
    padding: rem(110) rem(72);
  }

  @include media(xl) {
    padding-left: rem(150);
  }

  @include media(xxl) {
    padding-left: rem(300);
  }

  &.apply {
    @include media(lg) {
      padding-bottom: rem(150);
    }
  }

  &__field{
    margin-bottom: 56px;
  }

  &__footer {
    @include media(lg) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &.apply {
      max-width: rem(875);
      padding-left: rem(2);

      .caption {
        font-size: 10px;
        line-height: 12px;

        @include media(md) {
          font-size: 12px;
          line-height: 14.4px;
        }

        @include media(lg) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  &__footer-btn {
    padding-top: 36px;

    @include media(md) {
      padding-top: 46px;
    }

    @include media(lg) {
      padding-top: 7px;
    }

    .btn{
      width: 100%;
    }
  }

  .input,
  .textarea {
    font-size: rem(28);
  }

  &__background-image {
    position: absolute;
    top: rem(-70);
    right: rem(-60);
  }

  &.apply &__background-image {
    top: rem(-73);
    display: none;

    @include media(lg) {
      display: block;
      right: rem(-230);
    }

    @include media(xl) {
      right: rem(-165);
    }

    @include media(xxl) {
      right: rem(-53);
    }
  }

  &__item {
    padding-left: rem(2);
    max-width: rem(875);
    margin-bottom: 24px;

    @include media(md) {
      margin-bottom: 28px;
    }

    @include media(lg) {
      max-width: rem(650);
    }

    @include media(xl) {
      max-width: rem(875);
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @include media(md) {
        margin-bottom: 50px;
      }

      @include media(lg) {
        margin-bottom: rem(73);
      }
    }
  }
}
