mixin form-feedback(data)
  if (data)
    .position-relative
      form(class=`form-feedback` data-validate class=data.contentClass)&attributes(data.attr)
        div(class=`form-feedback__inner`)
          if (data.list)
            each item in data.list
              div(class=`form-feedback__item` class=item.class)
                if (item.itemType === 'input')
                  +input(item)
                else if (item.itemType === 'textarea')
                  +textarea(item)

        div(class=`form-feedback__footer` class=data.footerClass)
          .caption Нажимая «Отправить», я подтвеждаю, что согласен #[br.d-none.d-lg-block]  с&nbsp;#[a(href="#") условиями обработки персональных данных]

          div(class=`form-feedback__footer-btn` class=data.footerBtnClass)
            button.btn.btn--secondary Отправить
        +img('example/forms/back-img-2.png', 'form-feedback__background-image')
        +form-preloader()
  else
    .position-relative
      form.form-feedback(data-validate)
        .col-7.px-0
          .form-feedback__item
            +input({
              type: 'email',
              name: 'email',
              placeholder: 'Электронная почта',
              attr: {
                'required': ''
              }
            })
          .form-feedback__item
            +input({
              type: 'text',
              name: 'name',
              placeholder: 'Название компании',
              attr: {
                'required': ''
              }
            })
          .form-feedback__item
            +textarea({
              type: 'textarea',
              placeholder: 'Комментарий',
              attr: {
                'required': ''
              }
            })
        .col-7.px-0.form-feedback__footer
          .caption  Нажимая Отправить, я подтвеждаю, что согласен #[br] с #[a(href="#") условиями обработки персональных данных]
          button.btn.btn--secondary Отправить
      +img('example/forms/back-img-2.png', 'form-feedback__background-image')
      +form-preloader()
