mixin hash()
	- hash = htmlWebpackPlugin.files.css[0].split('?')[1];

//- Svg icon
mixin icon(name,mod)
	- mod = mod || ''
	- mainPath = `${htmlWebpackPlugin.files.publicPath}assets/images/`
	+hash()
	svg(aria-hidden="true" class="icon " + name + ' ' + mod)
		use(xlink:href=`${mainPath}required/sprite.svg#` + name)

//- Img
mixin img(path, imageClass, retina, alt, title, attribute, imageMin)
	- alt = alt || ''
	- imageClass = imageClass || ''
	- imageMin = imageMin || path
	- retina = retina || ''
	- mainPath = `${htmlWebpackPlugin.files.publicPath}assets/images/`

	- attr = {"data-src": `${mainPath}${path}`} || ''

	if (retina)
		- attr = {"data-src": `${mainPath}${path}`, "data-srcset": `${mainPath}${retina}, ${mainPath}${path}`} || ''

	img(src=`${mainPath}${imageMin}`, alt=`${alt}`, class=`${imageClass}`)&attributes(attr, attribute)

//- Picture
mixin picture(data)
	- mainPath = `${htmlWebpackPlugin.files.publicPath}assets/images/`
	- image = data.image
	- attr = {"data-src": `${mainPath}${image.path}`} || ''

	picture(class=data.class)
		each item in data.srcset
			- imageMin = item.imageMin || item.path

			if item.retina
				- retina = mainPath + item.retina
			else
				- retina = ''
			source(srcset=`${mainPath}${imageMin} ${retina}`, media=`(min-width: ${item.media})`)&attributes(item.attribute, {"data-src": `${mainPath}${item.path}`} || '')
		img(src=`${mainPath}example/load.webp`, alt=image.alt, class=`lazyload` class=image.class width='1' height='1')&attributes(attr)

//- Ul
mixin ul(className, items, activeElem, addClass, mmodifierName)
	ul(class= className + '__list' class= mmodifierName)
		each item, index in items
			li(class= className + "__item")
				a(href="#" class= className + "__link" class=addClass + ((activeElem === index) ? ' ' + className + '__link_active' : ''))= item

//- Префикс в компонентах
mixin prefix(el, prefix)
	if (prefix != undefined)
		- pr = `-${prefix}`
	else
		- pr = ''

//- Модификатор в компонентах
mixin modif(el, modif, prefix)
	if (modif != undefined)
		if (prefix != undefined)
			- mod = ` ${el}-${prefix}--${modif}`
		else
			- mod = ` ${el}--${modif}`
	else
		- mod = ''

mixin favicon()
	- mainPath = `${htmlWebpackPlugin.files.publicPath}assets/images/`

	link(rel="icon" type="image/png" href=`${mainPath}favicons/favicon-196x196.png` sizes="196x196")
	link(rel="icon" type="image/png" href=`${mainPath}favicons/favicon-96x96.png` sizes="96x96")
	link(rel="icon" type="image/png" href=`${mainPath}favicons/favicon-32x32.png` sizes="32x32")
	link(rel="icon" type="image/png" href=`${mainPath}favicons/favicon-16x16.png` sizes="16x16")
	link(rel="icon" type="image/png" href=`${mainPath}favicons/favicon-128.png` sizes="128x128")

mixin preload()
	- mainPath = `${htmlWebpackPlugin.files.publicPath}assets/fonts/`

	link(rel="preload" href=`${mainPath}fontawesome-webfont.woff2` as="font" crossorigin="anonymous")
