.table-big {
  &__head {
    display: none;

    @include media(lg) {
      display: table-header-group;
    }
  }

  &__th {
    padding: 8px 0 8px 32px;
    font-size: 16px;
    line-height: 21.6px;
    font-weight: 400;
    color: #8C8C8C;
    text-align: left;
    background-color: $color-white;
    width: 30%;

    &:first-child {
      width: 12.2%;
    }

    &:nth-child(2) {
      width: 49.5%;
    }

    &:last-child {
      padding-left: 25px;
    }
  }

  &__td {
    display: block;
    font-size: 12px;
    line-height: 14.4px;
    margin-bottom: 10px;

    @include media(md) {
      margin-bottom: 11px;
      display: flex;
    }

    &::before {
      display: block;
      margin-bottom: 3px;
      content: attr(data-mobile-text);
      font-weight: 700;

      @include media(md) {
        width: 51.5%;
      }

      @include media(lg) {
        display: none;
      }
    }

    @include media(lg) {
      margin-bottom: 0;
      display: table-cell;
      vertical-align: baseline;
      padding: 8.6px 0 8px 32px;
      font-size: 16px;
      line-height: 21.6px;
      width: 30%;
    }

    &:first-child {
      @include media(lg) {
        width: 12.2%;
      }
    }

    &:nth-child(2) {
      @include media(lg) {
        width: 49.5%;
      }
    }

    &:last-child {
      @include media(lg) {
        padding-left: 25px;
      }
    }
  }

  &__tr {
    margin-bottom: rem(3);
    display: block;
    padding: 15px 16px 6px;

    @include media(md) {
      margin-bottom: 1px;
      padding: 17px 19px 5px;
    }

    @include media(lg) {
      padding: 0;
      display: table-row;
      margin-bottom: 0;
    }

    &:first-child {
      @include media(lg) {
        width: 126px;
      }
    }

    &:nth-child(even) {
      @include media(lg) {
        background-color: $color-white;
      }
    }

    &:nth-child(odd) {
      background-color: $color-white;

      @include media(lg) {
        background-color: unset;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}