mixin table(data)
  //- префикс
  +prefix('table', data.prefix)

  //- модификатор
  +modif('table', data.mod, data.prefix)

  //- атрибуты
  - attr = data.attr || ''

  table(class=`table${pr}${mod}` class=data.class)&attributes(attr)
    if (data.thead)
      thead(class=`table${pr}__head`)
        tr(class=`table${pr}__tr`)
          each th in data.thead
            th(class=`table${pr}__th` class=th.class)&attributes(th.attr)!= th.text

    tbody(class=`table${pr}__body`)
      each tr in data.tbody
        tr(class=`table${pr}__tr`)
          each td in tr.list
            td(class=`table${pr}__td` class=td.class)&attributes(td.attr)!= td.text

