.table {
  &__td {
    font-size: 12px;
    line-height: rem(16.2);
    padding: 8px 12px;
    width: 50%;

    @include media(xl) {
      width: 35%;
      font-size: 16px;
      line-height: rem(21.6);
    }

    &:first-child {
      color: #8c8c8c;
      width: 50%;

      @include media(xl) {
        width: 63%;
      }
    }
  }

  &--sm {
    margin-bottom: rem(38);
    max-width: rem(180);
  }

  &--md {
    max-width: rem(700);
  }

  &--mb {
    margin-bottom: rem(38);
  }

  &--sm &__td {
    padding: rem(7.2) 0;
    width: 50%;
    &:first-child {
      color: #8c8c8c;
      width: 50%;
    }
  }

  &--md &__td {
    padding: 0;
    padding-bottom: rem(20.3);

    &:first-child {
      width: 50%;
      padding-right: rem(5);

      @include media(lg) {
        padding-right: 0;
        width: 25%;
      }
    }
  }

  &__tr {
    &:nth-child(even) {
      background-color: $color-white;
    }
  }

  &--sm &__tr,
  &--md &__tr {
    &:nth-child(even) {
      background-color: inherit;
    }
  }

  &--md &__tr {
    vertical-align: baseline;

    @include media(lg) {
      vertical-align: unset;
    }
  }

  &--news-item {
    @include media(md) {
      margin-left: rem(-12);
    }
  }
}
