.dropdown-language {
  width: auto;
  position: relative;

  .dropdown {
    &__chosen-item {
      background-color: $color-transparent;
    }

    &__arrow {
      width: rem(6);
      height: rem(6);
      border-top: 1px solid $color-black;
      border-right: 1px solid $color-black;
      transform: rotate(135deg);
      margin-top: rem(-5);
      margin-left: 20px;
      transition: all 200ms linear;
    }

    &__list {
      top: rem(35);
      left: rem(-25);
      width: 80px;
      z-index: 9;

      &:before {
        display: none;
      }
    }

    &__chosen-item {
      padding: 0;
    }

    &__text {
      padding: 0;
      justify-content: center;
    }
  }

  .active-language {
    color: $color-blue-2;
    cursor: default;
    user-select: none;
  }
}
