mixin dropdown(data)
  //- модификатор
  +modif('dropdown', data.mod, data.prefix)

  //- префикс
  +prefix('dropdown', data.prefix)

    //- атрибуты
  - attr = data.attr || ''

    //- id
  //- - var id = Math.floor(Math.random() * (15 - 1300) + 1300)

  div(class=`dropdown${pr}${mod}` data-dropdown)&attributes(attr)
    input(id=`id_${data.id}` type='checkbox' class=`dropdown__checkbox`)
    label(for=`id_${data.id}` class=`dropdown__chosen-item`)!=data.list[0].text
      div.dropdown__arrow
    ul.dropdown__list
      each item in data.list
        li(class=`dropdown__text` class=item.text.class)
          a(href='#' data-language-item=item.language)!= item.text



