.dropdown {
  z-index: 10;
  position: relative;
  min-width: rem(250);
  width: 100%;

  @include media(md) {
    width: auto;
  }

  &__chosen-item {
    display: inline-flex;
    min-height: rem(60);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    border-radius: $border-radius;
    cursor: pointer;
    padding: 20px;
  }

  &__arrow {
    width: 10px;
    height: 10px;
    border-top: 1px solid $color-black;
    border-right: 1px solid $color-black;
    transform: rotate(135deg);
    margin-top: rem(-5);
    margin-left: 20px;
    transition: all 200ms linear;
  }

  &__list {
    position: absolute;
    background-color: $color-white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    border-radius: $border-radius;
    transform: translateY(50px);
    transition: all 200ms linear;

    &:before {
      position: absolute;
      top: rem(-15);
      right: rem(25);
      width: 0;
      height: 0;
      border-left: 16px solid $color-transparent;
      border-right: 16px solid $color-transparent;
      border-bottom: 16px solid $color-white;
      content: '';
      display: block;
      transition: all 200ms linear;
    }
  }

  &__checkbox {
    display: none;
  }

  &-language.is-open  &__checkbox:checked,
  &.is-open  &__checkbox:checked {
    & + label + ul {
      transform: translateY(20px);
      opacity: 1;
      visibility: visible;
    }

    & + label {
      .dropdown__arrow {
        margin-top: rem(5);
        transform: rotate(-45deg);
      }
    }
  }

  &__text {
    width: 100%;
    min-height: rem(60);
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    line-height: 19.2px;

    a {
      cursor: pointer;
      color: $color-black;

      &:hover {
        color: $color-blue-2;
      }
    }
  }
}
