.news {
  justify-content: space-between;
  display: flex;

  &__item {
    background: $color-white;
    color: $color-black;
    padding: rem(26) 0 0;
    position: relative;
    cursor: pointer;

    &:hover {
      .news__detail-text {
        color: $color-blue-2;
      }

      .news__detail-button {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='56' height='57' viewBox='0 0 56 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 28.3428C1 43.2545 13.0883 55.3428 28 55.3428C42.9117 55.3428 55 43.2545 55 28.3428C55 13.4311 42.9117 1.34277 28 1.34277' stroke='%23009DE0' stroke-width='1.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 40.1171L40 30.1171V28.7031L30 18.7031L28.586 20.1171L36.878 28.4111H16V30.4111H36.88L28.584 38.7031L29.998 40.1171H30Z' fill='%23009DE0'/%3E%3C/svg%3E%0A");
      }
    }

    @include media(md) {
      padding: rem(31) 0 0;
    }

    @include media(lg) {
      padding: 20px 0 0;
    }

    @include media(xl) {
      padding: 36px 0 24px;
    }
  }

  &--news-item &__item {
    padding: 0;
    padding-right: rem(22);
    background: $color-transparent;

    &:not(:first-child) {
      padding-left: 8px;
      padding-right: rem(17);
    }
  }

  &--catalog &__item {
    padding: rem(33) 0 rem(26);
  }

  &__inner {
    padding: 30px 0 rem(25);
    background-color: $color-white;
    border-radius: 3px;
  }

  &--catalog &__inner {
    padding: 0;
  }

  &__news-wrapper {
    height: rem(247);
    padding: 0 rem(21);

    @include media(md) {
      height: rem(243);
    }

    @include media(lg) {
      height: rem(300);
      padding: 0 rem(21);
    }

    @include media(xl) {
      height: rem(335);
      padding: 0 40px;
    }
  }

  &--catalog &__news-wrapper {
    height: rem(501);
  }

  &--news-item &__news-wrapper {
    height: rem(337);
  }

  &__date {
    font-size: rem(14);
    line-height: rem(16.8);
    margin-bottom: 24px;
    color: $color-blue-2;

    @include media(lg) {
      font-size: 16px;
      line-height: rem(27.2);
      margin-bottom: rem(43);
    }

    @include media(xl) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: rem(45);
    }
  }

  &--catalog &__date {
    margin-bottom: 0;
  }

  &--news-item &__date {
    margin-bottom: rem(43);
    font-size: 16px;
    line-height: rem(27.2);
    letter-spacing: rem(0.4);
  }

  &__title {
    margin-bottom: 20px;

    @include media(xl) {
      margin-bottom: 20px;
    }
  }

  &--catalog &__title {
    margin-bottom: rem(28);
    line-height: rem(43.2);
  }

  &--news-item &__title {
    font-size: 30px;
    line-height: rem(40.5);
  }

  &__text {
    margin-bottom: 56px;
    font-size: rem(14);
    line-height: rem(18.9);

    @include media(xl) {
      font-size: 16px;
      line-height: rem(21.6);
    }
  }

  &--news-item &__text {
    font-size: 16px;
    line-height: rem(21.6);
  }

  &--catalog &__text {
    margin-bottom: rem(91);
  }

  &__subtitle {
    margin-bottom: rem(22);
    text-transform: uppercase;
    font-size: 18px;
    line-height: rem(21.6);
    font-weight: 700;
  }

  &__subtext {
    text-transform: uppercase;
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -1px 0px rgba(17, 16, 16, 0.06);
  }

  &--catalog &__button-wrapper {
    padding-top: 30px;
  }

  &--news-item &__button-wrapper {
    padding-top: rem(29);
  }

  &__detail-text {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: rem(14);
    line-height: rem(18.9);
    transition: 0.2s ease-in;

    @include media(md) {
      font-size: 16px;
      line-height: rem(21.6);
    }

    @include media(xl) {
      width: unset;
      padding: 0;
      padding-left: 40px;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__detail-button {
    display: none;
    transition: 0.2s ease-in;

    @include media(lg) {
      display: block;
      margin-right: 40px;
      width: 56px;
      height: 56px;
      cursor: pointer;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='56' height='57' viewBox='0 0 56 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 28.3428C1 43.2545 13.0883 55.3428 28 55.3428C42.9117 55.3428 55 43.2545 55 28.3428C55 13.4311 42.9117 1.34277 28 1.34277' stroke='%231D1D1D' stroke-width='1.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 40.1171L40 30.1171V28.7031L30 18.7031L28.586 20.1171L36.878 28.4111H16V30.4111H36.88L28.584 38.7031L29.998 40.1171H30Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }

    @include media(xl) {
      background-size: auto;
    }
  }
}
