.news-img {
  justify-content: space-between;
  display: flex;

  &__item {
    position: relative;
    cursor: pointer;
    transition: 1s;
    color: $color-black;
    margin-bottom: 40px;

    &:hover {
      @include media(lg) {
        .news-img__img-container {
          max-height: 0;
        }

        .news-img__news-wrapper {
          background-color: $color-white;
        }

        .news-img__text {
          animation: none;

          @include media(xl) {
            animation: forwards showNews 1s;
          }
        }

        .news-img__button-wrapper {
          background-color: $color-white;
          animation: forwards showNews 1s;
        }
      }
    }
  }

  &__img{
    width: 100%;
  }

  &__news-wrapper{
    transition: 1s;
    background-color: $color-transparent;
  }

  &__item:hover &__subtitle,
  &__item:hover &__subtext {
    @include media(lg) {
      opacity: 1;
    }
  }

  &--catalog{
    justify-content: center;
    @include media(md) {
      justify-content: left;
    }
  }

  &--catalog &__item {
    margin-bottom: 0;
    @include media(lg) {
      margin-bottom: 40px;
    }
  }

  &--catalog &__item:hover &__img-container {
    @include media(lg) {
      max-height: 0;
    }
  }

  &--catalog &__item:hover &__img {
    height: auto;
  }

  &--catalog &__item:hover &__title {
    @include media(lg) {
      margin-top: rem(32);
      font-size: rem(32);
      margin-bottom: 30px;
      line-height: rem(43);
    }
  }

  &--catalog &__item:hover &__text {
    animation: none;
    font-size: 18px;
    line-height: rem(24.3);
    margin-bottom: rem(89);
  }

  &__news-wrapper {
    height: auto;
    @include media(xl) {
      height: rem(500);
    }
  }

  &--catalog &__news-wrapper {
    height: auto;
    @include media(lg) {
      height: rem(535);
    }
  }

  &__date {
    margin-bottom: 25px;
    color: $color-blue-2;
    padding: 0;
    font-size: 16px;
    line-height: 19.2px;

    @include media(md) {
      padding: 0 30px;
    }
  }

  &__title {
    margin-bottom: 20px;
    padding: 0;

    @include media(md) {
      padding-left: 30px;
    }
  }

  &--catalog &__title {
    margin-bottom: 24px;
    margin-top: rem(27);
    transition: margin-top 1s ease-in, margin-bottom 1s ease-in;
    text-align: center;

    @include media(md) {
      text-align: left;
    }
  }

  &__text {
    margin-bottom: 56px;
    opacity: 0;
    padding: 0 30px;
    display: none;
    // visibility: hidden;
    transition: 0.8s all;

    @include media(lg) {
      display: block;
      opacity: 1;
      animation: none;
    }

    @include media(xl) {
      opacity: 0;
      animation: forwards hideNews 0s;
    }

    @keyframes showNews {
      50% {
        opacity: 0;
        visibility: hidden;
      }

      100% {
        opacity: 1;
        visibility: visible;
      }
    }

    @keyframes hideNews {
      from {
        opacity: 1;
        visibility: visible;
      }

      to {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &--catalog &__text {
    font-size: 16px;
    line-height: rem(19.2);
    // transition: font-size .5s ease-in, line-height .5s ease-in;
    opacity: 1;
    animation: none;
  }

  &__img-container {
    max-height: rem(399);
    width: 100%;
    object-fit: cover;
    transition: 0.7s all;
    margin-bottom: 20px;
    overflow: hidden;
  }

  &--catalog &__img-container {
    padding-right: 10px;
    max-height: rem(399);
    transition: max-height 0.7s ease-in;
    overflow: hidden;
    background-color: #f4f8fb;
  }

  &--catalog &__img {
    width: 100%;
    height: auto;
    padding-bottom: 0;

    @include media(lg) {
      width: auto;
    }
  }

  &__button-wrapper {
    opacity: 0;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.06);
    animation: forwards hideNews 0s;
    display: none;
    transition: all .7s;
    background-color: $color-transparent;

    @include media(lg) {
      display: flex;
    }
  }

  &__detail-text {
    padding-left: 40px;
    color: $color-blue-2;
  }

  &__detail-button {
    margin-right: 40px;
    width: 56px;
    height: 56px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='56' height='57' viewBox='0 0 56 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 28.3428C1 43.2545 13.0883 55.3428 28 55.3428C42.9117 55.3428 55 43.2545 55 28.3428C55 13.4311 42.9117 1.34277 28 1.34277' stroke='%23009DE0' stroke-width='1.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30 40.1171L40 30.1171V28.7031L30 18.7031L28.586 20.1171L36.878 28.4111H16V30.4111H36.88L28.584 38.7031L29.998 40.1171H30Z' fill='%23009DE0'/%3E%3C/svg%3E%0A");
  }

  &--big {
    .news-img__text {
      opacity: 0;

      @include media(lg) {
        opacity: 1 !important;
        animation: forwards showNews 0s;
      }
    }
  }

  &__subtitle {
    margin-bottom: rem(23);
    padding: 0 30px;
    font-size: 18px;
    line-height: rem(21.6);
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in;
    transition-delay: 0.5s;
    display: none;
    @include media(lg) {
      display: block;
    }
  }

  &__subtext {
    padding: 0 30px;
    font-size: 18px;
    line-height: rem(21.6);
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in;
    transition-delay: 0.5s;
    display: none;
    @include media(lg) {
      display: block;
    }
  }
}
