mixin news(data)
  //- модификатор
  +modif('news', data.mod, data.prefix)

  //- префикс
  +prefix('news', data.prefix)

  //- атрибуты
  - attr = data.attr || ''
  - pref = pr

  if (!data.news)
    div(class=`news${pref}${mod}` class=data.class)&attributes(attr)
      each item in data.list
        if (data.prefix == 'img')
          a(class=`news${pref}__item` class=item.class href='#')
            div(class=`news${pref}__news-wrapper`)
              if (item.img)
                div(class=`news${pref}__img-container`)
                  +img(item.img, `news${pref}__img lazyload`)
              if (item.date)
                div(class=`news${pref}__date`)!= item.date
              h4(class=`news${pref}__title`)!= item.title
              if (item.text)
                div(class=`news${pref}__text`)!= item.text
              if (item.subtitle)
                div(class=`news${pref}__subtitle`)!= item.subtitle
              if (item.subtext)
                div(class=`news${pref}__subtext`)!= item.subtext
            div(class=`news${pref}__button-wrapper`).py-xl-4
              div(class=`news${pref}__detail-text`).big Подробнее
              div(class=`news${pref}__detail-button`)
        else
          a(class=`news${pref}__item` class=item.class href='#')
            div(class=`news${pref}__news-wrapper`)
              if (item.date)
                div(class=`news${pref}__date`)!= item.date
              h4(class=`news${pref}__title`)!= item.title
              div(class=`news${pref}__text`)!= item.text
              if (item.subtitle)
                div(class=`news${pref}__subtitle`)!= item.subtitle
              if (item.subtext)
                div(class=`news${pref}__subtext`)!= item.subtext
            div(class=`news${pref}__button-wrapper`).pt-xl-5
              div(class=`news${pref}__detail-text`).big Подробнее
              div(class=`news${pref}__detail-button`)

  else
    div(class=`news${pref}${mod}` class=data.class)&attributes(attr)
      each item in data.list
        a(class=`news${pref}__item` class=item.class href='#')
          div(class=`news${pref}__inner`)
            div(class=`news${pref}__news-wrapper`)
              if (item.date)
                div(class=`news${pref}__date`)!= item.date
              if (item.title)
                h4(class=`news${pref}__title`)!= item.title
              if (item.text)
                div(class=`news${pref}__text`)!= item.text
              if (item.subtitle)
                div(class=`news${pref}__subtitle`)!= item.subtitle
              if (item.subtext)
                div(class=`news${pref}__subtext`)!= item.subtext
            div(class=`news${pref}__button-wrapper`)
              div(class=`news${pref}__detail-text`).big Подробнее
              div(class=`news${pref}__detail-button`)


