.hamburger {
  width: $hamburger-size;
  height: $hamburger-size;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  flex-shrink: 0;

  &__line {
    &:before,
    &:after {
      content: '';
    }

    top: 35%;

    &:before {
      top: -8px;
    }

    &:after {
      top: 8px;
    }
  }

  &__line,
  &__line:before,
  &__line:after {
    transition: 0.2s ease-in;
    height: 2px;
    width: 20px;
    display: block;
    background: $hamburger-line-color;
    position: absolute;
    left: 50%;
    border-radius: ($hamburger-line-height / 2);
    transform: translateX($hamburger-translateX);
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }
}
