.textarea {
	width: 100%;
	position: relative;
	z-index: 1;
	background: $color-transparent;
  font-weight: $font-weight-400;
  font-size: 40px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 8px 0;
  padding-left: 20px;
  resize: none;
  overflow-y: hidden;

  &::placeholder {
    color: $color-black;
    opacity: 0.2;
  }

	&__container {
		position: relative;
	}
}
