mixin textarea(data)
  //- модификатор
  +modif('textarea', data.mod)

  //- префикс
  +prefix('textarea', data.prefix)

  //- атрибуты
  - attr = data.attr || ''

  div(class=`textarea${pr}__wrap`)
    //- Если заголовок выводится перед textarea
    if (typeof data.labelFocus === "undefined")
      if (data.label)
        label(class=`textarea${pr}__label`)= data.label

    div(class=`textarea${pr}${mod}__container`)
      textarea(
        class=`textarea${pr}`
        wpap="soft"
        class=typeof data.class === "undefined" ? "" : data.class
        name=typeof data.name === "undefined" ? data.type : data.name
        placeholder=typeof data.placeholder === "undefined" ? "" : data.placeholder
        aria-required="true"
        rows="1"
        data-textarea
      )&attributes(attr)
        !=data.value

      //- Если заголовок выводится поверх textarea
      if (typeof data.labelFocus != "undefined")
        if (data.label)
          label(class=`textarea${pr}__label`)= data.label
