.popup-modal {
  background: $color-background-1;
	max-width: 768px;
	margin: 16px auto;
  position: relative;
  border-radius: $border-radius;

  &__title {
    font-size: rem(60);
    font-weight: $font-weight-400;
    line-height: rem(72);
    flex-shrink: 0;
    text-align: center;
    padding-top: rem(86);
    z-index: 2;
    position: relative;
  }

  &__text {
    font-size: 18px;
    font-weight: $font-weight-400;
    line-height: 24px;
    padding-top: rem(32);
    padding-bottom: rem(143);
    position: relative;
    z-index: 1;
    text-align: center;
    a:hover{
      color: $color-blue-1;
    }
  }

  &__btn{
    padding-bottom: rem(27);
    position: relative;
    z-index: 1;
  }

  &__img-container{
    &--left {
      left: 0;
    }
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 0;
  }
}
