@import '../../../node_modules/magnific-popup/src/css/main.scss';

.mfp-bg {
  background: $color-black;
  opacity: 0;
  transition: all 0.15s ease-out;
}

.mfp-wrap {
  // правки для ios
  // @include media-max(md) {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  height: 100% !important;
  overflow: auto;
  // }
}

.mfp-content {
  overflow: hidden;
}

.mfp-container {
  padding: 16px;

  @include media-max(md) {
    position: relative;
    margin: 0;
  }
}

.mfp-bg.mfp-ready.mfp-video {
  opacity: 0.5;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.popup {
  padding: 0;
  background: $color-white;
  width: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;

  @include media(md) {
    position: relative;
    height: auto;
    right: unset;
    left: unset;
    top: unset;
    bottom: unset;
    margin: auto;
    display: block;
    max-width: 600px;
  }

  &--figure {
    margin: 30px auto;
  }

  &--lg {
    width: 100vw;
    height: var(--app-height);

    @include media(md) {
      height: auto;
      max-width: rem(934);
      width: calc(100% + 32px);
    }
  }

  &--sm-max {
    width: calc(100% + 32px);

    @include media(sm) {
      position: relative;
      right: unset;
      left: unset;
      top: unset;
      bottom: unset;
      margin: 16px auto;
      display: block;
      max-width: rem(640);
    }

    @include media(md) {
      max-width: rem(934);
    }
  }

  &__title {
    font-size: 24px;
    font-weight: $font-weight-700;
    line-height: rem(32);
    padding-right: 24px;
    flex-shrink: 0;
    padding: 24px 16px;
    border-bottom: 1px solid $color-blue-2;

    @include media(md) {
      padding: 24px;
    }
  }

  &__content {
    padding: 24px 16px rem(48);
    overflow-y: auto;
    overflow-x: hidden;

    @include media(md) {
      padding: 24px 24px rem(48);
    }

    &--text-us {
      padding-top: 16px;
      padding-bottom: rem(28);
    }
  }

  &--city &__content {
    height: calc(100% - 48px);
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;

    @include media(md) {
      height: auto;
    }
  }

  &--review &__close.mfp-close {
    @include media-max(sm) {
      border: 1px solid $color-white;
      border-radius: 50%;
      height: rem(32);
      width: rem(32);
      background-image: svg-load('../assets/images/svg/close-icon.svg', fill=$color-white);
      background-size: 16px auto;
      opacity: 1;
      right: rem(48);
      top: 16px;
    }
  }

  &__text {
    font-size: 12px;
    font-weight: $font-weight-400;
    line-height: 16px;

    &:not(:last-child) {
      margin-bottom: 24px;

      @include media(md) {
        margin-bottom: rem(32);
      }
    }
  }

  &__close.mfp-close {
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: svg-load('../assets/images/svg/close-icon.svg', fill=$color-black);
    background-position: center center;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    opacity: 1;
  }

  &__form-item {
    &:not(:last-child) {
      margin-bottom: rem(32);
    }
  }

  &--city &__form {
    height: 100%;
    position: relative;
    padding-bottom: rem(93);

    @include media(sm) {
      padding-bottom: rem(124);
    }

    @include media(md) {
      height: auto;
      padding-bottom: 0;
    }
  }

  &__overflow {
    padding: 16px 0 20px;
    flex: 1 auto;
    overflow: hidden;
    height: 100%;

    @include media(md) {
      flex: unset;
      height: rem(257);
      padding-bottom: rem(32);
      padding-top: 24px;
    }
  }

  &__overflow-inner {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    @include scrollbars(2px, $color-blue-2, transparent);
  }

  &__city {
    display: flex;
    flex-wrap: wrap;

    &-item {
      break-inside: avoid-column;
      font-weight: $font-weight-600;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px;
      width: 100%;

      @include media(sm) {
        width: calc(100% / 3);
      }

      @include media(md) {
        width: 25%;
      }

      &:last-child {
        margin-bottom: 0;

        @include media(md) {
          margin-bottom: 16px;
        }
      }
    }

    &-link {
      display: inline-block;
    }

    &-subtext {
      font-weight: $font-weight-400;
      display: block;
    }
  }

  &__search {
    background: $color-blue-2;
    margin: 0 rem(-24);
    padding: 24px 16px rem(32);
    flex-shrink: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;

    @include media(sm) {
      padding: rem(39) 24px rem(48);
    }

    @include media(md) {
      margin: 0 rem(-24);
      padding-left: 24px;
      padding-right: 24px;
    }

    @include media(md) {
      position: relative;
    }
  }

  &__search-input {
    position: relative;

    & button,
    & .btn {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 1;
    }
  }

  &__card {
    border-bottom: 1px solid $color-blue-2;
    padding: 0 16px 24px;
    margin: 0 rem(-16) 0;

    @include media(md) {
      padding: 0 24px 24px;
      margin: 0 rem(-24) 0;
    }

    &:not(:last-child) {
      margin-bottom: rem(48);
    }
  }

  &__info {
    background: $color-blue-2;
    padding: 16px;

    @include media(md) {
      padding: 24px;
      margin-left: auto;
      max-width: rem(316);
    }
  }

  &__property {
    margin-bottom: 16px;
  }

  &__property-item {
    position: relative;
    display: flex;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;

    &>* {
      &:first-child {
        width: rem(94);
      }
    }
  }

  &__total {
    @extend %h4;
  }

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background: $color-white;
  }

  &::-webkit-scrollbar-thumb {
    // height: rem(194);
    background: $color-black;
    border: 10px solid $color-white;
    border-radius: rem(7);
  }
}
