mixin popup(data)
  //- модификатор
  +modif('popup', data.mod, data.prefix)

  //- префикс
  +prefix('popup', data.prefix)

  //- атрибуты
  - attr = data.attr || ''
  - var pref = pr

  div(class=`popup${pref}${mod} mfp-hide mfp-with-anim` id=`${data.id}` class=data.class)&attributes(attr)

    if (data.subtitle)
      div(class=`popup${pref}__subtitle` class=data.subtitle.class)!= data.subtitle.text

    if (data.title)
      div(class=`popup${pref}__title` class=data.title.class)
        if (data.title.icon)
          +icon(data.title.icon)

        if (data.title.text)
          span!= data.title.text

    div(class=`popup${pref}__content` class=data.contentClass)&attributes(data.contentAttr)
      //- видео
      if (data.video)
        video(controls class=`popup${pref}__video-container` src=`${data.video.src}`)

      //- слайдер
      if (data.slider)
        +slider(data.slider)

      if (data.review)
        +reviews(data.review)

      //- слайдер
      if (data.sliderThumbs)
        +slider(data.sliderThumbs)

      //- карточка
      if (data.card)
        div(class=`popup${pref}__card`)
          .row
            +card(data.card)

            if (data.info)
              div(class=`col-12` class=data.info.class)
                div(class=`popup${pref}__info`)
                  if (data.info.property)
                    ul(class=`popup${pref}__property`)
                      each property in data.info.property
                        li(class=`popup${pref}__property-item`)
                          span!= property.name
                          span!= property.value

                  if (data.info.total)
                    div(class=`popup${pref}__total`) Итого:&ensp;
                      != data.info.total              

      //- текст
      if (data.text)
        div(class=`popup${pref}__text`)!= data.text.text

      //- список
      if (data.ul)
        ul
          each li in data.ul
            li(class=li.class)!= li.text

      //- таблица
      if (data.table)
        div(class=`popup${pref}__table`)
          +table(data.table)

      //- карта
      if (data.map)
        div(class=`popup${pref}__map`)
          +map(data.map)

      if (data.form)
        form(action="" class=`popup${pref}__form` class=data.form.class id=data.form.id)&attributes(data.form.attr)
          //- список городов
          if (data.form.city)
            div(class=`popup${pref}__overflow`)
              div(class=`popup${pref}__overflow-inner`)
                div(class=`popup${pref}__city` data-list-city)
                  each item in data.form.city.list
                    div(class=`popup${pref}__city-item`)
                      a(href=item.href class=`popup${pref}__city-link`)&attributes(item.attr)!= item.text

                      if (item.subtext)
                        span(class=`popup${pref}__city-subtext`)!= item.subtext

            if (data.form.city.search)
              div(class=`popup${pref}__search`)
                .row.justify-content-center
                  .col-12.col-lg-9.pl-lg-0
                    div(class=`popup${pref}__search-input`)
                      if (data.form.city.search.field)
                        +input(data.form.city.search.field)

                      if (data.form.city.search.btn)
                        button&attributes(data.form.city.search.btn.attr)
                          +icon(data.form.city.search.btn.icon, data.form.city.search.btn.class)

          if (data.form.text)
            div(class=`popup${pref}__text`)!= data.form.text.text

          //- список полей формы
          if (data.form.fields)
            .row
              each item in data.form.fields
                div(class=`popup${pref}__form-item col-12` class=item.blockClass)
                  if (item.type == 'textarea')
                    +textarea(item)

                  else if (item.type == 'checkbox')
                    +checkbox(item)

                  else if (item.type == 'radio')
                    +radio(item)

                  else if ((item.type == 'text') || (item.type == 'email') || (item.type == 'tel'))
                    +input(item)

                  else if (item.type == 'select')
                    +select(item)

                  else if (item.type == 'promo')
                    +accordion(item.promo)

                  else
                    if (item.success)
                      div(class=`popup${pref}__success`)!= item.success

                    if (item.check)
                      div(class=`popup${pref}__check`)!= item.check

          //- Кнопки
          if (data.form.btn)
            div(class=`popup${pref}__btn` class=data.form.btn.class)
              each item in data.form.btn.list
                div(class=`popup${pref}__btn-item` class=item.class)
                  if (item.href)
                    a(href=item.href class=item.btnClass).btn&attributes(item.attr)= item.text
                  if (item.link)
                    a(href=item.href class=item.btnClass)&attributes(item.attr)= item.text
                  else
                    button(class=item.btnClass).btn&attributes(item.attr)= item.text

          if (data.form.bottom)
            div(class=`popup${pref}__bottom` class=data.form.bottom.class)
              if (data.form.bottom.link)
                a(href=data.form.bottom.link.href class=`popup${pref}__link` class=data.form.bottom.link.class)!= data.form.bottom.link.text

      //- Кнопки
      if (data.btn)
        div(class=`popup${pref}__btn` class=data.btn.class)
          each item in data.btn.list
            div(class=`popup${pref}__btn-item` class=item.class)
              if (item.href)
                a(href=item.href class=item.btnClass).btn&attributes(item.attr)= item.text
              else if (item.link)
                a(href=item.href class=item.btnClass)&attributes(item.attr)= item.text
              else
                button(class=item.btnClass).btn&attributes(item.attr)= item.text
      
      //-изображение
      if (data.img)
        img(class=`popup${pref}__img-container` src=`${data.img.src}`)  

      //- Аутентификация
      if (data.auth)
        div(class=`popup${pref}__auth` class=data.auth.class)
          +tabs({
            prefix: 'inline',
            head: [
              {
                text: 'Вход',
                class: 'active tabs-inline__link--center'
              },
              {
                text: 'Регистрация',
                class: 'tabs-inline__link--center'
              }
            ],
            body: [
              {
                login: true,
                class: 'active'
              },
              {
                registration: true
              }
            ],
            attr: {
              'data-tabs': '',
              'data-tabs-auth': ''
            }
          })

      //- Корзина
      if (data.cart)
        div(class=`popup${pref}__cart` class=data.cart.class)
          +cart(data.cart)

      //- Компонент регистрации в попапе
      if (data.registration)
        div(class=`popup${pref}__reg` class=data.registration.class)
          +registration(data.registration)
